/*.modal .modal-dialog{width:500px; margin:0 auto; padding:30px;}*/
.modal .modal-content{
    border-radius: 0px;
}
.modal .modal-header{
    border-bottom:none;
    padding:0px;
}
.modal .modal-header .modal-title{
    margin-top: 0px;
    background:#18a689;
    padding:5px 15px;
    font-size:20px;
    color:#fff !important;
    word-wrap: break-word;
}
.modal .modal-header .close{
    outline: 0px;
    font-size:30px; 
    color:#fff; 
    padding-right:15px; 
    margin-top: 3px; 
    font-weight:normal; 
    opacity: 1
}
.modal .modal-body{
    padding:15px 15px; 
    font-size:18px; 
    color:#6a6a6a;
}
.modal .modal-footer{
    /*border-top:none;*/ 
    margin:0px; 
    padding:7px 20px 7px; 
    text-align: right;
}
#navigation-test .feed-search h4{
    margin-top: 0px;
    background: #293846;
}
#navigation-test .feed-search{
    background: #f3f3f4 !important;
}
#navigation-test .feed-search li a, #navigation-test [class^="feed-"] .more{
    color: #676a6c !important;
}
#scroll-to-top{
    background: #1ab394 !important;
}
.navbar-fixed-top, .navbar-static-top{
    background: #1ab394 !important;
}
.nav.navbar-right > li > a, .nav > li > a{
    color: #fff;
}
.navbar-form-custom .form-control{
    background: #fff;
}
.navbar-top-links li:last-child{
    margin-right: 20px;
}
ul.cart-icon > li{
    padding-top: 5px;
}
ul.cart-icon > li > a{
    font-size: 20px !important;
}
.navbar-static-top{
    z-index: 26;
}
.nav>li>a:focus, .nav>li>a:hover, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: #1ab394 !important;
}
#navigation-test > a,#cart_popup table, #cart_popup th,#navigation-test .menu-contain-cart thead td,.footer_links li,.footer_links li a,.bottom_links li a,.copy_rights{
    color: #fff;
}


.new-main-menu ul.drop-down li {
    float: left;
    margin-right: 10px;
}
.new-main-menu ul li{
    margin-right: 0px;
}
.new-main-menu ul li > ul.drop-down li{
    position: static;
}
.new-main-menu ul li ul.drop-down li {
    width: 100%;
    margin-right: 0;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu {
    display: block;
    position: absolute;
    left: 230px;
    top: 0;
    width: 475px;
    background: #fff;
    border-left: 1px solid #eee;
    height: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu ul li {
    margin-bottom: 5px;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu ul li:last-child{
    margin-bottom: 0;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small {
    height: auto;
    width: 170px;
    left: 200px;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small > ul,.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small > ul > li {
    width: 100%;
    float: left;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small > ul > li > a {
    padding: 5px 10px;
    width: 88%;
    float: left;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small ul > li > a i {
    display: none;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small > ul > li > span {
    width: 100%;
    padding: 0;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small > ul, .new-main-menu ul li > ul.drop-down li:hover > .big-menu-small > ul > li{
    margin-bottom: 0;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small ul > li > span > a{
    color: #141212 !important;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small ul > li:hover > span > a{
    color: #006400 !important;
}
.new-main-menu ul li > ul.drop-down li:hover > .country-menu-small {
    height: 263px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 3px;
}
.new-main-menu ul li > ul.drop-down li:hover > .big-menu-small > ul > li {
    position: relative;
}
.new-main-menu ul li:hover ul.drop-down > li:hover > span{
    font-weight: normal;
}
.new-main-menu ul li:hover ul.drop-down > li:hover > span > a{
    /*color: #006400;*/
    color: #ffffff;
}
.new-main-menu ul li ul.drop-down li:hover ul li:hover span{
    color: #1ab394 !important;
}
.new-main-menu ul li ul.drop-down li:hover span{
    background:#fff url('../images/site/right-hover.gif') no-repeat;  
    background-position: 95% center;
    font-weight: bold;
    color: #1ab394;
}
.new-main-menu ul li ul.drop-down li span {
    width: 100%;
    padding: 7px 15px;
    background:#fff url('../images/site/right.gif') no-repeat;
    background-position: 95% center;
    color:#141212;
}
/*.new-main-menu ul li:hover ul.drop-down {
    display: block;
    position: absolute;
    left: 0;
    top: 41px;
    width: 200px;
    width: 230px;
    display: inline-block;
    background: #fff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: all 0.5s ease;
}*/
ul.bigger-menu {
    width: 230px;
    border-right: 1px solid #1ab394;
}
.dropdown-menu {
    border: medium none; 
    border-radius: 3px; 
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7); 
    display: none;
    float: left; 
    font-size: 14px; 
    left: 0;
    list-style: none outside none;
    /*padding: 5px 0;*/
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}
.new-main-menu ul.bigger-menu li > span,.new-main-menu ul.bigger-menu li > a {
    font-size: 14px;
}
.new-main-menu ul.bigger-menu li span {
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    float: left;
    /*padding: 12px 15px;*/
    vertical-align: middle;
    /*color: #c4c7cc;*/
}
.big-menu .big-menu-left h2, .big-menu .big-menu-right h2{
    color: #1ab394 !important;
}
.new-main-menu ul > li:last-child{
    float: left;
}
.new-main-menu, .footer_new{
    background: #1ab394 !important;
}
.new-main-menu > ul{
    width: 100%;
}
.new-main-menu ul li span{
    padding: 0;
    float: none;
}
.new-main-menu ul li > span, .new-main-menu ul li > a{
    font-size: 13px;
}
#page-wrapper{
    margin: 0px;
}
#footer{
    padding-bottom: 0px;
}
.dropdown.open .dropdown-menu li a{
    color:#1ab394;
    font-weight: bold;
    padding: 8px 15px;
    width: 100%;
}
.dropdown.open .dropdown-menu.bigger-menu li a{
    color:#1ab394;
    font-weight: normal;
    padding: 5px 0px;
    width: 100%;
}
.dropdown.open .dropdown-menu li{
    border-bottom: 1px solid #1ab394;
    width: 100%;
}
.nav.navbar-top-links.right_float.cart-icon li a i{
    /*color: #fff;*/
}
.navbar-top-links .dropdown-alerts{
    margin-left: -250px;
}
#navigation-test a:hover span{
    color: #fff !important;
}
.dropdown-menu>li a:focus, .dropdown-menu>li a:hover, .dropdown-menu>li:hover > div{
    background-color: #1ab394;
}
.dropdown-menu>li .big-menu a:hover{
    background-color: #ffffff;
}
.dropdown-menu>li:hover div{
    color: #fff !important;
}
.new-main-menu ul.primary-menu li:hover > a, .new-main-menu ul.primary-menu li:hover > span{
    color:#fff !important;
}
.primary{
    background-color: #1ab394;
    color: #ffffff;
}
.tab-content {
    float: none; 
    padding: 0 0; 
}
.dropdown-menu > li > a{
    margin: 0px;
    border-radius: 0px;
}
.input-group-addon{
    background-color: #eee;
    border: 1px solid #ccc;
}
.checkbox+.checkbox, .radio+.radio{
    margin-top: 10px;
}
#shipping .product-price{
    top: 0px;
}
#shipping .product-price{
    font-size: 11px;
}