body{
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	background:#fff;
	color:#000;
}
.wrapper{
	max-width:1012px;
	margin:8px auto 0;
	width:100%;
}
.wrapper .container,.wrapper .row{
	width:100%;
	padding:0px;
	margin:0px;
}
.fancy-logo{
	padding:18px 0 10px 15px;
	background:#454b56 none repeat scroll 0 0;
}
.product-details {
    border: 1px solid #000;
	margin: 0;
    padding: 0 15px 0 10px;
    width: 100%;
}
.order-head,.order-details{
    text-align:center;
    float: left;
    width: 50%;
	padding:10px 0px 0 0;
}
.order-details{
	border-left:1px solid #cecece;
}
.order-head  p,.order-details p{
	font-size:13px;
	color:#000;
	padding-bottom:5px;
}
.order-head p{
	font-weight:bold;
}
.product-details .row.clearfix .pull-right{
	width:100%;
	max-width:350px;
	border: 1px solid #cecece;
	margin:20px 0px 10px 0;
	padding:0px 0px;
	background:#f3f3f3;
}
.shipping-head {
    font-weight: bold;
	padding:10px;
	background:#f3f3f3;
	border: 1px solid #cecece;

}
.no-padding{
	padding:0px!important;
}
.shipping-details {
    margin: 0 auto 10px;
    width: 100%;
}
.shipping-details .col-md-6.no-padding {
    margin: 0 19px 0 0;
	width:48%;
}
.shipping-details .col-md-6.no-padding:last-child{
	margin:0px;
	width:50%;
}
.shipping-details .col-md-6.no-padding .shipping-address{
	border: 1px solid #cecece;
	border-top:0px;
	padding:10px 0 0 0;
}
.product-list {
    border: 1px solid #cecece;
	text-align:center;
}
.product-list img{
	float: left;
    height: auto;
    margin: 0 auto 0 60px;
    width: 30px;
}
.product-list .container .col-md-2 p:first-child,.product-list .container .col-md-1 p:first-child{
	margin:0px;
	padding:10px 0;
	background:#f3f3f3;
	border-bottom:1px solid #cecece;
	border-right:1px solid #cecece;
	font-weight: bold;
}
.product-list .container .col-md-2 p:last-child,.product-list .container .col-md-1 p:last-child{
	margin:0px;
	padding:10px 0;
	border-right:1px solid #cecece;
	text-align:center;
}
.product-price .pull-right{
	width:100%;
	max-width:250px;
	border-bottom:1px solid #cecece;
}
.total-row.clearfix p{
	float:left;
	color:#000;
	font-size:13px;
	width:50%;
	margin:0px;
	text-align:center;
	border:1px solid #cecece;
	border-bottom:0px;
	padding:10px 0px;
}
.total-row.clearfix p:first-child{
	font-weight:bold;
	border-right:0px solid #cecece;
}
.total-row.clearfix p:lasst-child{
	border-left:0px solid #cecece;
}
.product-price .container .pull-right .total-row:nth-child(n){
	background:#f3f3f3;
	padding:0px 0px;
}
.product-price .container .pull-right .total-row:nth-child(2n){
	background:#fff;
}
.product-price{
	margin:10px 0 20px 0px;
}
.shipping-address .col-sm-8,.shipping-address .col-sm-4{
	padding:0px !important;
}
/* Product Feedback style start */
.title-sec h2{
	border-bottom: 1px solid #e9eaed;
    color: #383d48;
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
    padding: 0 0 0 25px;
	margin: 0;
}
.fancy_shop_text {
    border: 1px solid #cecece;
    margin: 10px auto 0;
    padding: 20px;
    width: 97%;
}
.form-control-sec input,textarea{
	width:100%;
	max-width:250px;
	border-radius:0px;
	height:40px;
	resize:none;
	margin:0 0 10px 0;
	border-radius:0px;
}
textarea.form-control{
	border-radius:0px;
}
.form-control-sec button {
    border: 1px solid #3b65a4;
    border-radius: 3px;
    box-shadow: 0 1px 0 #509ad4 inset;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
    padding: 0 10px;
background: #4391d0; /* Old browsers */
background: -moz-linear-gradient(top,  #4391d0 0%, #347bc6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4391d0 0%,#347bc6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4391d0 0%,#347bc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4391d0', endColorstr='#347bc6',GradientType=0 ); /* IE6-9 */
}

sup {
    color: #ff0000;
    font-size: 9px;
    font-weight: bold;
}
.product-list select {
    padding: 5px 10px;
}
.form-control-sec .rating {
	background: rgba(0, 0, 0, 0) url("../img/stars.png") repeat-x scroll 0 0;
    height: 22px;
    top: 0px;
    width: 115px;
	margin-bottom:15px;
	cursor:pointer;
}
/* Product Feedback style end */
/* Product details style start */
.order-details-sec.clearfix .pull-left,.order-details-sec.clearfix .pull-right{
	width: 100%;
	max-width:300px;
	margin:0 auto;
	clear:both;
}
.order-details-sec.clearfix .pull-right{
	width: 100%;
	max-width:300px;
}
.order-details-sec.clearfix .pull-left p,.order-details-sec.clearfix .pull-right p{
	float:left;
	width:50%;
}
.order-details-sec.clearfix .pull-right p:first-child{
	font-weight:bold;
}
.order-details-sec.clearfix .pull-right p:last-child{
	text-align:left;
}
.order-section {
    border: 0px solid #cecece;
    margin: 0 auto;
    width: 100%;
	padding:0 10px;
}
.Comments {
     background: #f3f3f3 none repeat scroll 0 0;
    margin: 20px auto 25px;
    padding: 5px;
    width: 100%;
}
.Comments h2{
	margin: 5px 0px 5px 15px;
    font-size: 20px;

}
.comments .vcard .url .photo {
	border-radius: 3px;
    display: inline-block;
    float: none;
    height: 37px;
    margin-right: 0;
    max-width: 33px;
    vertical-align: top;
}
ul.commentContainer {
    list-style: outside none none;
	 margin: 0;
    padding: 0;
	height:200px;
	overflow-x:hidden;
	overflow-y:scroll;
}
.commentContainer li.comment {
    margin: 0 !important;
    padding: 0 !important;
}
.url {
    display: inline-block;
    width: 100%;
}
.vcard {
    display: inline-block;
	vertical-align: top;
	margin-right:10px;
}
.comment-details {
    display: inline-block;
}
.form-control-sec #comments{
	max-width:100%;
	background: #fefefe none repeat scroll 0 0;
    border-color: #b0b5bd #c1c5cb #d2d6dc;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    color: #393d4d;
    font-size: 13px;
    line-height: 19px;
    margin: 0 0 5px 0;
    padding: 5px 7px;
	border-width:1px;
	border-style:solid;
	height:65px;
}
.Comments h2{
	border-bottom: 1px solid #e9eaed;
    color: #383d48;
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
    padding: 0 0 0 25px;
}
/* Product details style end */


@media (max-width:600px){
	.shipping-details .col-md-6.no-padding {
		margin: 0;
		width: 100%;
	}
.shipping-details .col-md-6.no-padding:last-child {
    margin: 10px 0 0;
    width: 100%;
}
.product-list .container .col-md-2 p:first-child,.product-list .container .col-md-2 p:last-child,.product-list .container .col-md-1 p:first-child{
	border-right: 0 solid #cecece;
}
.product-list img{
	float:none;
	margin:0px;
	width:120px;
}
.product-price .pull-right{
	float:none!important;
	margin:0 auto;
	max-width:300px;
}
.product-list .container .col-md-2 p:first-child,.product-list .container .col-md-1 p:first-child{
	border-top:1px solid #cecece;
}
.product-details .row.clearfix .pull-right{
	float:none!important;
	margin-left: auto;
	margin-right: auto;
}
.order-details-sec.clearfix .pull-left,.order-details-sec.clearfix .pull-right{
	float:none!important;
	margin-top:10px;
}
.order-details-sec.clearfix .pull-right{
	width: 100%;
	max-width:300px;
}
.order-details-sec.clearfix .pull-right p:first-child{
	text-align:left;
}
.order-details-sec.clearfix {
    border: 1px solid #cecece;
    margin: 0 auto;
    width: 96%;
}
.product-list ,.order-section{
	margin:15px 0 0 0;
}
.order-details-sec.clearfix{
	padding: 0 0 0 10px;
}
}


.cms_page_style{
	padding: 10px;
}
.cms_page_style p{
	line-height: 22px;
	font-size: 13px;
	word-wrap: break-word;
}

.cms_page_style h4{
	border-bottom: 1px solid black;
    margin-bottom: 2%;
    padding-bottom: 1%;

}
