/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block
}
mark, rp, rt, ruby, summary, time {
	display:inline
}
/* Left & Right alignment */
.left {
	float:left !important;
}
.right {
	float:right !important;
}
.none {
	float:none !important;
}
.clear {
	clear: both;
}
a {
	color:#3C71B5;
	text-decoration:none;
	outline:none;
	border:none;
}
img{
	border:none;
}
a:hover {
	text-decoration:none
}
h1 {
	margin:0px;
	padding:0;
	display:inline-block;
}
h2 {
	margin:0px;
	padding:0;
}
h3 {
	margin:0px;
	padding:0;
}
p {
	margin:0px;
	padding:0;
}
ul {
	margin:0;
	padding:0;
}
li {
	list-style:none;
	text-align:left;
}


input, button, textarea, select {
    color: #383D48;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-seri;
    font-size: 1em;
    vertical-align: middle;
	text-indent: 0.01px;
text-overflow: "";
vertical-align: inherit;

}
/* Global properties ======================================================== */



.bor-top{border-top:1px solid #ccc}

.top-mar{margin-top:1em;}


body {
 	background:#DEE0E3;
    color: #383D48;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    min-height: 100%;
	margin:0;
	padding:0
    overflow-x: hidden;
}
#global{
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
#container{
	background:#DEE0E3;
    float: left;
    min-height: 100%;
    min-width: 25em;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#header {
    background:#3A3F49;
    border-bottom: 1px solid #252932;
    height: 3.4em;
    position: relative;
    z-index: 3;
}

input[type="checkbox"], input[type="radio"] {
    height: 0.92em;
    margin-top: -0.2em;
    vertical-align: middle;
    width: 0.9em;
}

input[type="radio"] {
    border-radius: 0.46em;
}
.logo {
    height: 1em;
    left: 50%;
    margin: -0.48em 0 0 -1.8em;
    position: absolute;
    top: 50%;
    width:5em;
}
.icon{
	background:url(../images/logo_icons.png) no-repeat;
}
.logo a {
    display: block;
    height: 0.72em;
/*     width: 3.9em; */
}
.logo a img{
	max-width: 100%;
	max-height: 1.4em;
}
.nav {
    background-position: -5.9em 0;
    background-size: 150px 150px;
    float: left;
    height: 1.2em;
    left: 0.8em;
    margin-bottom: 1.15em;
    margin-top: -0.6em;
    padding: 0.15em 0.1em;
    position: relative;
    text-indent: -1000em;
    top: 50%;
    width: 1.5em;
}
a.signin {
    color: #A6A9AC;
    float: right;
    font-size: 1.1em;
    line-height: 3.1em;
    padding-right: 0.7em;
}
#content {
    padding: 0.75em;
}
.welcome {
    color: #3A3D41;
    font-size: 0.95em;
    padding: 0.65em 0.78em 1.7em;
}
.welcome h2 {
    font-size: 1.4em;
}
.welcome p {
    opacity: 0.7;
    padding-top: 0.3em;
}
.figure-product
{
	background:#FFFFFF;
    border: 1px solid #BCBFC3;
    border-radius: 0.3em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8em;
}
.figure-product .figure {
    color: #8A8F9C;
    font-size: 1.1em;
    line-height: 1.3em;
    padding: 0.7em 0.72em 0.92em;
}
.figure-product .figure span {
    color: #8A8F9C;
}
.figure-product .figure img {
    display: block;
    margin: 0 auto 0.7em;
    max-width: 100%;
	max-height:19.9em;

    vertical-align: middle;
}
.figure-product .figure figcaption {
    color: #383D48;
}
.figure-product .figure .price {
    color: #383D48;
}
.figure-product .figure .username {
    color: #588CC7;
}
.figure-product .option {
    background:#FCFCFC;
    border-radius: 0 0 0.3em 0.3em;
    border-top: 0.1em solid #F3F4F5;
    line-height: 2.9em;
    text-align: right;
}
.figure-product .option .fancyy, .figure-product .option .fancyd{
    float: left;
    min-width: 5em;
    padding-right: 0;
    text-align: left;
}
.figure-product .option a {
    color: #778192;
    font-size: 0.95em;
    font-weight: bold;
    padding: 0 0.85em;
}
.figure-product .option .icon {
    display: inline-block;
    margin: -0.2em 0.2em 0 0;
    vertical-align: middle;
	    background-position: -2.07em 0;
    height: 1.25em;
    width: 0.75em;
	background-size: 150px 150px;
}
.figure-product .option .list {
    float: left;
}
.figure-product .option .list .icon {
    background-position: -3.3em 0;
    height: 0.85em;
    width: 1em;
}
.figure-product .option .comment .icon {
    background-position: -4.6em 0;
    height: 1.05em;
    width: 1.1em;
}
.wrap {
    background:#FFFFFF;
    border: 1px solid #BCBFC3;
    border-radius: 0.2em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);
    font-size: 1em;
}
.sign h2.tit {
    font-size: 1.4em;
}
.tit {
    border-bottom: 1px solid #E2E5E7;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.76em;
    padding: 0.75em 0.75em 0.66em;
    position: relative;
}
.sign .sign-sns dt {
    padding: 1.05em 0.7em 0.8em;
    position: relative;
}
.sign dt {
    color: #666A75;
    font-size: 1.1em;
    padding: 0.96em 0.8em 1em;
}
.sign .sign-sns dd {
    padding: 0 0.78em 1.5em; margin:0;
}
.sign .sign-sns ul {
    text-align: center;
    white-space: nowrap; clear:both; display:block; overflow:hidden;
}
.sign .sign-sns li:first-child {
    margin-left: 0;
    padding-left: 0;
}
.sign .sign-sns li {
    float: left;
    margin-right: 1.2%;
    position: relative;
    width: 32%;
}
.sign .sign-sns .btn-f {
    background:#4C699E;
    padding-left: 2em;
}
.sign .sign-sns button {
    border-radius: 0.15em;
    color: #FFFFFF;
    font-size: 0.88em;
    font-weight: bold;
    height: 3.38em;
    width: 100%;
}
button {
    border: 0 none;
    cursor: pointer;
    vertical-align: middle;
}
input, button, textarea, select {
    color: #383D48;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    vertical-align: middle;
}
.sign .sign-sns .btn-f .icon {
    height: 1.4em;
    left: 0.65em;
    margin-top: -0.7em;
    top: 50%;
    width: 1.4em;
}
.sign .icon, .faq-label .arrow, .fancybox_manager .option-frm .arrow, .promotion .arrow, .shop-by .arrow, .add-hotelinfo .hotel-charge dt i {
    background-size: 65px 55px !important;
}
.sign .icon {
    display: block;
    position: absolute;
}
.sign .icon, .faq-label .arrow, .fancybox_manager .option-frm .arrow, .promotion .arrow, .shop-by .arrow, .add-hotelinfo .hotel-charge dt i {
    background: url(../images/signImg.24ccc202bc1e.png) no-repeat;
}
.sign .sign-sns .btn-g {
    background:#DA573B;
    padding-left: 2.3em;
}
.sign .sign-sns .btn-g .icon {
    background-position: -3.58em 0;
    height: 1.35em;
    left: 0.78em;
    margin-top: -0.675em;
    top: 50%;
    width: 1.45em;
}
.sign .sign-sns .btn-t {
    background:#1DAEE3;
    padding-left: 2.6em;
}
.sign .sign-sns .btn-t .icon {
    background-position: -1.75em 0;
    height: 1.3em;
    left: 0.84em;
    margin-top: -0.6em;
    top: 50%;
    width: 1.5em;
}
.sign .signin-frm dt {
    color: #373D48;
    padding: 1.28em 0.7em 0.9em;
}
.sign .frm {
    padding: 0.78em; margin:0;
}
.sign .frm p {
    padding-bottom: 1em;
}
.sign .frm .label {
    color: #383D48;
    display: block;
    font-size: 1em;
    padding: 0.1em 0 0.6em;
}
.sign .frm input {
    width: 100%;
}
input[type="text"], input[type="password"], textarea, input[type="email"] {
    box-sizing:border-box;
	-moz-box-sizing:border-box;
    background:#FFFFFF;
    border: 0.1em solid #BBC0C8;
    border-radius: 0;
    box-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.08) inset;
    height: 2.35em;
    padding: 0 0.55em;
}
.sign .frm .btn-signin, .sign .frm .btn-create {
    line-height: 2.58em;
    margin-top: 0.2em;
    padding: 0 0.78em;
    text-shadow: 0 -1px 0 rgba(27, 93, 162, 0.48);
}
.contribute-frm fieldset button.on, .btn-blue {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background:url(../images/btn-bg.png) repeat-x;
    border-color: #307AC9 #2870BC #2369B3;
    border-image: none;
    border-radius: 0.15em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 2.65em;
    padding: 0 1.1em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.26);
}
.sign .frm .go-pw {
    color: #588CC7;
    display: inline-block;
    margin: 0.2em 0 0 0.8em;
    vertical-align: middle;
}
.sign .signup-frm dt {
    cursor: pointer;
    position: relative;
}
.sign .signup-frm {margin:0}
.sign .arrow {
    background-position: 0 -3.1em;
    height: 0.8em;
    margin-top: -0.4em;
    right: 0.78em;
    top: 50%;
    width: 1em;
}
.showlist1{display:none;}





<!--------------------------------------------------------------detail--page---------------------------------------------------------------->






.detail-product img{
    display: inline;
    margin: 0;
    max-height: 19.9em;
    max-width: 100%;
    vertical-align: middle;
}

.addtocart{
    border-top: 0.1em solid #E2E5E7;
    padding: 10px;
}

.greenbutton{
line-height: 2.65em;
color: #fff;
font-size: 1.1em;
font-weight: bold;
border: 1px solid #569d37;
border-color: #569d37 #549839 #51923d;
box-shadow: 0 1px 1px rgba(0,0,0,0.2);
border-radius: 0.15em;
background: #6fbf4a;
background: -webkit-linear-gradient(top, #6fbf4a, #5db535);
background: -moz-linear-gradient(top, #6fbf4a, #5db535);
background: -o-linear-gradient(top, #6fbf4a, #5db535);
background-image: -ms-linear-gradient(#6fbf4a, #5db535);
text-shadow: 0 -1px 1px rgba(0,0,0,0.26);
}

.buyclick{clear: both;
width: 100%;}

.social-icons {
    font-size: 0.92em;
    line-height: 2.65em;
    padding: 1.4em 0 1.3em;
}

.social-icons li{
    border-bottom: 0.1em solid #F7F7F8;
}

.social-icons li a{
    color: #30598C;
    display: block;
}


.social-icons li .share-icon .icon {
    background-position: -3.8em -3.8em;
    height: 1.15em;
    margin: -0.4em 0.35em 0 0;
    width: 1.22em;
	background-size: 150px 150px;
	  display: inline-block;
    vertical-align: middle;
}



.social-icons li .icon {
	background-size: 150px 150px;
	  display: inline-block;
    vertical-align: middle;
}


.social-icons li .feature .icon{
    background-position: -2.55em -5.1em;
    height: 1.2em;
    margin: -0.2em 0.35em 0 0.2em;
    width: 1.2em;
}


.social-icons li .want .icon{
    background-position: 0 -3.75em;
    height: 0.9em;
    margin: -0.2em 0.3em 0 0.2em;
    width: 1em;
}
.social-icons li .wanted .icon{
    background-position: -1.25em -10em;
    height: 0.9em;
    margin: -0.2em 0.3em 0 0.2em;
    width: 1em;
}
.social-icons li .own .icon {
    background-position: -1.25em -3.8em;
    height: 0.9em;
    margin: -0.2em 0.4em 0 0.15em;
    width: 0.95em;
}
.social-icons li .owned .icon {
    background-position: 0 -10em;
    height: 0.9em;
    margin: -0.2em 0.4em 0 0.15em;
    width: 0.95em;
}
.social-icons li .selected .icon {
    background-position: -1.25em -3.8em;
    height: 0.9em;
    margin: -0.2em 0.4em 0 0.15em;
    width: 0.95em;
}

.social-icons li .color .icon  {
    background-position: -2.55em -3.85em;
    height: 1.2em;
    margin: -0.2em 0.4em 0 0.15em;
    width: 0.95em;
}
.responce{

    padding-bottom: 1.58em;
    width: 100%;
}

.report-page {
    background: none repeat scroll 0 0 #FBFBFB;
    border-radius: 0 0 0.15em 0.15em;
    border-top: 0.1em solid #ECEDEF;
    clear: both;
    color: #8D9094;
    display: block;
    font-size: 0.8em;
    margin: 0 -0.95em -1.5em;
    padding: 0.9em 1em;
}

.report-page .icon{
    background-position: 0 -60px;
    background-size: 150px 150px;
    display: inline-block;
    height: 0.88em;
    margin: -0.2em 0.2em 0 0;
    vertical-align: middle;
    width: 0.7em;
}

.comments-title{
    border-bottom: 1px solid #E2E5E7;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.76em;
	 background: none repeat scroll 0 0 #F8F9F9;
    border-radius: 0.15em 0.15em 0 0;
    padding: 0.75em 0.75em 0.66em;
    position: relative;
}

a.show-comment{
display: block;
padding: 0.94em 0.85em;
font-weight: bold;
color: #383d48;
min-height: 1.5em;
border-bottom: 1px solid #e7eaee;
}

.user-comment li{
display: block;
position: relative;
padding-left: 3.3em;
font-size: 1em;
line-height: 1.3em;
color: #3a3d41;
min-height: 2.8em;
padding-bottom: 1em;
word-break: break-all;
}
.user-comment{
padding: 0.95em 0.85em 0;
}

.user-comment li .user-name {
display: block;
color: #383d48;
}

.user-comment li img{
position: absolute;
top: 0.2em;
left: 0;
width: 2.58em;
height: 2.58em;
border-radius: 0.15em;
}
.post-comment fieldset {
    border-top: 1px solid #E7EAEE;
    padding: 0.8em 5em 0.8em 0.8em;
	border-left:none;
	border-right:none;
	border-bottom:none;
    position: relative;
}

.post-comment input {
-webkit-appearance: none;
border: 0.1em solid #bbc0c8;
border-radius: 0;
box-shadow: inset 0 0.1em 0 rgba(0,0,0,0.08);
background: #fff;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
height: 2.35em;
width: 100%;
height: 2.4em;
padding: 0 0.55em;
}


.post-comment button{
position: absolute;
right: 0.8em;
top: 0.8em;
padding: 0;
width: 4.2em;

display: inline-block;
border: 1px solid #c3c3c3;
padding: 0 1em;
border-radius: 0.15em;
color: #4c4f53;
font-weight: bold;
background: #f0f0f0;
background: -webkit-linear-gradient(top, #fcfcfc,#f0f0f0);
background: -ms-linear-gradient(top, #fafafa,#f0f0f0);
background: -moz-linear-gradient(top, #fafafa,#f0f0f0);
background: -o-linear-gradient(top, #fafafa,#f0f0f0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#f0f0f0');
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
line-height: 2.45em;
font-size: 0.94em;
text-shadow: 0 1px 0 #fff;
border-color: #c3c3c3 #bebebe #b6b6b6;
}

.product-image li a img{
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
}

.product-image li{
    margin: 0.76em 0 1.48em 0.76em;
    width: calc(33% - 0.9em);
	float:left;
}

.product-image li .listing-img{
display: block;
color: #8a8f9c;
font-size: 0.8em;
line-height: 1.18em;
background: #fff;
}

.product-image li b{
    color: #383D48;
    display: block;
    padding-top: 0.2em;
}

.product-image:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.userinformation{
padding: 0.78em;
border-top: 0.1em solid #E7EAEE;s
min-height: 2.58em;
}
.button-follow{
float: right;
margin-top: 0.15em;

display: inline-block;
border: 1px solid #c3c3c3;
 padding: 0 1em 0.5em;
 height:30px; width:30px;
border-radius: 0.15em;
color: #4c4f53;
font-weight: bold;
background: #f0f0f0;
background: -webkit-linear-gradient(top, #fcfcfc,#f0f0f0);
background: -ms-linear-gradient(top, #fafafa,#f0f0f0);
background: -moz-linear-gradient(top, #fafafa,#f0f0f0);
background: -o-linear-gradient(top, #fafafa,#f0f0f0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#f0f0f0');
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
line-height: 2.45em;
font-size: 0.94em;
text-shadow: 0 1px 0 #fff;
border-color: #c3c3c3 #bebebe #b6b6b6;

}


.button-follow2{
float: right;
margin-top: 0.15em;

display: inline-block;
border: 1px solid #c3c3c3;
 padding: 0 1em 0.5em;
 height:30px; width:30px;
border-radius: 0.15em;
color: #4c4f53;
font-weight: bold;
background: #f0f0f0;
background: -webkit-linear-gradient(top, #fcfcfc,#f0f0f0);
background: -ms-linear-gradient(top, #fafafa,#f0f0f0);
background: -moz-linear-gradient(top, #fafafa,#f0f0f0);
background: -o-linear-gradient(top, #fafafa,#f0f0f0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#f0f0f0');
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
line-height: 2.45em;
font-size: 0.94em;
text-shadow: 0 1px 0 #fff;
border-color: #c3c3c3 #bebebe #b6b6b6;

}

.button-follow .icon{
	 background-image: url("../images/search.4a1f857d36be.png");
display: inline-block;
width: 1.18em;
height: 1.1em;
background-position: 0 -1.25em;
vertical-align: top !important;
background-size: 50px 50px;
margin-top: 0.48em;
}

.userinformation b {
display: block;
color: #383d48;
}

.userinformation a{
    color: #8A8F9C;
    font-size: 0.94em;
}

.userinformation .member {
    border-radius: 0.25em;
    float: left;
    height: 2.75em;
    margin-right: 0.7em;
    width: 2.75em;
}

.follow-image{ background: url("../images/placeholder.cf38ba6e3dd0.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);}


.follow-image {
clear: both;
padding-top: 0.78em;
white-space: nowrap;
margin:0;
overflow: hidden;
 background-size: 57px 54px;

background-position: 0 0.79em;
}

.follow-image a{
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    height: 4.5em;
    margin-right: 4px;
    vertical-align: top;
    width: 4.5em;
}

.fig-detail {
    color: #383D48;
    font-size: 1em;
    padding: 0.9em 0.8em 0;
    text-align: left;
}

.popup-inner .amount  { color: #383D48;
    font-size: .9em;
    font-weight: bold;
    padding-left: 0.7em;}


.popup-inner .amount small {
    font-size: 0.8em;
    font-weight: normal;
}

.popup-inner .figure-product .figure{text-align:center;}

.popup-inner .from {
    background: none repeat scroll 0 0 #F6F6F6;
    border-radius: 0.15em;
    margin: 0 0.8em 1em;
    padding: 0.3em;
}

.popup-inner .from  fieldset {
position: relative;
border: 0.1em solid #eaeaea;
background: #fff;
border-top: 0;
padding: 0.7em;
}

.popup-inner .from p.left-side{
    float: left;
    margin-left: 0.7em;
}

.popup-inner .text-Option{
    color: #8D9094;
    display: block;
    font-size: 0.65em;
    font-weight: bold;
    padding-bottom: 0.75em;
}

.popup-inner .click{
    width: 14.3em;
	background-position: 100% 50%;
    border: 0.1em solid #CFD0D2;
    border-radius: 0.15em;
    box-shadow: 0 0.1em 0.1em #F2F2F2;
    font-size: 1em;
    height: 2.4em;
    padding: 0 1.6em 0 0.4em;
	 background-size: 14px 5px;
	   background: url("../images/select-arrow.a28228ca3f7b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.popup-inner .num{    width: 3.9em;background-size: 14px 5px; background-position: 100% 50%;
    border: 0.1em solid #CFD0D2;
    border-radius: 0.15em;
    box-shadow: 0 0.1em 0.1em #F2F2F2;
    font-size: 1em;
    height: 2.4em;
    padding: 0 0.6em 0 0.4em;background: url("../images/select-arrow.a28228ca3f7b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}


	.popup-inner .from fieldset p:first-child{margin-left:0;}


.popup-inner .details {
    color: #8A8F9C;
    font-size: 1em;
    line-height: 1.2em;
/*     max-height: 10.55em; */
/*     overflow: hidden; */
    padding: 0 1.2em;
}

.popup-inner .details p{
    padding-bottom: 1.2em;
}

a.more-button{
    border-radius: 0 0 0.15em 0.15em;
    box-shadow: 0 -4em 0.78em #FFFFFF inset;
    color: #588CC7;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: -2em 0 0;
    padding: 2em 1.2em 1.3em;
    position: relative;
}

a.more-button i {
    background-size: 150px 150px;

    display: inline-block;
    height: 0.6em;
    margin: -0.2em 0 0 0.1em;
    vertical-align: middle;
    width: 0.6em;
	 background: url("../images/m_img.48965d3188d5.png") no-repeat -5.9em -3.9em;
}

.ship-address {
    border-top: 0.1em solid #F8F9F9;
    margin: 0 0.78em;
    padding: 0.94em 0 1.2em;
}

.ship-address dt {
    color: #383D48;
    font-size: 1em;
    font-weight: bold;
    padding: 0 0 0.78em;
}

.ship-address dd {
	margin:0;
    color: #383D48;
    font-size: 1em;
    line-height: 1.6em;
}


.ship-address b {
    color: #8D9094;
    font-weight: normal;
    padding-right: 0.65em;
}

.figure-list1:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

ul.figure-list1{
    padding: 0.78em 0 0 0.1em;
}

.figure-list1 li {
    border: 0 none;
    margin: 0 0 1.2em 0.75em;
    width: 6.55em;
	float:left;
}

.figure-list1 li a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #8A8F9C;
    display: block;
    font-size: 0.8em;
    line-height: 1.18em;
}

.figure-list1 li a img{
    height: 8.2em;
    width: 8.2em;
	 background-position: 50% 50%;
    background-size: cover;
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
}








.tab-menu:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.tab-menu li:first-child {
    padding-left: 0.2em;
}

.tab-menu li{
    display: inline-block;
    float: none;
	text-align:center;
    width: 16.55em; cursor: pointer;
}

.tab-menu li:first-child a {
    border-left: 0 none;
}


.tab-menu li a {
    border-left: 0.1em solid #E5E5E6;
    color: #67717A;
    display: block;
    font-size: 0.94em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.99em 0;
}

.follower-index{
    min-height: 6.3em;
    padding: 0.78em 2em 0 7em;
    position: relative;
}

.follower-index img.member {
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 0.15em;
    height: 5.5em;
    left: 0.78em;
    position: absolute;
    top: 0.78em;
    width: 5.5em;
	border:none;
}

.follower-index .memname{
    color: #383D48;
    font-size: 1.1em;
    margin-bottom: -0.1em;
}

.follower-index .memname .icon{
	 background: url("../images/m_img.48965d3188d5.png") no-repeat -5.64em -9.25em;
	 background-size: 150px 150px;
	  margin-left: 0;
    display: inline-block;
    height: 0.8em;
    vertical-align: middle;
    width: 0.85em;
}

.follower-index a.online {
    color: #8A8F9C;
    display: inline-block;
    font-size: 0.86em;
    word-break: break-all;
    line-height: 20px;
}

.follower-index a.online .icon{
    background-position: -6.25em -11.8em;
    display: inline-block;
    height: 1em;
    margin: -0.2em -0.1em 0;
    vertical-align: middle;
    width: 1em;
	 background-size: 150px 150px;
}
.icon{

background-image:url(../images/m_img.48965d3188d5.png)}

.follower-index .grade{
    background: none repeat scroll 0 0 #778192;
    border-radius: 0.15em;
    bottom: 0.8em;
    color: #FFFFFF;
    left: 7em;
    line-height: 1.2em;
    padding: 0 0.3em;
    position: absolute;
    vertical-align: top;
}

.follower-index span {
    font-size: 0.62em;
}

.explain dt {
    height: 1em;
    margin-top: -1.75em;
    padding-bottom: 0.78em;
    padding-left: 7em;
    position: relative;
}

.explain dt .icon{
	background-size: 150px 150px;
	 background-position: -6.68em -7em;
	 height: 0.8em;
    position: absolute;
    right: 1em;
    top: 0.2em;
    width: 1.1em;
}

.explain .data{
    color: #8A8F9C;
    font-size: 0.94em;
    line-height: 1.32em;
    padding: 0.65em 0.8em 0.5em;
	    border-top: 1px solid #EAEBEC;
		margin:0;
}


.figure-product .following {
    background: none repeat scroll 0 0 #F8F9F9;
    border-top: 1px solid #E7E9EB;
    color: #8A8F9C;
    line-height: 2em;
    padding: 0.48em 0.78em 0.45em;
    position: relative;
}

.following a {
    color: #778192;
    font-size: 0.94em;
}


.data a{ color: #778192;
    display: inline-block;
	padding:0}

.data a .icon{
   display: inline-block;
    height: 1.3em;
    margin-top: -0.2em;
    vertical-align: middle;
    width: 1.4em;
	  background-position: -11.7em -9.85em;
	    background-size: 150px 150px;
}


/*-----------------------------------------------------------------------Badge-page----------------------------------------------*/

.badge-list li {
    border-top: 0.1em solid #EDEFF0;
    min-height: 3.5em;
    padding: 1.4em 0.78em 1.4em 6.3em;
    position: relative;
}

.badge-list img{
    height: 4.7em;
    left: 0.78em;
    position: absolute;
    top: 0.78em;
    width: 4.7em;
}

.badge-list big {
    color: #383D48;
    display: block;
    font-size: 0.94em;
}

.badge-list span{
    color: #8A8F9C;
    display: block;
    font-size: 0.88em;
    line-height: 1.18em;
    padding-top: 0.35em;
}



/*-----------------------------------------------------------------------list-page----------------------------------------------*/


.lists-list {
    margin: 0 auto;
    max-width: 33.6em;
    padding: 0 0 0 0.6em;
}

.lists-list li {
    display: inline-block;
    padding: 0 0.2em 1.35em;
    vertical-align: top;
    width: 10.62em;
}

.lists-list li .list-bg{  background-size: 136px 136px;   display: block;
    height: 10.62em;
    overflow: hidden;
    width: 10.62em;
}

.list-bg{
    background: url("../images/placeholder-lists4.16656211e654.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.lists-list li .text{
    clear: both;
    color: #8A8F9C;
    display: block;
    font-size: 0.8em;
    padding: 0.5em 0 0 0.1em;
}

.lists-list li .text b {
    color: #383D48;
    font-weight: normal;
}

.lists-list li img {
    background-position: 50% 50%;
    background-size: cover;
    float: left;
    height: 5.25em;
    margin: 0 1px 1px 0;
    width: 5.25em;
}

.wants{
    padding: 0 0.78em;
}

.wants li  {
    float: left;
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 1.25em 0;
    width: 49%;
}

.wants li:nth-child(2n+1) {
    clear: both;
    padding: 1.25em 1.33em 1.25em 0.59em;
}


.wants li img {
    background-position: 50% 50%;
    background-size: cover;
    height: 13.2em;
    width: 100%;
}

.wants-title{
    color: #383D48;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.userlist{
    color: #8A8F9C;
    display: block;
    overflow: hidden;
    padding-top: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.wants-product:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.userlist a{color:#06F;}


.activity li:first-child {
    border-top: 0 none;
}

.activity li {
    border-top: 1px solid #E7EAEE;
    font-size: 1em;
    line-height: 1.2em;
    min-height: 3.8em;
    padding: 0.68em 6em 0.78em 2.4em;
    position: relative;
}

.activity li i{
    display: inline-block;
    left: 0.78em;
    position: absolute;

    background: url("../images/activity.d8f965b5f2bf.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

    top: 0.78em;
}


.activity li i{
    background-position: -1.2em 0;
    height: 1.1em;
    width: 1.1em;
}

.activity li i{
    background-size: 50px 15px;
}


.activity li img{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3.65em;
    position: absolute;
    right: 0.78em;
    top: 0.78em;
    width: 3.65em;
}

.activity li .time {
    color: #8A8F9C;
    display: block;
    font-size: 0.8em;
    padding-top: 0.4em;  padding-left: 6.0em;

}

.activity li a {
    color: #3C71B5;}

.color-container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBFC3;
    border-radius: 0.2em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.color-title{
    border-bottom: 1px solid #E2E5E7;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.76em;
    padding: 0.75em 0.75em 0.66em;
    position: relative;
	background: none repeat scroll 0 0 #F8F9F9;
    border-radius: 0.15em 0.15em 0 0;
	  margin-bottom: 0.78em;
}

.color-shop:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.color_item{
    float: left;
    margin: 0 0 1.48em 0.76em;
    width: calc(33% - 0.9em);
}


.color-shop li:nth-child(3n+1) {
    clear: both;
}

.color-shop li img{
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
}

.color-shop li a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #8A8F9C;
    display: block;
    font-size: 0.8em;
    line-height: 1.18em;
}

.button-follow2 .icon{
    background-position: -1.6em -1.2em;

    display: inline-block;
    height: 1.1em;
    margin-top: 0.48em;
    vertical-align: top !important;
    width: 1.25em;
}

.button-follow2 .icon{
    background-size: 50px 50px;
}

.button-follow2 .icon{
    background-image: url("../images/search.4a1f857d36be.png") !important;
}





/*------------------------------------setting page--------------------------------------*/



.setting-page{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0.15em;
    box-shadow: 0 0.1em 1px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    font-weight: bold;
    line-height: 3.06em;
    margin-bottom: 1.1em;
}

.setting-page a {
    border-bottom: 0.1em solid #E2E5E7;
    color: #383D48;
    display: block;
    padding: 0 1.55em 0 0.78em;
    position: relative;
}
.identy{
    background: url(../images/setting.png) no-repeat;
}

.setting-page a .identy{
    background-position: -0.7em 0;
    height: 1.35em;
}

.setting-page a .identy{
    background-size: 110px 100px;
	 display: inline-block;

    margin: 1.0em 0.4em 0 0;
    vertical-align: middle;
    width: 1.3em;
}


.setting-page a .arrow{
    background-position: 0 0;
    height: 0.94em;
    margin-top: -0.47em;
    position: absolute;
    right: 0.7em;
    top: 50%;
    width: 0.65em;
}

.setting-page a .arrow{
    background-position: 0 0;
    height: 0.94em;
    margin-top: -0.47em;
    position: absolute;
    right: 0.7em;
    top: 50%;
    width: 0.65em;
}
.setting-page a .arrow{    background-size: 110px 100px;
}


.setting-page a .arrow{

	background-image:url(../images/setting.png);
}

.setting-page a.Pref .identy{
    background-position: -2.1em 0;
    height: 1.35em;
}

.setting-page a.Pass .identy {
    background-position: -4.7em 0;
    height: 1.35em;
}

.setting-page a.Notif .identy{
    background-position: -3.4em 0;
    height: 0.95em;
    margin-right: 0.34em;
    width: 1.35em;
}

.setting-page a.Apps .identy{
    background-position: -5.3em -4.28em;
    height: 1.3em;
}

.setting-page a.Purc .identy{
    background-position: 0.1em -1.45em;
    height: 1.28em;
}



.setting-page a.Group .identy{
    background-position: -3.91em -1.45em;
    height: 1.3em;
}
.setting-page a.Subs .identy {
    background-position: -2.6em -1.45em;
    height: 1.3em;
}

.setting-page a.Pay .identy {
    background-position: -6.05em 0;
    height: 0.98em;
}
.setting-page a.Ship .identy {
    background-position: -1.2em -1.45em;
    height: 1em;
    margin-right: 0.3em;
    width: 1.35em;
}


.setting-page a.Cred .identy {
    background-position: 0 -2.85em;
    height: 1.3em;
}





.setting-page a.Ref .identy {
    background-position: -5.3em -1.45em;
    height: 1.1em;
}



.setting-page a.Inv .identy{
    background-position: -1.45em -2.85em;
    height: 1em;
}


.setting-page a.Gif .identy{
    background-position: -1.1em -4.25em;
    height: 1.1em;
}

/*-------------------------setting-account-------------------------*/

.tit-profile{
    border-bottom: 1px solid #E2E5E7;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.76em;
    padding: 0.75em 0.75em 0.66em;
    position: relative;
}

.profile-account dd{
    border-bottom: 0.1em solid #E2E5E7;
    padding: 0 0.78em 1.6em;
}

.profile-account .label {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 1.45em 0 0.35em;
}

.account-wrap{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0.2em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.profile-frm{margin:0;padding:0;}

.profile-account dd{margin:0;}


.profile-account small {
    color: #8A8F9C;
    font-size: 0.94em;
}

.profile-account input,.profile-account textarea{width:100%;}

.profile-account textarea{
    height: 10em;
}

.account-wrap dl{margin:0;}
.profile-account select{width:100%;}

.profile-account .years select{
    background-position: 100% 50%;
    border: 0.1em solid #CFD0D2;
    border-radius: 0.15em;
    box-shadow: 0 0.1em 0.1em #F2F2F2;
    font-size: 1em;
    height: 2.4em;
    padding:0.4em 1.6em 0.5em 0.4em;
	 text-indent: 0.01px;
   text-overflow: "";
   vertical-align: inherit;
   background-image:url(../images/select-box.png);
   background-repeat:no-repeat;
      background-size: 17px auto;
}


.profile-account p.effete input{width:auto;}

.silver-button{
    background: none;
    color: #588CC7;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 1.6em 0 1.5em;
    text-align: center;
    width: 100%;
}

.silver-button img {
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 0.15em;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5);
    height: 6.75em;
    margin-bottom: 0.94em;
    width: 6.75em;
}

.silver-button b {
    display: block;
}

small.profile-info{
    color: #8A8F9C;
    font-size: 0.94em;
}
.profile-frm dd{margin:5px;}

.btton-container{
    background: none repeat scroll 0 0 #DEE0E3;
    bottom: 0;
    left: 0;
    min-width: 25em;
    position: fixed;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.btn-list{
margin: 0 0.78em 0.78em;
padding: 0.78em;
background: #fff;
border: 1px solid #bcbfc3;
box-shadow: 0 0 0.3em rgba(202,203,209,0.2),0 1px 0.3em rgba(0,0,0,0.1);
border-radius: 0 0 0.15em 0.15em;
border-top-color: #e2e5e7;
}

.profile-button{
display: inline-block;
border: 1px solid #307ac9;
border-color: #307ac9 #2870bc #2369b3;
background: #428ad6;
background: -webkit-linear-gradient(top, #428ad6,#357ecb);
background: -ms-linear-gradient(top, #428ad6,#4781b9);
background: -moz-linear-gradient(top, #428ad6,#357ecb);
background: -o-linear-gradient(top, #428ad6,#357ecb);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428ad6',endColorstr='#357ecb');
box-shadow: 0 1px 1px rgba(0,0,0,0.2);
line-height: 2.65em;
color: #fff;
padding: 0 1.1em;
border-radius: 0.15em;
font-weight: bold;
font-size: 1.1em;
text-shadow: 0 -1px 1px rgba(0,0,0,0.26);
}

.btn-list button{width:100%;}

.count{float:right;}


/*---------------------------------------------------------------findfriends---------------------------------------------------------------*/

.headlines{
    border-bottom: 1px solid #E2E5E7;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.76em;
    padding: 0.75em 0.75em 0.66em;
    position: relative;
	  background: none repeat scroll 0 0 #F8F9F9;
    border-radius: 0.15em 0.15em 0 0;
}


.search-place{position:relative;  padding: 10px;}

.search-place i {
    background-position: 0 -6.25em;
    display: inline-block;
    height: 1.2em;
    left: 1.5em;
    position: absolute;
    top: 1.4em;
    width: 1.1em;
}

.search-place i{
    background-position: 0 -6.2em;
    display: inline-block;
    height: 1.2em;
    left: 1.5em;
    position: absolute;
    top: 1.7em;
    width: 1.1em;
}

.search-place i{
    background-size: 100px 100px;
background-image: url(../images/findfriends.png);
}


.findfriends .identy{
    background: url(../images/findfriends.png) no-repeat;
}

.findfriends .setting-page a.fab  .identy {
    background-size: 100px 100px;
}


.findfriends .setting-page a.fab .identy {
    background-position:0 0;
}

.findfriends .setting-page a.twi .identy{
    background-position: -3.16em 0;
	background-size: 100px 100px;
}


.findfriends .setting-page a.gog .identy{
    background-position: 0 -3.16em;
	background-size: 100px 100px;
}

.findfriends .setting-page a.gmi .identy{
    background-position: -3.16em -3.16em;
	background-size: 100px 100px;
}
.search-place input{
    padding-left: 2.3em;
    width: 16.55em;
}

.findfriends .setting-page a .identy{
    display: inline-block;
    height: 2.75em;
    margin-right: 0.48em;
    vertical-align: middle;
    width: 2.75em;
}

.grey-search {
display: inline-block;
border: 1px solid #c3c3c3;
padding: 0 1em;
border-radius: 0.15em;
color: #4c4f53;
font-weight: bold;
background: #f0f0f0;
background: -webkit-linear-gradient(top, #fcfcfc,#f0f0f0);
background: -ms-linear-gradient(top, #fafafa,#f0f0f0);
background: -moz-linear-gradient(top, #fafafa,#f0f0f0);
background: -o-linear-gradient(top, #fafafa,#f0f0f0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#f0f0f0');
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
line-height: 2.45em;
font-size: 0.94em;
text-shadow: 0 1px 0 #fff;
border-color: #c3c3c3 #bebebe #b6b6b6;
}

.findfriends .setting-page{ font-size: 1em;}

.findfriends  .setting-page a{
    padding: 0.5em 1.55em 0.5em 0.78em;
}

.findfriends-tabpick .setting-page {
    font-size: 1em;}






.shop .color-container{margin-bottom:1em;}

.color-shop li b {
    color: #383D48;
    display: block;
    padding-top: 0.2em;
}

.color-title a{
    color: #588CC7;
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 0.18em;
}


.gift-wrap{
    background-color: #EEF1F4;
    background-position: 50% 100%;
    border-bottom: 1px solid #C6C8CB;
    color: #8A8F9C;
    font-size: 0.62em;
    height: 15.2em;
    text-align: center;
}

.gift-wrap {
    background-size: 203px 70px;
}

.gift-wrap {
    background-image: url("../images/banner3.png");
	background-repeat:no-repeat;
}


.gift-wrap strong {
    color: #383D48;
    display: block;
    font-size: 2em;
    font-weight: normal;
    padding: 0.98em 0 0.2em;
}

.gift-index .color-title{margin-bottom:0;}

.gift-text{
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.88em 0.78em 0.88em 0.78em;
}
.color-shop-divider img{
    float: left;
    height: auto;
    margin: 1px;
    width: 47%;
}


.color-shop-divider:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

/*-------------------------FancyyboxS-------------------------*/

.banner2{background:url(../images/boxy.png) no-repeat;}

.banner2{
    background-color: #67B8F2;
    border-bottom: 0.1em solid #67ABDC;
    border-top: 0.1em solid #67ABDC;
    padding: 1.7em 1.5em 2.58em;
}

.banner2 small {
    color: #A4DCFF;
    display: block;
    font-size: 0.8em;
    padding-bottom: 1.45em;
}

.banner2 span {
    color: #FFFFFF;
    font-size: 1.25em;
}

.boxy-list:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}


.boxy-list li img {

    background-size: cover;
    height: 8em;
    left: 0.85em;
    position: absolute;
    top: 0.85em;
    width: 8em;
}

.boxy-list li{
    border-top: 0.1em solid #EEF0F1;
    min-height: 6.7em;
    padding: 0.78em 0.78em 0.78em 8.4em;
    position: relative;
}

.boxy-list li b {
    color: #383D48;
    display: block;
    font-size: 1.2em;
    padding-bottom: 0.38em;
}

.boxy-list li a {
    color: #8A8F9C;
    display: block;
    font-size: 0.85em;
}

.shop-browse li b {
    color: #383D48;
    display: block;
    padding-top: 0.2em;
}

.browse1{
    color: #383D48;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 3.1em;
    padding: 0 0.75em;
	margin-bottom:1em;
    position: relative;
}

.shop-browse .icon {
    background-position: 0 -3.2em;
    display: block;
    height: 0.65em;
    margin-top: -0.33em;
    position: absolute;
    right: 0.78em;
    top: 50%;
    width: 1em;
}

.shop-browse .icon {
    background-size: 65px 55px;
	background-image:url(../images/arrow.png);
}

.recomendation .grey-search{
    position: absolute;
    right: 0.78em;
    top: 0.5em;
}

.Filter-list{
    font-size: 1.17em;
	    border-bottom: 1px solid #E2E5E7;

    font-weight: bold;
    line-height: 1.76em;
    padding: 0.75em 0.75em 0.66em;
    position: relative;
}

.recomend-popup label {
    display: block;
    font-weight: bold;
    padding-bottom: 0.7em;
}

.recomend-popup p  {
    padding: 0.65em 0.9em;
}

.recomend-popup select{
    width: 100%;
	   background-position: 100% 50%;
    border: 0.1em solid #CFD0D2;
    border-radius: 0.15em;
	background-image:url(../images/select-box.png);
	background-repeat:no-repeat;
	background-size:15px;
    box-shadow: 0 0.1em 0.1em #F2F2F2;
    font-size: 1em;
    height: 2.4em;
    padding:0.4em 1.6em 0.3em 0.4em;
}

.catagory-title{
    color: #383D48;
    display: block;
    padding-left: 0.75em;
	font-weight:bold;
	font-size:1em;
	line-height: 3.36em;
}

h3.catagory-title .arrow{
    background-size: 150px 150px;
    background-image:url(../images/logo_icons.png);

}
.catagory-title .arrow{
    background-position: -6.67em -7em;
}

.catagory-title .arrow {
    background-position: -5.47em -7em;
    display: block;
    height: 0.72em;
    position: absolute;
    right: 0.98em;
    top: 1.3em;
    width: 1em;
}

h3.catagory-title{position:relative;}

.catagory-title a{
    color: #383D48;  display: block;}

.catagory-list a{
    color: #383D48;
    display: block;
    padding-left: 0.75em;
}


.catagory-list li .icon {
    background-image: url(../images/category.png);
}

.catagory-list li .icon {
    background-color: #F5F6F9;
    border-radius: 0.15em;
    display: inline-block;
    height: 2.2em;
    margin: -0.1em 0.35em 0 0;
    vertical-align: middle;
    width: 2.2em;
}

.catagory-list li a.Women .icon{
    background-position: 100% 0;
}


.catagory-list li .icon {
    background-size: 56px 231px;
}


.catagory-list li a.Kids .icon{
    background-position: 0 -2.25em;
}


.catagory-list li a.Pets .icon{
    background-position: 100% -2.25em;
}

.catagory-list li a.Home .icon{
    background-position: 0 -4.5em;
}

.catagory-list li a.Gadgets .icon {
    background-position: 100% -4.5em;
}

.catagory-list li a.Gadgets .icon  {
    background-position: 0 -9em;
}

.catagory-list li a.Media .icon {
    background-position: 0 -6.75em;
}


.catagory-list li a.architecture .icon{
    background-position: 100% -9em;
}


.catagory-list li a.Sports .icon{
    background-position: 0 -11.3em;
}


.catagory-list li a.Travel .icon{
    background-position: 100% -11.3em;
}

.catagory-list li a.Crafts .icon{
    background-position: 0 -13.55em;
}
.catagory-list li a.Vehicl .icon{
    background-position: 100% -13.55em;
}

.catagory-list li a.Work .icon{
    background-position: 100% -13.55em;
}

.catagory-list li a.Work .icon{
    background-position: 100% -13.55em;
}
.catagory-list li a.other .icon{
    background-position: 100% -15.85em;
}

.catagory-list li .icon {
    background-size: 56px 231px;
}

.catagory-list li {
    float: left;
    width: 50%; line-height: 3.45em;
}


.catagory-list:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.catagory-list{
 border-top: 0.1em solid #E2E5E7;
  border-bottom: 0.1em solid #E2E5E7;

 }

.coloring-list{
 border-top: 0.1em solid #E2E5E7;}

.coloring-list:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.coloring-list li{
    float: left;
    width: 50%; line-height: 3.45em;
}

.coloring-list li .icon{
    border-radius: 0.7em;
    display: inline-block;
    height: 1.4em;
    margin: -0.25em 0 0;
    vertical-align: middle;
    width: 1.4em;
}

.coloring-list li .red .icon{
    background: none repeat scroll 0 0 #FF443C;
}

.coloring-list li .blue .icon{
    background: none repeat scroll 0 0 #56B2BD;
}
.coloring-list li a{
    color: #383D48;
    display: block;
    padding-left: 0.75em;
}



/*---------------------------------------------add---------------------------------------------*/

.frame{
    background: none repeat scroll 0 0 #F2F6FB;
    border: 0.1em solid #B3C4D8;
    color: #B3C4D8;
    height: 10.55em;
    margin: 1.55em auto 0;
    text-align: center;
    width: 10.55em;
}


.frame .icon{
background-image:url(../images/add.png);
 background-size: 50px 50px;
}


.frame .icon {
    display: block;
    height: 5.2em;
    /* margin: 3.15em auto 0.55em;
    width: 2.85em; */
}

.photo-update {
    color: #8A8F9C;
    padding: 0.77em 0;
    text-align: center;
}

.updating{
    padding: 0 0.75em 0.5em;
}


.mar-bot{margin-bottom:1em;}

.viaemail p {
    color: #8A8F9C;
    font-size: 0.95em;
    margin: 0.78em 0.77em 0;
    padding: 0.4em 0;
}

.send-email {
    background: none repeat scroll 0 0 #FFFDD0;
    border: 0.1em solid #EEEDC6;
    border-radius: 0.15em;
    color: #383D48;
    font-weight: bold;
    line-height: 1.4em;
    padding: 0.77em;
    text-align: center;
}

.send-email a {
    color: #3C71B5;
    text-decoration: none;
	font-weight:bold;
}

.steps {
    color: #383D48;
    display: block;
    padding: 0.5em 0 0.4em;
}

.share-icon, .book-icon{
    background-size: 50px 50px;
}

/* .share-icon{ */
/*     background-position: 0 -2.75em; */
/*     display: inline-block; */
/*     height: 1em; */
/*     margin: -0.2em -0.1em 0 0; */
/*     vertical-align: middle; */
/*     width: 1.25em; */
/* } */


.book-icon {
    background-position: -1.68em -2.7em;
    display: inline-block;
    height: 1em;
    margin: -0.2em -0.1em 0 0;
    vertical-align: middle;
    width: 1.5em;
}
/* .share-icon, .book-icon{ */
/* background-image:url(../images/add.png); */

/* } */

.text-areass{
    color: #8A8F9C;
    display: block;
    font-size: 0.98em;
    height: 22.65em;
    margin-top: 0.8em;
    width: 100%;
    word-break: break-all;
}

/*------------------------------credits------------------------------------*/
.credits-headline {
    border-bottom: 1px solid #F0F1F2;
    color: #74B86E;
    font-size: 2.1em;
    padding: 0.75em 0;
    text-align: center;
}


.credits-headline span{
    color: #8A8F9C;
    display: block;
    font-size: 0.45em;
    font-weight: normal;
}

.credits-headline small {
    font-size: 0.65em;
    font-weight: normal;
}

.credit-detail{
    color: #383D48;
    font-size: 1.1em;
	margin:0;
    font-weight: bold;
    padding: 0em 0em 0.35em;
}

.credit-detail dd{margin:0;}

.credit-detail dt {
    color: #383D48;
    font-size: 1.1em;
	margin:0;
    font-weight: bold;
    padding: 0.94em 0.7em 0.35em;
}

.credit-detail p {
    color: #8A8F9C;
    font-size: 0.94em;
    padding: 0 0.82em;
}
ul.credit-earnings{
    border-top: 0.1em solid #EEF0F1;
    margin: 1.15em 0.78em 0.78em;
    padding-top: 0.78em;
}

.credit-earnings li {
    font-size: 1em;
    text-align: right;
	  line-height: 2em;
	  font-weight:normal;
}

.credit-earnings .earned{
    color: #8A8F9C;
    float: left;
}

.credit-earnings small {
    font-size: 0.85em;
    font-weight: normal;
}

.credit-detail{
    font-size: 1em;}


.earn-mony dt {
    border-bottom: 0.1em solid #E2E5E7;
    color: #40454B;
    font-size: 1.1em;
    line-height: 1.35em;
    padding: 0.94em 0.7em;
}

.share-page {
    color: #8A8F9C;
    font-size: 0.94em;
    padding: 1.1em 0.8em 0.8em;
}

.share-page b {
    color: #40454B;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 0.35em;
}


.visit{
    border-top: 0.1em solid #E2E5E7;
    color: #40454B;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.35em;
    padding: 0.94em 0.8em;
    position: relative;
}

.earn-mony:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.earn-mony{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBFC3;
    border-radius: 0.2em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.earn-mony dd{margin:0;}

.visit .arrow{
    background-size: 110px 100px;
	background-image:url(../images/setting.png);
}

.visit .arrow {
    background-position: 0 0;
    height: 1em;
    margin-top: -0.5em;
    position: absolute;
    right: 0.78em;
    top: 50%;
    width: 0.65em;
}

.personal-lock {
    background-size: 110px 100px;
	background-image:url(../images/credit.png);
}


.personal-lock{
    background-position: 0 -4.7em;
    display: inline-block;
    height: 1.05em;
    margin-top: -0.2em;
    vertical-align: middle;
    width: 0.95em;
}

.navigation {
    float: left;
    line-height: 32px;
    margin: 0 0 0 10px;
    padding: 0;
}

.navigation li {
    float: left;
    padding-bottom: 0.4em;
}


.navigation li a{
    font-size: 0.94em;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}

.browse1 dl{
    clear: both;
	margin:0;
	padding:0;
}
.visibli dt{
    color: #383D48;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 3.1em;
    padding: 0 0 0 10px;
    position: relative;
}

.visibli dd {
    display: block;
}
.visibli dd {
    border-top: 0.1em solid #EEF0F1;
    display: block;
    padding: 0;     margin: 0;
}

.browse1:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.visibli:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.filtering {
    clear: both;

	border:none;
}

.sub-listing{
    border-bottom: 1px solid #F4F6F6;
    margin-bottom: 0.78em;
    padding-bottom: 0.78em;
    width: 21.7em;
}


.filtering select{
    width: 98%;
	 height: 1.95em;
/* 		 background-image:url(../images/select-box.png); */
   background-repeat:no-repeat;
      background-size: 17px auto;
	  background-position:100% 50%;
    border: 0.1em solid #CFD0D2;
    border-radius: 0.15em;
    box-shadow: 0 0.1em 0.1em #F2F2F2;
    font-size: 1em;
     text-indent: 0.01px;
   text-overflow: "";
   vertical-align: inherit;
    padding: 3px;


    margin-right: 0.3em;
}

.next{
    border-bottom: 1px solid #F4F6F6;
    margin-bottom: 0.78em;

    width: 22.7em;
}

.listing-top {
    border-bottom: 1px solid #F4F6F6;

    width: 21.7em;
}

.next select{width:30%;}
 .keyword input {
    border: medium none;
    box-shadow: none;
    height: 1.5em;
    margin-top: -0.2em;
    padding: 0;
    vertical-align: middle;
    width: 17.8em;
}

.keyword {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0.1em solid #BBC0C8;
    border-radius: 0;
    box-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.08) inset;
    line-height: 1.8em;
    margin: 0;

    padding-left: 0.6em;
    position: relative;
    width: 20.7em;
		 background-image:url(../images/select-box.png);
   background-repeat:no-repeat;
      background-size: 17px auto;
	  background-position:100% 50%;

}

.visibli .icon {background-image:url(../images/signImg.24ccc202bc1e.png);     background-position: 0 -44px; background-size: 65px 55px;}



/*--------------------------------------------------purchaces-page---------------------------------------------------------------------------------------*/


.purchaces-page{   background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBFC3;
    border-radius: 0.2em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);
    font-size: 1em;}


.purchaces-page:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.purchaces-page li:first-child {
    width: 17.5%;
}


.purchaces-page li {
    float: left;
    text-align: center;
    width: 25%;
}
.purchaces-page li a {
    border-left: 0.1em solid #E5E5E6;
    color: #67717A;
    display: block;
    font-size: 0.94em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.99em 0;
}

.purchaces-page li a.current{
    color: #3C71B5;
}

h2.ptit {
    border-bottom: 1px solid #EBECEF;
    color: #393D4D;
    font-size: 16px;
    line-height: 53px;
    padding: 1px 0 0 24px;
}

.chart-wrap{padding:2%;}


.chart li{
    float: left;
    text-align: center;
    width: 16%;
    color: #67717A;
    display: block;
    font-size: 0.94em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.99em 0;
}



.chart:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}


.chart{

    font-size: 1em;
}

.fullpay{ background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBFC3;
    border-radius: 0.2em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);}


.cart-head{background:#F5F6F8;border-bottom:1px solid #ccc}

.cart-head li{  border-left: 0.1em solid #E5E5E6;}


.chart li a:hover{text-decoration:underline;}

<!--------------------------------------------------------------order-review--page---------------------------------------------------------------->


.review_top{
    float: left;
    margin: 20px 0;
    width: 100%;
}
.review_top .fl {
    float: left;
}

.review_top span.r_left {
    font-weight: bold;
    margin: 0 10px 0 25px;
}

.review_top .fr {
    float: right;
}

.review_top:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.order .chart li{width:14%;}
.review_top p{padding:6px 0;}

.review_top{margin-bottom:14px;}
.order_comment{width:80%; margin:20px 0 20px 20px; height:100px}

.shiping-list:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}
.shiping-list li{ padding:1em 0.4em; border-bottom:1px solid #dedede; text-align:right }
.shiping-list li span{ float:left;}



.invoice .chart li {width: 19%;}


.delete-ico{
    background-position: 0 -3.7em;
    display: inline-block;
    height: 1.15em;
    margin-top: 0.2em;
    vertical-align: middle;
    width: 0.91em;
}
.delete-ico{
    background-image: url("../images/cart.png");
    background-size: 175px 120px;
}

.cart-page .grey-search{ display: inline-block;
    width: 2.1em;position: absolute;
    right: 0.85em;
	line-height: 2em;
    padding: 0;
    top: 0.75em;}

.cart-item-list li:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}


.cart-item-list li img {
    background-position: 50% 50%;
    background-size: cover;
    float: left;
    height: 5.4em;
    margin-right: 0.78em;
    width: 5.4em;
}

.img-title{
    color: #8A8F9C;
    float: left;
    font-size: 0.94em;
    width: 9.8em;
}

.warn-mesg{
    display: block;
    font-size: inherit;
    padding-top: 1px;
	   color: #ED462F;
    font-style: normal;
}

.suges{
    max-width: 6.3em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0.5em;
}

.img-title a {
    color: #383D48;
    display: inline-block;
    font-size: 1.1em;
    padding-bottom: 0.2em;
}


.cart-item-list li{
    border-top: 1px solid #EEF0F1;
    min-height: 3em;
    padding: 0.77em 6em 0.77em 0;
    position: relative;
}

.suges .dolar{
    color: #383D48;
    padding-bottom: 0.55em;
	 clear: both;

    display: block;
    padding-top: 0.4em;
}

.count{
    color: #8A8F9C;
    font-size: 0.94em;
    height: 2.08em;
	 background-position: 100% 50%;
    border: 0.1em solid #CFD0D2;
    border-radius: 0.15em;
	  background-size: 14px 5px;
	  display: inline-block;
    box-shadow: 0 0.1em 0.1em #F2F2F2;
    font-size: 1em;
    padding: 0 1.6em 0 0.4em;
	background-image:url(../images/select-box.png);
	background-repeat:no-repeat;
}



.profile-account .dolar small {
    font-size: 0.85em;
    font-weight: normal;
	float:right; margin:0  0 0 3px;
}

.adres-button {
    position: absolute;
    right:2.68em; margin-top:-20px;

}



.profile-account select{
	 background-size: 14px 5px;
	  background-position: 100% 50%;
    border: 0.1em solid #CFD0D2;
    border-radius: 0.15em;
    box-shadow: 0 0.1em 0.1em #F2F2F2;
    font-size: 1em;
    height: 2.4em;
	background-image:url(../images/select-box.png);
	background-repeat:no-repeat;
    padding: 0 1.6em 0 0.4em;
}

.address-table{
    color: #8A8F9C;
    display: block;
}

.deleta-address {
    display: inline-block;
    padding-top: 0.3em;
}

ul.payment-method{
    border: 1px solid #E2E5E7;
    border-radius: 0.15em;
    display: block;

}

ul.payment-method li {
    border-top: 1px solid #E2E5E7;
    line-height: 2.2em;
    padding: 0.78em;
    position: relative;
}
.camr{display: inline-block;
    margin-top: -0.2em;
	  background-position: 0 -7.05em;
    height: 1.9em;
    width: 9.7em;
	  background-size: 175px 120px;
	  background-image:url(../images/cart.png);
    vertical-align: middle;}


	.profile-account input[type="radio"]{width:auto;}

.camr2{display: inline-block;
    margin-top: -0.2em;
	  background-position: -11.6em -6.5em;
    height: 2.1em;
    width: 2.1em;
	  background-size: 175px 120px;
	  background-image:url(../images/cart.png);
    vertical-align: middle;}

	.truk {
    background-image: url("../images/cart.png");
    background-position: -12em -5.1em;
    background-size: 175px 120px;
    display: inline-block;
    height: 1.1em;
    margin-top: -0.2em;
    vertical-align: middle;
    width: 1.7em;
}

.sameday .icon{
    background-position: 0 -1.5em;
    display: block;
    height: 2.35em;
    margin: 0 auto;
    position: relative;
    right: 0.9em;
    width: 3.5em;
	    background-size: 80px 55px;
}

.sameday-delivary .icon{background-image:url(../images/sameday.png);}

.sameday b {
    display: block;
    font-size: 1.2em;
    padding: 0.38em 0 0.6em;
}

.sameday small {
    color: #383D48;
    font-size: 0.9em;
    line-height: 1.1em;
	 font-weight: normal;
    margin-top: -0.35em;
}

.local{
    background-position: -4.18em -1.7em;
    height: 1.15em;
	   background-size: 80px 55px;
	     display: inline-block;; vertical-align:middle;
    margin-right: 0.2em;
    width: 0.88em;
}

.sameday-delivary dl {
    font-size: 0.94em;
    padding: 0 0.82em 1.45em;
}

.sameday-delivary dd {
    color: #8A8F9C;
    padding-top: 0.4em;
	margin:0;
}

.timin {
    background-position: -5.42em -1.7em;
    height: 1.02em;
    width: 1.02em;
	display: inline-block;
    margin: -0.2em 0.1em 0 0.14em;
    vertical-align: middle;
	 background-size: 80px 55px;
}

.rece{
    background-position: -4.18em -2.95em;
    height: 1em;
    width: 1em; display: inline-block;
    margin: -0.2em 0.1em 0 0.14em;
    vertical-align: middle; background-size: 80px 55px;
}

.same-day-list:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}
.same-day-list{
    padding: 0.78em 0 0;
}


.same-day-list li {
    float: left;
    height: 10.55em;
    margin: 0 0 0.78em 0.78em;
    position: relative;
    width: 10.55em;
}

.same-day-list  span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    line-height: 1.2em;
    padding: 0.2em 0.7em;
    position: absolute;
    width: 9.15em;
}

 .same-day-list img {
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.sameday-delivary dl.view{
    border-bottom: 1px solid #D8DADB;
    border-top: 1px solid #D2D2D2;
    margin-bottom: 0px;
    position: relative;
	padding:0;

    z-index: 1;
}



.view dt{
    font-size: 0.94em;
    line-height: 1.55em;
    padding: 1.05em 0.78em; border-bottom: 1px solid #EAEEF0;
}

.view dd{
    background: none repeat scroll 0 0 #F7F7F7;
    border-top: 1px solid #EAEEF0;
    color: #92959A;

    font-size: 0.88em;
    line-height: 1.65em;
    padding: 1.1em 0.78em;
}

.view a {
    color: #3A3D41;
    font-weight: bold;
}

.us {
    background-image: url("../images/us.png");  background-size: cover;
    display: inline-block;
    height: 0.65em;
    margin-right: 0.15em;
    width: 0.88em;
}
#result { position:absolute; width:176px; padding:10px 0px 0px 0px; display:none; margin:-6px 0px 25px 0px; overflow:hidden; border:1px #CCC solid; background-color: white; }
.show{ padding:0px 0px 0px 15px; border-bottom:1px #999 dashed; font-size:15px;}
.show:hover { background:#4c66a4; color:#FFF; cursor:pointer;}
.view small {
    color: #8A8F9C;
    font-weight: normal; margin-left: 5px;
}
.countri {
    font-size: 0.94em;
    line-height: 1.35em;
    padding: 1em 0.78em 0.95em;
}

.view em a{ color: #3C71B5; display: inline-block;
    font-style: normal;
    vertical-align: middle; font-weight:normal}

.more-cit {
    font-weight: bold;
    padding: 1.05em 0.65em;
    position: relative;
	 border-top: 1px solid #EAEEF0;
    color: #383D48;
    display: block;
    font-size: 0.94em;

    z-index: 0;
}

.more-cit .icon{
    background-position: -4.2em 0;
    height: 1.1em;
	   background-size: 80px 55px;
    margin-top: -0.55em;
    position: absolute;

    right: 0.78em;
    top: 50%;
    width: 0.7em;
}

.brands-stores .purchaces-page li{width:50%;}

.select-arrowin{
    background-color: #F8F9F9;
    background-image: url("../images/select-box.png");
    background-position: 30px 8px;
    background-repeat: no-repeat;
    background-size: 8px 5px;
    border: 0 none;
    box-shadow: none;
    font-size: 1.05em;
    font-weight: bold;
    height: auto;
    margin-top: 0.2em;
    padding: 0 0.78em 0 0;
    text-transform: capitalize;
    vertical-align: top;
    width: auto;
}

.invite-content {
position: relative;
z-index: 2;
background-image: -webkit-linear-gradient(top,#F3F4F5,#EDEEEF);
background-image: -moz-linear-gradient(top,#f3f4f5,#edeeef);
background-image: -o-linear-gradient(top,#f3f4f5,#edeeef);
background-image: -ms-linear-gradient(top,#f3f4f5,#edeeef);
background-image: linear-gradient(top,#f3f4f5,#edeeef);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f4f5',endColorStr='#edeeef');
box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
-webkit-box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
-moz-box-shadow: inset 0 1px 0 #F8F9F9,0 0 0 1px rgba(14, 16, 18, 0.1),0 1px 2px 0 rgba(14, 16, 18, 0.1);
border-radius: 3px;
padding: 0 18px;
line-height: 45px;
color: #565B63;
font-size: 15px;
}

.social-icon{
    color: #383D48;
    margin-bottom: 18px;
}

.social-icon ul {
    display: table;
    height: 80px;
    width: 100%;
}

.social-icon ul li {
    border-left: 1px solid #F2F2F2;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

.social-icon ul li:first-child {
    border-left: 0 none;
}

.social-icon ul li button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #5B6273;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.social-icon .icon{background-image:url(../images/social.png)}

.social-icon .icon {
    display: inline-block;
    height: 24px;
    margin: -3px 4px 0 0;
    vertical-align: middle;
    width: 24px;
}

.social-icon .twt .icon {  background-position: -30px 0;}
.social-icon .gpt .icon  {
    background-position: -60px 0;
}

.social-icon .gmails .icon  {
    background-position: -93px 0;
}
.social-icon .emails .icon  {
    background-position: -125px 0;
}

.social-icon .fb:hover{color:#4C69A2}

.social-icon .fb:hover .icon{
    background-position: 0 -30px;
}

.social-icon .twt:hover{color:#43A4E2}

.social-icon .twt:hover .icon{
    background-position: -30px -30px;
}

.social-icon .gpt:hover{color:#DB4938}

.social-icon .gpt:hover .icon{
    background-position: -60px -30px;
}

.social-icon .gmails:hover{color:#DAAFAC}

.social-icon .gmails:hover .icon{
    background-position: -93px -30px;
}

.social-icon .emails:hover{color:#4D84BE}

.social-icon .emails:hover .icon{
    background-position: -125px -30px;
}

.address{
	   border-top: 0.1em solid #EEF0F1;
    clear: both;
    padding: 1.95em 0.8em 2em;
    float: left;
    width: 50%;
}

.address dt {
    font-weight: bold;
    padding: 20px 11px 10px;
	 color: #373D48;
    font-size: 1.1em;
}

.address  fieldset {
    margin-bottom: 14px;
    position: relative;
	padding:0;
	border:none;
    width: 372px;
}

.address .text {
    background: none repeat scroll 0 0 #F8F8F8;
    box-shadow: none;
    width: 356px;
}

.peop-invite{
    padding-bottom: 25px;
}

.share-link li {
    float: left;
    margin-right: 5px;
}

.share-link button{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCECF;
    border-radius: 2px;
    color: #7C818A;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    line-height: 26px;
    margin-right: 1px;
    padding: 0 8px 0 6px;
    width: auto;
}

.address .icon{background-image:url(../images/social2.png);}

.address .icon {
    display: inline-block;
    height: 16px;
    margin: -3px 2px 0 0;
    vertical-align: middle;
    width: 16px;
}

.address .fb-lin .icon{
    background-position: -40px 0;
}

.address .shr-lin .icon{
    background-position: -20px 0;
}

.protect{
    color: #717780;
    font-size: 11px;
    padding: 2px 0 20px;
    position: absolute;
    right: 123px;
    text-align: center;
}

.protect .icon {
       background-position: -120px 0;
    display: inline-block;
    height: 11px;
    margin: -3px 1px 0 0;
	background-image:url(../images/social2.png);
    vertical-align: middle;
    width: 9px;
}

.address dd{margin:0 0 0 10px;}

.help ul{font-weight:normal;}
.help  .catagory-title{font-weight:normal;}
.help .coloring-list li {
    float: left;
    line-height: 3.45em;
	padding:0 0 0 7px;
    width: 99%;
}

.catagory-title .arrow2{
    background-position: -6.47em -7em;}


h3.catagory-title .arrow2{
    background-image: url("../images/logo_icons.png");
    background-size: 150px 150px;
}
.catagory-title .arrow2{

    display: block;
    height: 0.72em;
    position: absolute;
    right: 0.98em;
    top: 1.3em;
    width: 1em;
}

.zoomer-top {
    background: none repeat scroll 0 0 #1E2228;
    border-bottom: 1px solid #1C2026;
    height: 2.25em;
    padding: 0.58em 0;
    position: relative;
}

.zoomer-top fieldset {
    background: none repeat scroll 0 0 #1E2228;
    border-radius: 9em;
    height: 2.3em;
    line-height: 2.2em;
    padding: 0 0.78em;
    width: 18em;
	border:none;
}


.zoomer-top fieldset .icon{
    background-position: -5.8em -4.6em;
    display: inline-block;
    height: 1.25em;
    vertical-align: middle;
    width: 1.18em;
}

.zoomer-top fieldset .icon{
    background-size: 150px 150px;
}


.zoomer-top input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: none;
    color: #A4A5AA;
    font-size: 1.18em;
    height: 1.3em;
    padding: 0 0 0 0.1em;
    width: 13.9em;
}

.cancel-black{
    background: none repeat scroll 0 0 #272B33;
    border-radius: 0.15em;
    box-shadow: 0 0.1em 1px rgba(255, 255, 255, 0.04) inset, 0 1px 0.1em rgba(1, 1, 1, 0.5);
    color: #EDEDED;
    font-size: 0.85em;
    font-weight: bold;
    line-height: 2.65em;
    padding: 0 0.78em;
    text-shadow: 0 -0.1em 0 rgba(0, 0, 0, 0.23);  position: absolute;
    right: 0.55em;
    top: 0.65em; display: block;
}

.sidebar-menu .user-id:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.sidebar-menu .user-id{
    background: none repeat scroll 0 0 #292D35;
    font-size: 1em;
    line-height: 1.25em;
    padding: 0.78em;
    position: relative;
}

.area-id{
    float: left;
    min-height: 2.75em;
    width: 80%;
}

.identy {
    border-radius: 0.2em;
    float: left;
    height: 2.75em;
    margin-right: 0.5em;
    overflow: hidden;
    width: 2.75em;
}

.identy img {
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 0.2em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.45);
    height: 2.8em;
    margin: 0;
    width: 2.8em;
}

.fullname{
    /* color: #DDDFE1; */
    display: block;
    font-size: 1em;
    padding-top: 0.13em;
}

.user1{
    color: #5B6269;
    font-size: 0.92em;
}

.place_setting{
    float: right;
    height: 2.75em;
    width: 20%;
	position:relative;
}

.place_setting .icon{
    background-position: -85px -100px;
    background-size: 150px 150px;
    display: block;
    height: 1.2em;
    position: absolute;
    right: 0.8em;
    top: 0.5em;
    width: 1.2em;
}

.cbp-spmenu-vertical .sidebar-menu a{padding:0;font-size: 1em;}

.quick-menu{
    background: none repeat scroll 0 0 #292D35;
    clear: both;
	margin:0;
}

.quick-menu dt {
    background: none repeat scroll 0 0 #2F333B;
    color: #74777C;
    font-size: 0.88em;
    font-weight: bold;
    line-height: 1.8em;
    padding: 0 0.83em;
}

.quick-menu dd{
    border-top: 1px solid #373B42;
	margin:0;  font-size: 1.18em;
    line-height: 2.9em;
}

.quick-menu dd a {
    color: #DDDFE1;
    display: block;
    padding: 0 0.74em;
    position: relative;
}

.quick-menu .home {
    background-position: -19px 4px;
}

.quick-menu .icon {
    display: inline-block;
    height: 1.2em;
    margin: -0.2em 1px 0 0;
    vertical-align: middle;
	background-size: 150px 150px;
    width: 1.2em;
}

.quick-menu .shop {
    background-position:-7.96em -4em;
}

.quick-menu .add  {
    background-position:-6.6em -5.3em;
}
.quick-menu .notify  {
    background-position: -7.95em -5.3em;
}

.quick-menu .numb{
    background: none repeat scroll 0 0 #3E4451;
    border-radius: 0.9em;
    color: #EDEDED;
    font-size: 0.78em;
    line-height: 1.8em;
    padding: 0 0.93em;
    position: absolute;
    right: 0.6em;
    top: 0.85em;
}

.quick-menu dd {
    font-size: 1.18em;
    line-height: 2.9em; padding: 0 10px;
}

.cart-sidebar{
    /* padding-bottom: 7.6em; */
}
.cart-sidebar dt {
    color: #DDDFE1;
    font-size: 1em;
    line-height: 1.85em;
    padding: 0.79em;
    text-align: center;
}

.cbp-spmenu-vertical .cart-sidebar a {
    border-top: 1px solid #2F333B;
    color: #5F6369;
    display: block;
    font-size: 0.88em;
    line-height: 1.4em;
    min-height: 6.3em;
    padding: 0.8em 0.8em 0.88em 8.1em;
    position: relative;
}

.cart-sidebar img {
    background-position: 50% 50%;
    background-size: cover;
    height: 6.2em;
    left: 0.88em;
    position: absolute;
    top: 0.88em;
    width: 6.2em;
}

.cart-sidebar .texta{
    color: #B4B6B9;
    display: block;
    font-size: 1.15em;
    font-weight: normal;
    padding-bottom: 0.3em;
}

.cart-sidebar{background:#292D35; margin:0}
.cart-sidebar dd{margin:0;}

.amount2 {
    color: #DDDFE1;
    display: block;
    font-size: 1.15em;
    margin-bottom: -0.3em;
    padding-top: 0.4em;
}

.total-amount-cart {
    border-top: 1px solid #3A3D45;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: 1.08em 0.6em 0.45em;
    background:#292D35;
    width: 100%;
}

.total-amount-cart p {
    color: #DDDFE1;
    font-size: 1em;
    padding: 0.5em 0.2em 1.35em;
    text-align: center;
}

.total-amount-cart small {
    font-size: 0.78em;
}

.checkout{
    background: none repeat scroll 0 0 #428AD6;
    border: 0 none;
    border-radius: 0.15em;
    box-shadow: 1px 1px 1px #61A3E8 inset, -1px 0 1px #61A3E8 inset, 0 1px 0.1em rgba(1, 1, 1, 0.23);
    color: #EDEDED;
    display: inline-block;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 2.8em;
    padding: 0 1em;
    text-shadow: 0 -0.1em 0 rgba(27, 93, 162, 0.48);
    width: 100%;
}

.top-bar-cart{
    float: right;
    height: 2.35em;
    min-width: 2em;
    padding: 0.58em 0.4em;
    position: relative; margin-bottom: -0.8em;
}

.top-bar-cart .cart{
    background-position: 0 0;
    display: block;
    height: 1.5em;
    left: 0.4em;
    margin-top: -0.75em;
    position: absolute;background-size: 150px 150px;
    text-indent: -1000em;
    top: 50%;
    width: 1.5em;
}

.top-bar-cart .num2{
    background: none repeat scroll 0 0 #2D9EDE;
    border-radius: 0.2em;
    color: #FFFFFF;
    float: right;
    font-size: 0.85em;
    font-weight: bold;
    line-height: 1.4em;
    padding: 0 0.28em;
    position: relative;
}

.update-button {
display: inline-block;
border: 1px solid #307ac9;
border-color: #307ac9 #2870bc #2369b3;
background: #428ad6;
background: -webkit-linear-gradient(top, #428ad6,#357ecb);
background: -ms-linear-gradient(top, #428ad6,#4781b9);
background: -moz-linear-gradient(top, #428ad6,#357ecb);
background: -o-linear-gradient(top, #428ad6,#357ecb);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428ad6',endColorstr='#357ecb');
box-shadow: 0 1px 1px rgba(0,0,0,0.2);
line-height: 2.65em;
color: #fff;
padding: 0 1.1em;
border-radius: 0.15em;
font-weight: bold;
font-size: 1.1em;
text-shadow: 0 -1px 1px rgba(0,0,0,0.26);  font-size: 1em;
    height: 2.85em;
    line-height: 2.8em;
    width: 100%;
}
.user-id .new-buttns{
width: 100%;
display: inline-block;
background: #428ad6;
box-shadow: inset 1px 1px 1px #61a3e8,inset -1px 0 1px #61a3e8,0 1px 0.1em rgba(1,1,1,0.23);
line-height: 2.8em;
color: #ededed;
padding: 0 1em;
border-radius: 0.15em;
font-weight: bold;
font-size: 1.05em;
border: 0; text-align: center;
text-shadow: 0 -0.1em 0 rgba(27,93,162,0.48);
}
.trick {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,0.8);
z-index: 2;
display:none;
}
#editDetailsSub{cursor:pointer;}


/********************28.7.16********************************/
.figure-product.figured_def_pro {
    background: none;
    border: none;
    box-shadow: none;
}
.figured_def_pro  .products-featured {
    background: #fff;
    margin: 10px 0;
    padding: 10px;

	border: 1px solid #BCBFC3;
    border-radius: 0.3em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);
}
.figured_def_pro  .welcome {

    padding: 0.65em 0.78em 0px;
}



/*----------------------09-08-2016------Client feedback---------*/

.figured_def_pro .welcome{
	    color: #3A3D41;
    font-size: 0.95em;
    padding: 0.65em 0.78em 1.7em;
}
.figured_def_pro .welcome h3 {
    font-size: 1.4em;
}
ol.stream {
    margin: 0;
    padding: 0;
    position: relative;
}
ol.stream li {
    margin: 0;
}
ol.stream li {
    border-radius: 5px;
    float: left;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    width: 48%;
}
ol.stream li:nth-child(2n+1) {
    padding-right: 10px;
}
.figure-product-new.mini img {
    width: 100%;
}
.user_profile {
    background: #fff none repeat scroll 0 0;
    padding-top: 40px;
    position: relative;
    z-index: 999;
}
.user_profile h6 {
    border-top: 1px solid #ccc;
    color: #8a8f9c;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
}
.user_profile figcaption {
    color: #383d48;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 0;
}
.figured_def_pro .products-featured{
	padding: 0;
}
.figure-product .figure img {
    display: block;
    margin: 0 auto 0.7em;
    max-height: 19.9em;
    max-width: 100%;
    vertical-align: middle;
}
.seller-product {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0.2em;
    box-shadow: 0 0 0.3em rgba(202, 203, 209, 0.2), 0 1px 0.3em rgba(0, 0, 0, 0.1);
    font-size: 1em;
}
.seller-product h6 {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 100%;
}
.seller-product ul li{
	display: block !important;
	width: 25%;
}
.seller-product #widget_tab {
    float: left;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}
.seller-product #widget_tab li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    float: left;
    padding: 0 !important;
    width: 100% !important;
	border-bottom: 1px solid #ccc !important;
	border-top: 1px solid #ccc !important;
}
.seller-product #myTab {
    float: left;
    width: 100%;
}
.seller-product #widget_tab ul li a.active_tab{
	height: inherit;
}
.seller-product .widget_content{
	display: inline-block;
    width: 100%;
}
.seller-product .widget_content ul li{
	display: block;
    width: auto;
}
.seller-product .widget_content ul li label{
	width: 100% !important;
	margin-right: 0 !important;
}
.seller-product .form_input {
    margin-left: 0 !important;
    position: relative;
    width: 100% !important;
}
.seller-product input.large{
	width: 100% !important;
}
.seller-product input[type="text"], .seller-product input[type="password"], .seller-product textarea, .seller-product input[type="email"], .seller-product select {
	width: 100% !important;
}
.logo{
	margin-top: 0 !important;
	top: 14px;
}
.quick-menu dt, .quick-menu dd{
    float: none !important;
	 display: inherit !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}
.chart-wrap {
    overflow: scroll;
}
.chart-wrap .fullpay {
    overflow: auto;
}
.cart-head, .chart {
    width: 1000px;
}
.seller-product .cateogryView span{
	width:100% !important;
	display: inline-block;
	margin: 10px 0px 5px 10px;
}
.seller-product .cateogryView span.cat2{
	margin: 10px 0px 5px 30px;
}
.seller-product .cateogryView span.cat3{
	margin: 10px 0px 5px 40px;
}
/*.seller-product */


/**-------------------Design By J -- Mobile-------------------**/
.profile-list {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    width: 100%;
}
.padding_all15 {
    padding: 15px !important;
}
.page-header {
    text-align: center;
    word-wrap: break-word;
}
.border_bottom {
    border-bottom: 1px solid #EEEEEE;
    display: block;
}
.padding_bottom15 {
    padding-bottom: 15px !important;
}
.border_bottom {
    border-bottom: 1px solid #EEEEEE;
    display: block;
}
div#dun_requests,div#dun_requests ul,div#dun_requests ul li,div#dun_requests ul li a{
    width: 100%;
    float: left;
        vertical-align: middle;
        text-align: center;
}
.bids_ul li {
    margin: 10px 0;
}
.productname img {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.profile-list .auction_ul li .productprice,.profile-list .auction_ul li span.auctions_countdown,.profile-list .auction_ul li > a > .view,.productname{
    margin-left: 0 !important;
    width: 24% !important;
    float: none !important;
    display: inline-block;
    vertical-align: middle;
}
form#sellerProdEdit1 {
    padding: 0 5px;
}
.productname span {
    width: 100%;
    float: left;
    margin-top: 3px;
}
#content {
    padding: 5px;
}
.profile-list span.auction-countdown {
    width: 100%;
    float: left;
    padding: 5px 0 20px 0;
    text-align: center;
    font-size: 30px;
}
.profile-list div#content h1{
    margin: 0 0 10px 0;
    padding: 0 0 7px 0;
    border-bottom: 1px solid #eceef4;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
}
.accept_load_wait,.product_info,.auction_status,.offer-list-auction,.offer-list-auction ul,.send-offer-auction,.send-offer-auction h2{
    width: 100%;
    float: left;
}
.accept_load_wait a {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.accept_load_wait a img {
    width: 100% !important;
}
.product_info h3{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}
.product_info {
    margin-bottom: 10px;
}
.product_info .product_descr_s {
    margin: 0 !important;
    width: 100%;
    float: left;
}
#container-wrapper .auction_status {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
        vertical-align: middle;
}
#container-wrapper .auction_status h2 {
    float: none;
    margin-right: 15px;
    display: inline-block;
}
#container-wrapper .link-auction-bid {
    font-size: 18px;
    color: #febd69;
    width: auto;
        text-decoration: none;
    border: 1px dashed;
    padding: 5px;
    display: inline-block;
}
.offer-list-auction label {
    width: 100%;
    float: left;
    font-size: 25px;
    margin-bottom: 15px;
}
.offer-list-auction {
    margin-top: 15px;
    padding: 5px;
    width: 97%;
}
.offer-list-auction ul li {
    float: left;
    font-size: 15px;
}
ul.bids_ul > li .read_color {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
ul.bids_ul > li .read_color > span {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
ul.bids_ul li > a > span {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    text-align: center;
        font-size: 14px;
}
ul.bids_ul li > a > .view,ul.bids_ul li > a .open_before {
    width: 33.33% !important;
    display: inline-block;
    vertical-align: top;
        font-size: 14px;
        margin-left: 0 !important;
}
ul.bids_ul li > a .open_before .count_down {
    margin-left: 0 !important;
    line-height: 22px;
}
.product_info .product-tit,.product_info .product-prce {
    font-size: 20px;
    color: gray;
        margin-right: 0;
    width: 100%;
    float: left;
    text-decoration: none;
}
.product_info .product-prce {
    margin-bottom: 20px;
    color: #333;
    font-size: 18px;
}
.send-offer-auction h4 {
    width: 100%;
    float: left;
    line-height: 21px;
    font-size: 14px;
    margin: 9px 0;
}
.send-offer-auction {
    color: #383D48;
    font-size: 15px;
    margin-top: 5px;
    padding-top: 15px;
    border-top: 1px solid #eceef4;
}
.send-offer-auction h3 {
    margin-top: 10px;
    float: left;
    width: 100%;
    line-height: 22px;
    font-size: 15px;
}
.profile-list #content h1.auction-head {
    text-align: center;
    padding-top: 7px;
}

/**----------new design by J 14/10/16-----------**/
.payment-tab-main {
    width: 100%;
    float: left;
            margin-top: 22px;
}
.payment-tab-main dl.payment-personal {
    width: 100% !important;
    padding: 0 !important;
}
.payment-tab-main ul {
    width: 100%;
    float: left;
}
.payment-tab-main ul.tabs li {
    float: left;
    width: 50%;
    text-align: center;
        padding: 0;
    line-height: normal;
    font-size: initial;
}
.payment-tab-main ul.tabs li a {
    padding: 10px 0;
    float: left;
    width: 100%;
    background: #68228b;
    color: #fff;
    text-decoration:none;
        font-size: 14px;
}
.payment-tab-main ul.tabs li:hover > a,ul.tabs li.current a{
    background: #4d0571;
}
.credit-card-payment {
    width: 100%;
    float: left;
}
/* edit product page design isse if we set none...  */
/*  .tab-content{
            display: none;   
}  */
.tab-content.current{
            display: inherit;
}
.credit-card-payment label {
    width: 100% !important;
    float: left !important;
    margin-bottom: 5px;
    padding-top: 0 !important;
}
div#container-wrapper .usersection .follow-user-link i.icon{
    background: url('../../images/site/add.png') no-repeat !important;
    width: 16px !important;
    height: 16px !important;
    background-position: 0 0 !important;
}
.popup,.popup .default,.default,p.ltit{
        border-radius: 10px !important;
}
p.ltit {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#navigation-test [class^="menu-contain"],#navigation-test [class^="feed-"],ul.drop-down{
        border-radius: 0 0 4px 4px;
}
.cart-new div#cart_popup {
    left: -6px;
}
#navigation-test .menu-contain-cart .summary,#navigation-test .menu-contain-cart .more{
        border-radius: 4px;
}
#navigation-test .feed-notification li .photo{
        border-radius: 50%;
}
#navigation-test .new-main-menu ul > li > .new-notify > li .feed-notification li{
        margin-right: 0;
}
#navigation-test .new-main-menu ul > li > .new-notify > li .feed-notification li > a:last-child {
    float: right;
}
/**----------new design by J 14/10/16-----------**/
.auction_popup {
    top: 70% !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
}
.auction_popup a.close{
        top: 2%;
}
.auction_popup .modal-body {
    padding: 10px !important;
    display: inline-block;
}
.auction_popup .modal-body .auct-product-name {
    font-size: 18px;
    color: #333;
    text-transform: capitalize;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.auction_popup h3 {
    text-align: center;
    font-size: 16px;
}
.image-wrapper,.item-image,.auction_popup form,.auction_popup .auction-duration,.offer-list-auction .offr_price{
    width: 100%;
    float: left;
}
.image-wrapper img {
    width: 100%;
}
.auction_popup .auction-duration{
    margin-top: 15x;
}
.auction_popup .auction-duration label {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #000;
    margin-right: 15px;
}
.auction_popup .auction-duration select {
    width: auto;
    padding: 7px 40px 7px 10px;
    text-align: left;
}
.auction_popup form {
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}
.auction_popup .sub_mit_buttn {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.auction_popup .sub_mit_buttn input {
    float: left;
    padding: 7px 25px;
    background: #3a3f49;
    color: #fff;
    border: 1px solid #3a3f49;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
}
.send-offer-auction h2 {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.send-offer-auction input.btn-save {
    margin-top: 20px;
	    padding: 7px 25px;
    background: #3a3f49;
    color: #fff;
    border: 1px solid #3a3f49;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
	    margin-left: 5px;
}
.send-offer-auction form {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.addtocart button {
    margin-bottom: 10px;
}
.cart-item-list li {
    padding: 0.77em 0 0.77em 0;
}
.cart-item-list li button {
    width: 100% !important;
    margin-top: 15px;
}
.profile-account .label{
	margin-bottom: 10px;
}
p.default_addr {
    width: 100%;
    display: inline-block;
    margin: 10px 0;
}
.offer-list-auction > ul > li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.offer-list-auction > ul > li:last-child{
    border-bottom: 0;
    padding-bottom: 0;
}
.offer-list-auction > ul > li .offr_prdct_img a img {
    width: 100% !important;
}
.offer-list-auction > ul > li .offr_prdct_img {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.offer-list-auction .offr_price {
    font-size: 15px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.offer-list-auction > ul > li .three_buttons button{
        padding: 7px 21px;
    background: #3a3f49;
    color: #fff;
    border: 1px solid #3a3f49;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;  
}
.credit-card-payment {
    margin-top: 15px;
}
.profile-account .label{
        line-height: 20px;
}
.credit-card-payment p.name-account select#CCExpDay, .credit-card-payment p.name-account select#CCExpMnth {
    width: 49%;
        margin-bottom: 10px;
}
.credit-card-payment p {
    width: 100%;
    float: left;
}
.credit-card-payment .tab-content {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.card-payment-foot {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    line-height: 20px;
}
.address-frm .btn-area button{
        width: 49%;
    margin-bottom: 10px;
}
.payment-tab-main {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.auction_status_inner {
    width: 100%;
    float: left;
}
.auction_status_inner {
    width: 100%;
    float: left;
}
.auction_status_inner span {
    display: inline-block;
    vertical-align: middle;
}
.auction_status_inner a.link-auction-bid {
    float: none;
        margin: 0 5px;
}
span.cart.icon{
    background: url('../../fancy-mobile/images/site/logo-icon.png') no-repeat;
    background-size: 200px 100px !important;
    height: 18px !important;
    width: 18px !important;
        background-position: -60px -24px !important;
            margin-top: -5px;

}
.dis_minicart span.auction-hmmr {
    background: url('../../fancy-mobile/images/site/hammer.png') no-repeat;
    width: 16px !important;
    height: 16px !important;
    left: 10px !important;
    background-size: contain !important;
    margin-top: -4px !important;
            background-position: initial !important;
}
/**-------------------Design By J -- Mobile-------------------**/

/***** auction popup ****/

.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}



@media (min-width: 32em) {
  .modal-box { width: 70%; }
}

/***** auction popup ****/