@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; 
}
body {
    line-height: 1; 
}
ol, ul {
    list-style: none; 
}
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }


/* #Basic Styles
================================================== */
body {
    background: #fff;
    fill: #fff;
    font-size: 14px;
    line-height:21px;
    font-family: 'Poppins', sans-serif;
    color: #424242;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
*,*:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* #Typography
================================================== */
h5{ font-weight:bold!important;}
h1, h2, h3, h4, h5, h6 {
    /*color: #212121;*/
    font-family: 'Poppins', sans-serif;
    font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
/*----------*/
b{ font-weight:bold;}


/*----------*/
em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/*input[type="text"],*/
/* #Misc
================================================== */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }


::selection {
    background:#333;
    color:#FFF;
}
::-moz-selection {
    background:#333;
    color:#FFF;
}
::-webkit-input-placeholder {
    font-style:normal;
    color:#d9d9d9;
}
:-moz-placeholder {
    font-style:normal;
    color:#d9d9d9;
}


/* #Basic Style
================================================== */

.hidden { 
    display:none; 
}
.zindex {
    position:relative; 
    z-index:1; 
}
a { 
    text-decoration:none; 
    color:#626262; 
}
a:hover { 
    text-decoration:none; 
    color: #212121; 
}
.left{ 
    float:left;
}
.right{ 
    float:right;
}
.clear{ 
    clear:both;
}


/* #Footer Style
================================================== */
.footer-section, .content-section{
    width: calc(100vw - 240px);
    float: right;
    clear: right;
}
.content-section{
    padding: 20px;
}
.footer-main{
    text-align: center;
    background: #efefef;
    font-size: 12px;
    line-height: 50px;
}


/* #Header Style
================================================== */
.header-section{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 240px);
    z-index: 999;
    padding: 15px 25px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
}
.header-section.fixed{
    background:rgba(26, 179, 148, 0.75);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
}
.header-main{
    /*overflow: hidden;*/
    max-width:1200px;
    margin: 0 auto;
    min-height: 70px;
}
.left-box{
    float: left;
}
.right-box{
    float: right;
    margin-top: 15px;
}
.list-items{
    margin: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.list-items > li{
    display: inline-block;
    margin-left: 10px;
}
.header-main .list-items a{
    color: #999;
    text-transform: uppercase;
    font-weight: 600;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}
.header-main .list-items a img{
    width: 20px;
}
.header-main .list-items a:hover{
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
}
.header-section.fixed .header-main .list-items a{
    color: #fff;
}
.header-section.fixed .header-main .list-items a:hover{
    color: #424242;
}

.mobile-brand-box{
    display: none;
}

.languagepicker {
    background-color: #FFF;
    display: inline-block;
    position: absolute;
    padding: 0;
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 0;
    vertical-align: top;
    top: 30px;
    z-index: 999;
}

.languagepicker:hover {
    height: 81px;
}

.languagepicker a{
    color: #000;
    text-decoration: none;
}

.languagepicker li {
    display: block;
    padding: 0px 20px;
    line-height: 40px;
    border-top: 1px solid #EEE;
    color: #424242;
}

.languagepicker li:hover{
    background-color: #1ab394;
    color: #fff;
}

.languagepicker a:first-child li {
    border: none;
}

.languagepicker li img {
    margin-right: 5px;
}

.roundborders {
    border-radius: 5px;
}

.large:hover {
    height: 245px;
}

.search {
    width: 300px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.search input.searchTerm {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    padding-right: 50px;
}
.search .searchButton {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    top: 0;
    right: 0;
    z-index: 9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor:pointer;
    background: rgba(0, 0, 0, 0.75);
}
.search .searchButton img{
    width: 20px;
}


/* #Video BG Style
================================================== */
.videobg-section{
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.videobg-main{
    width: 100%;
    height:100%;
}

#background_video {
    position: absolute;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    height: 100%; width: 100%;
}
#video_cover {
    position: absolute;

    width: 100%; height: 100%;

    background: url('../images/video_cover.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}
#video_controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
#play img {
    width: 100px;
}
#pause img {
    width: 90px;
}
#pause {
    display: none;
}
@media (min-width: 768px) {
    #video_controls {
        display: none;
    }
}

#overlay {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
}


/* #Sidebar Style
================================================== */
.sidebar-section{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99;
    width: 225px;
    background: rgba(255, 255, 255, 1);
}
.sidebar-inner{
    height: 100%;
}
.brand-box{  }
.brand-box .logo {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.32);
}

.cbp-hsmenu-wrapper .cbp-hsinner > ul > li:nth-child(2).cbp-hsitem-open{
    position: relative;
}

/* #Shope by department Style
================================================== */
.cbp-hsmenu-wrapper ul.shop-listing{
    overflow: auto;
}
.shop-listing > li{
    display: block;
    float: left;
    width: 25%;
    padding: 10px;
}
.shop-listing > li a{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
}
.shop-listing .image-box{
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.shop-listing .image-box img{
    width: 100%;
    height: 100%;
}
.shop-listing .box-overlay{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.shop-listing .box-text{
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
}
.shop-listing .box-text p{	
    color: #ccc;
    text-transform: uppercase;
    font-size: 18px;
}

.shop-listing > li a .box-overlay,
.shop-listing > li a .box-text,
.shop-listing > li a:hover .box-text p{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop-listing > li a:hover .box-overlay{
    background: rgba(0, 0, 0, 0.25);
}
/*.shop-listing > li a:hover .image-box img{
        -webkit-transform: rotate(12deg) scale(1.2);
        -moz-transform: rotate(12deg) scale(1.2);
        transform: rotate(12deg) scale(1.2);
}*/
.shop-listing > li a:hover .box-text{
    bottom: 50px;
}
.shop-listing > li a:hover .box-text p{
    color: #fff;
}

/* #Discover Style
================================================== */
.discover-listing{
    max-width: 650px;
}
.discover-listing li{
    padding: 10px;
    width: 25%;
    display: block;
    float: left;
}
.discover-listing li > a{
    padding: 0;
    margin: 0;
    line-height: 80px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    position: relative;
}
.discover-listing li > a:hover{
    background: #1ab394;
    color: #fff;
    border: 1px solid #1ab394;
}
.discover-listing li > a span{
    min-height: inherit;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.discover-listing li > a:hover span{
    color: #fff;
}
.discover-listing li > a .icon{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.discover-listing li > a .icon img{
    display: block;
    margin: 0;
}
.discover-listing li > a:hover .icon,
.discover-listing li > a .text{
    visibility: visible;
    opacity: 1;
}
.discover-listing li > a:hover .text{
    visibility: hidden;
    opacity: 0;
}

/* #Stores Style
================================================== */
.cbp-hsmenu-wrapper ul.stores-listing {
    overflow: auto;
}
.stores-listing > li {
    display: block;
    float: left;
    width: 25%;
    padding: 10px;
}
.stores-listing > li a{
    display: block;
    padding:0;
    margin:0;
    position: relative;
}
.stores-listing > li .item-media{
    display: block;
    position: relative;
    margin:0;
    height: 300px;
}
.background-overlay-img{
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    margin:0 !important;
    min-height: auto !important;
}
.item-box:hover .background-overlay-img{
    opacity: 1;
}
.item-media .box-text{
    background-color: #1ab394;
    border-radius: 100%;
    bottom: -15px;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    line-height: 45px;
    outline: 0 none !important;
    position: absolute;
    min-height: 45px;
    right: 15px;
    text-align: center;
    transition: all 200ms ease 0s;
    min-width: 45px;
    z-index: 10;
    filter: alpha(opacity=0);
    opacity: 0;
}
.item-box:hover .item-media .box-text{
    transform: scale(1.2);
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}
.item-media .box-text span{
    margin: 0 !important;
}
.item-media .box-text:hover{
    background-color: rgba(26, 179, 148, 0.6);
}
.product-title{
    color: #121212;
    padding: 10px 0 0;
    margin: 10px 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.item-box a .product-title h4{
    color: #121212;
}
.item-box a:hover .product-title h4{
    color: #1ab394;
}

/* #Brands Style
================================================== */

.brands-listing > li {
    display: block;
    float: left;
    width: 12%;
    padding: 10px;
}
.brands-listing > li a{
    padding:15 0;
}
.brands-listing > li a img{
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    height: 107px;
    width: 107px;
}
.brands-listing > li a:hover img{
    filter: none;
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

/* #media Style
================================================== */

@media screen and (max-width: 1024px) {
    .header-section, .footer-section, .content-section {
        width: calc(100vw - 225px);
    }
    .shop-listing .image-box{
        height: 175px;
    }
}

@media screen and (max-width: 899px) {
    .shop-listing > li, .stores-listing > li, .brands-listing > li{
        width: 33.33%;
    }
    .discover-listing {
        max-width: 560px;
    }
    .discover-listing li > a span{
        font-size: 12px;
    }
    .brands-listing > li a {
        padding: 15px 0;
        height: 75px;
    }
    .search {
        width: 225px;
    }
}

@media screen and (max-width: 823px) {
    .cbp-hssubmenu{
        width: 100%;
        left: 0;
    }
    .sidebar-section{
        width: 100%;
        position: relative;
        height: auto;
    }
    .header-section, .footer-section, .content-section{
        width: 100%;
    }
    .sidebar-section .brand-box{
        display: none;
    }
    .cbp-hsmenu > li{
        border-bottom: 1px solid #dfdfdf;
    }
    .cbp-hsmenu > li.cbp-hsitem-open > a:after{
        top: inherit;
        left: 50%;
        margin-left: 0;
        bottom: -20px;
        border-left-color: transparent;
        border-top-color: #1ab394;
        border-bottom-color: transparent;
        border-right-color: transparent;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .cbp-hssubmenu > li:nth-child(-n+3), 
    .cbp-hssubmenu > li:nth-child(3n+1),
    .cbp-hssubmenu > li:nth-child(-n+6), 
    .cbp-hssubmenu > li:nth-child(6n+1) {
        box-shadow: none;
    }
    .header-section.fixed{
        z-index:999;
    }
}

@media screen and (max-width: 767px) {
    #video_controls{
        top: 50%;
        transform: translate(-50%, -50%);
    }	
}
@media screen and (max-width: 599px) {
    .shop-listing > li, .stores-listing > li, .brands-listing > li{
        width: 50%;
    }
    .cbp-hsmenu > li.cbp-hsitem-open .brands-listing{
        overflow: auto;
    }
}
@media screen and (max-width: 479px) {
    .shop-listing > li, .stores-listing > li, .brands-listing > li{
        width: 100%;
    }
    .search {
        width: 40px;
    }
    .search input.searchTerm{
        visibility: hidden;
    }
    .search .searchButton{
        background: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    .header-section{
        padding: 15px 10px;
    }
    .languagepicker li{
        font-size: 0;
    }
    .languagepicker li img {
        margin-right: 0;
        margin-top: 15px;
    }
    .mobile-brand-box{
        clear: both;
        display: block;
        text-align: center;
    }
    .mobile-brand-box .logo{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        line-height: 50px;
    }
    .languagepicker{
        top: inherit;
        bottom: 15px;
    }
    .discover-listing li{
        width: 50%; 
    }
    .discover-listing li > a{
        text-align: center !important;
    }
    .cbp-hssubmenu > li a img{
        display: block;
        float: none;
        max-height: 100%;
    }
    .stores-listing > li a{
        text-align: center;
    }
    .shop-listing .image-box {
        height: auto;
    }
    .shop-listing .box-text{
        text-align: center;
    }
}
