.progress-bar {color:#858E99; float:right;font-size:10px;height:5px;line-height:0; margin-top:6px;}
.progress-bar .fst{float:left;margin-left: 2px;} 
.progress-bar .lst{float:right; margin-right: 2px;}
.all-rounded{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.spacer{display:block;}

.popup.group_giftsb{
	width: 865px; 
	margin-top: 5px !important;
}
.popup.group_giftsb .ltxt {
	position: relative;
	border-radius: 0;
	padding: 18px 0px 0px 0px;
	background: #fff;
	color: #393d4d;
	float:left;
	width:100%;
	min-height:500px;
}
.popup.group_giftsb .ltit{ font-size:19px !important; height:47px !important; padding:15px;}
.popup.group_giftsb .ltxt p {
	color: #393d4d;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 14px;
}
.popup.group_giftsb .btn-area {
	padding: 13px 15px;
	background: #fff;
	box-shadow: none;
	border-top-color: #e6e8ea;
	text-align: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	margin: 0;
	float:left;
}
.popup.group_giftsb .btn-done {
    margin:0 auto;
	cursor:pointer;
	font-size: 13px;
	border: 1px solid #396c9d;
	color: #fff;
	height: 32px;
	font-weight: bold;
	padding: 0 12px;
	box-shadow: inset 0 1px 0px rgba(175,207,236,0.2),0 1px 0 rgba(0,0,0,0.11);
	background: -webkit-linear-gradient(top, #538cc4, #4781b9);
	background: -ms-linear-gradient(top, #538cc4, #4781b9);
	background: -moz-linear-gradient(top, #538cc4, #4781b9);
	background: -o-linear-gradient(top, #538cc4, #4781b9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#538cc4',endColorstr='#4781b9');
	border-radius: 2px;
	text-shadow: 0 -1px 0 rgba(77,123,196,.75);
	float: right;
}
.popup.group_giftsb .btn-back {
	background:#FFFFFF;
    border-color: #CCCECF #CCCECF #BCBEC0;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #F2F2F2;
    color: #6E727A;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    vertical-align: middle;
	float:right;
	margin-right:5px;
}
.gift-group-contributions {
   background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    height: 48px;
    margin: 0px 23px;
    overflow: hidden;
}
.gift-group-contributions li {
   color: #A1A2A6;
    float: left;
    font-size: 13px;
    line-height: 48px;
    position: relative;
    text-align: center;
    width: 33.3%;
	font-weight:normal;
}
.gift-group-contributions li a{
	color: #A1A2A6;
	font-weight:normal;
}
.gift-group-contributions li a:hover{
	text-decoration:none;
}
.gift-group-contributions li span {
    height: 49px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 19px;
	background:url(../../images/step-arrow.png) no-repeat;
}
.gift-group-contributions li.depth1{
     padding-right: 20px;
   	 width: 258px;
	 background:#FFF;
}
.gift-group-contributions li.current{
	background:#FFFFFF;
}
.gift-group-contributions li.current a{
	color:#57585B;
	font-weight: bold;
}
.gift-group-contributions li.depth1 span{
	background-position: -40px 0;
}
.gift-group-contributions li.depth2 {
   	padding-right: 20px;
    width: 234px;
	background:#FFF;
}
.gift-group-contributions li.depth2 span{
	background-position: -40px 0;
}
.gift-group-contributions li.depth3 {
	width: 284px;
}
.gift-group-tab{
	border-bottom: 1px solid #EBECEF;
    height: 36px;
    padding: 0 9px
}
.gift-group-tab li{
	float: left;
    line-height: 37px;
    padding: 0 15px;
}
.gift-group-tab li a{
	color: #ADAFB2;
    display: block;
    font-weight: bold;
}
.gift-group-tab li a:hover{
	text-decoration:none;
}
.gift-group-tab li a.current{
	box-shadow: 0 -3px 0 #393D4D inset;
    color: #383D48;
}
.search-social-friends{
	  background: url(../../images/group-icon.png) no-repeat scroll -200px 10px rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    box-shadow: 0 1px 0 #F4F5F5 !important;
    margin: 15px 25px !important;
    padding: 6px 10px 6px 18px !important;
    width: 92% !important;
}

.howit_works{
	float:left;
}
.howit_works i{
	background: url(../../images/group-icon.png) no-repeat;
	float:left;
	background-position: -80px -50px;
    height: 21px;
	width:8px;
	padding-left:18px;
}
.howit_works a{
	color: #383D48;
    line-height: 23px;
    text-decoration: none;
}
.howit_works a:hover{
	color: #383D48;
	text-decoration:underline;
}
.suggested_box{
	float:left;
	width:26%;
	padding:15px;
}

.popup_details_gift_title{
	float:left; 
	margin-top:25px; 
	width:100%;
}
.popup_details_gift_title h3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom:none;
    color: #383D48;
    cursor: default;
    font-size: 13px;
    line-height: 36px;
    margin: 0 !important;
    padding: 0 24px;
    text-align: left;
}
.group_summary{
	border: 1px solid #E3E3E3;
    float: left;
    margin: 0px 20px 20px 20px;
    width: 95%;
}
.group_content{
	  float: left;
    padding: 10px 15px; width:265px;
}
.group_content h2{
	padding:0px;
}
.group_content p{
	padding:0px;
	font-weight:normal !important;
	height:72px;
	overflow:hidden;
}
.group_gift_issue{
	float:left;
}
.group_gift_issue_icon{
	float:left;
	margin-right:8px;
}
.group_gift_issue_detail{
	float:left; width: 265px;
}
.group_gift_issue_detail li{
	float:left;
	width:100%;
	padding-bottom:3px;
}
.group_gift_issue_detail li p{
	height:auto;
	font-weight:normal !important;
	padding-bottom:0px !important;
}
.group_product_img{
    float: left;
    height: 190px;
    width: 190px;
    z-index: 2;
}
.group_product_img img{
	 background-position: 50% 50%;
    background-size: cover;
    height: 190px;
    width: 190px;
    z-index: 1;
}
.group_gift_payment{
	float:right;
	width:30%;
	border-left: 1px solid #E3E3E3;
	padding:15px;
	min-height:159px;
}
.group_gift_payment_tab{
	float:left;
	width:98%;
	padding:5px;
	color: #4D525D;
    font-size: 13px;
	line-height:30px;
	padding-top:10px;
}
.group_gift_payment_tab span{
	color: #4D525D;
    font-size: 13px;
    left: 0;
    line-height: 25px;
}
.group_gift_payment_tab strong{
	color: #373D48;
	float:right;
}
.group_gift_payment_tab strong small{
	font-size: 11px;
	padding-left:5px;
}
.contributions_title{
	display:inline-block;
	width:100%;
	text-align:center;
	margin:40px 0 20px;
}
.contributions_title h2{
	 color: #383D48;
    display: block;
    font-size: 22px;
    padding-bottom: 3px;
	text-align:center;
}
.contributions_share{
	display:inline-block;
	width:100%;
	text-align:center;
	margin-top:15px;
}
.contributions_share li{
	display:inline-block;
	position: relative;
}
.contributions_share li a{
	display:inline-block;
}
.contributions_share li .contributions_go{
	background:#DB4938;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 33px;
    padding:0 13px 0 8px;
    width: auto;
	display: inline-block;
	 position: relative;
    top: -10px;
}
.contributions_share li .contributions_go:hover{
	text-decoration:none;
}
.contributions_share li .contributions_go .icon{
	 background-position: -228px 0;
    display: inline-block;
    height: 21px;
    margin: -3px 6px 0 0;
    vertical-align: middle;
    width: 21px;
}
.contributions_share .icon{
	background:url(../../images/group-icon.png) no-repeat;
	 border-radius: 2px;
    display: block;
    height: 33px;
    width: 32px;
}
.contributions_share li .contributions_fa .icon{
	 background-position: -36px -100px;
}
.contributions_share li .contributions_fa .icon:hover{
	 background-position: -36px -140px;
}
.contributions_share li .contributions_tw .icon{
	 background-position: -72px -100px;
}
.contributions_share li .contributions_tw .icon:hover{
	 background-position: -72px -140px;
}
.contributions_share li .contributions_bk .icon{
	 background-position: -108px -100px;
}
.contributions_share li .contributions_bk .icon:hover{
	 background-position: -108px -140px;
}
.contributions_share li .contributions_re .icon{
	 background-position: -144px -100px;
}
.contributions_share li .contributions_re .icon:hover{
	 background-position: -144px -140px;
}
.contributions_share li .contributions_qz .icon{
	 background-position: -180px -100px;
}
.contributions_share li .contributions_qz .icon:hover{
	 background-position: -180px -140px;
}
.contributions_share li .contributions_we .icon{
	 background-position: -218px -100px;
}
.contributions_share li .contributions_we .icon:hover{
	 background-position: -218px -140px;
}
.popup.edit_group_gifts{ width: 500px; margin-top: 5px !important;}
.popup.edit_group_gifts .ltxt { position: relative; border-radius: 0; padding: 18px 0px 0px 0px; background: #fff; color: #393d4d;
	   float:left; width:100%; min-height:500px;}
.popup.edit_group_gifts .ltit{ font-size:15px !important; height:47px !important; padding:15px;}
.popup.edit_group_gifts .btn-area { padding: 13px 15px; background: #fff; box-shadow: none; border-top-color: #e6e8ea;     text-align:left; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box;
	    -ms-box-sizing: border-box; margin: 0; float:left;}
.popup.edit_group_gifts .btn-done { margin:0 auto; cursor:pointer; font-size: 13px; border: 1px solid #396c9d; color: #fff; height: 32px; font-weight: bold; padding: 0 12px; float: right; margin-right:5px; border-radius: 2px; text-shadow: 0 -1px 0 rgba(77,123,196,.75); box-shadow: inset 0 1px 0px rgba(175,207,236,0.2),0 1px 0 rgba(0,0,0,0.11);
	background: -webkit-linear-gradient(top, #538cc4, #4781b9);
	background: -ms-linear-gradient(top, #538cc4, #4781b9);
	background: -moz-linear-gradient(top, #538cc4, #4781b9);
	background: -o-linear-gradient(top, #538cc4, #4781b9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#538cc4',endColorstr='#4781b9');	
}
.edit-product-detail{width:100%; float:left; height:155px;}
.edit-product-detail .iedit-product-detail {margin-left:20px; float:left; width:455px; height:135px; border:1px solid #ebebeb;}
.edit-product-detail .iedit-product-detail .left {float:left; width:130px;  }
.edit-product-detail .iedit-product-detail .right {float:left; width: 315px; margin-left:10px;}
.edit-product-detail .iedit-product-detail .right figcaption{color: #383D48; display: block; margin-top:15px; line-height: 18px; font-weight:bold;}
.edit-product-detail .iedit-product-detail .right .price{color: #6F7173; display: block; font-size: 11px; line-height: 18px; padding-bottom: 10px;}
.edit-product-detail .iedit-product-detail .right .description{color: #91969C; line-height: 14px; font-weight: normal!important;}
.edit-product-detail .iedit-product-detail .right .description p {padding:10px 0px 0px 0px; font-size:12px;}
.gift-summary{ padding:21px 10px 16px 16px; position: relative;  border-bottom:1px solid #ebebeb;  border-top:1px solid #ebebeb;}
.gift-summary label{ float:left; width:25%;  color: #868B91; font-size: 13px;}
.receipent{padding:21px 10px 16px 16px; position: relative;}
.receipent label{ float:left; width:25%; color: #868B91; font-size: 13px;}
.gift-summary p{
	padding:0px;
}
.receipent p{
	padding:0px;
}
.gift_input{
	 background:#FFFFFF !important;
    border-color: #B0B5BC #C7CAD0 #D5D9DF !important;
    box-shadow: 0 1px 0 #FBFBFB inset !important;
    margin-bottom: 10px !important;
    padding: 5px 8px !important;
    width: 320px !important;
}
.width90{
	width:92px !important;
}
.popupcancel_btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #CCCECF;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
    color: #383D48;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    padding: 0 13px;
}
ol.stream {position: relative;}
ol.stream.use-css3 li.anim {transition:all .25s;-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;visibility:visible;opacity:1;}
ol.stream.use-css3 li {visibility:hidden;}
ol.stream.use-css3 li.anim.fadeout {opacity:0;}
ol.stream.use-css3.fadein li {opacity:0;}
ol.stream.use-css3.fadein li.anim.fadein {opacity:1;}
.button {
	cursor: pointer;
	overflow: visible;
	margin: 5px 0px;
	padding: 8px 8px 10px 7px;
	border: 0;
	border-radius: 4px;
	font-weight: bold;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #fff;
	background: #588cc7;

	background-color: #396C9D;
    border: 1px solid #396C9D;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(175, 207, 236, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.11);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    padding: 0 12px;
    text-shadow: 0 -1px 0 rgba(77, 123, 196, 0.75);
}
.vcard{float:left !important;}
.detail_leftbar4 .wrapper {width:100%;}
#btn-comment{width: 12%;float: left;height: 38px; margin: 0px 0px 0px 10px;}
#comments-send {height: 23px;margin: 0px 0px 0px 10px;width: 76%; float:left;}
.contribute_btn{width:156px !important;}
.progress-bar {color:#858E99; float:right;font-size:10px;height:5px;line-height:0; margin-top:6px;}
.progress-bar .fst{float:left;margin-left: 2px;} 
.progress-bar .lst{float:right; margin-right: 2px;}
.all-rounded{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.spacer{display:block;}
#progress-bar {width:150px; margin:10px 0px 0px 0px; background:#cccccc; border:3px solid #f2f2f2; height:5px;}
#progress-bar-percentage {background:#3063A5; padding:5px 0px 0px 0px; color:#FFF; font-weight:bold;
   text-align: center; }
   
.popup.group_giftsa{
	width: 865px; 
	margin-top: 5px !important;
}
.popup.group_giftsa .ltxt {
	position: relative;
	border-radius: 0;
	padding: 18px 0px 0px 0px;
	background: #fff;
	color: #393d4d;
	float:left;
	width:100%;
	min-height:500px;
}
.popup.group_giftsa .ltit{ font-size:19px !important; height:47px !important; padding:15px;}
.popup.group_giftsa .ltxt p {
	color: #393d4d;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 14px;
}
.popup.group_giftsa .btn-area {
	padding: 13px 15px;
	background: #fff;
	box-shadow: none;
	border-top-color: #e6e8ea;
	text-align: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	margin: 0;
	float:left;
}
.popup.group_giftsa .btn-done {
    margin:0 auto;
	cursor:pointer;
	font-size: 13px;
	border: 1px solid #396c9d;
	color: #fff;
	height: 32px;
	font-weight: bold;
	padding: 0 12px;
	box-shadow: inset 0 1px 0px rgba(175,207,236,0.2),0 1px 0 rgba(0,0,0,0.11);
	background: -webkit-linear-gradient(top, #538cc4, #4781b9);
	background: -ms-linear-gradient(top, #538cc4, #4781b9);
	background: -moz-linear-gradient(top, #538cc4, #4781b9);
	background: -o-linear-gradient(top, #538cc4, #4781b9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#538cc4',endColorstr='#4781b9');
	border-radius: 2px;
	text-shadow: 0 -1px 0 rgba(77,123,196,.75);
	float: right;
}
.popup.group_giftsa .btn-back {
	background:#FFFFFF;
    border-color: #CCCECF #CCCECF #BCBEC0;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #F2F2F2;
    color: #6E727A;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    vertical-align: middle;
	float:right;
	margin-right:5px;
}
.gift-group-personal {
   background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    height: 48px;
    margin: 0px 23px;
    overflow: hidden;
}
.gift-group-personal li {
   color: #A1A2A6;
    float: left;
    font-size: 13px;
    line-height: 48px;
    position: relative;
    text-align: center;
    width: 33.3%;
	font-weight:normal;
}
.gift-group-personal li a{
	color: #A1A2A6;
	font-weight:normal;
}
.gift-group-personal li a:hover{
	text-decoration:none;
}
.gift-group-personal li span {
    height: 49px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 19px;
	background:url(../../images/step-arrow.png) no-repeat;
}
.gift-group-personal li.depth1{
     padding-right: 20px;
   	 width: 258px;
	 background:#FFF;
}
.gift-group-personal li.current{
	background:#FFFFFF;
}
.gift-group-personal li.current a{
	color:#57585B;
	font-weight: bold;
}
.gift-group-personal li.depth1 span{
	background-position: -40px 0;
}
.gift-group-personal li.depth2 {
   	padding-right: 20px;
    width: 234px;
}
.gift-group-personal li.depth2 span{
	background-position: -20px 0;
}
.gift-group-personal li.depth3 {
	width: 255px;
}
.gift-group-tab{
	border-bottom: 1px solid #EBECEF;
    height: 36px;
    padding: 0 9px
}
.gift-group-tab li{
	float: left;
    line-height: 37px;
    padding: 0 15px;
}
.gift-group-tab li a{
	color: #ADAFB2;
    display: block;
    font-weight: bold;
}
.gift-group-tab li a:hover{
	text-decoration:none;
}
.gift-group-tab li a.current{
	box-shadow: 0 -3px 0 #393D4D inset;
    color: #383D48;
}
.search-social-friends{
	  background: url(../../images/group-icon.png) no-repeat scroll -200px 10px rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    box-shadow: 0 1px 0 #F4F5F5 !important;
    margin: 15px 25px !important;
    padding: 6px 10px 6px 18px !important;
    width: 92% !important;
}
.title_enter_manually{
	float:left; 
	width:65%; 
	padding:20px;
}
.title_enter_manually_box{
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E1E1E3;
    padding: 18px 20px 20px;
	float:left;
}
.title_enter_manually_box ul{
	width:100%;
	float:left;
}
.title_enter_manually_box ul li{
	float:left;
	width:100%;
	padding:5px 0px;
}
.title_enter_manually_box ul li label {
	 display: inline-block;
    line-height: 32px;
    padding-top: 1px;
    vertical-align: top;
    width: 26%;
	font-weight:bold;
}
.title_enter_manually_box ul li span{
	color: #8E9097;
    float: right;
    line-height: 18px;
    padding: 3px 0 14px 111px;
    width: 360px;
}
.title_manually_input{
	background:#FFFFFF !important;
    box-shadow: none !important;
    height: 20px !important;
    width: 70% !important;
    line-height: 19px !important;
	border:1px solid #D2D6DC !important;
	color: #393D4D !important;
    font-size: 13px !important;
    line-height: 19px !important;
    margin: 0 !important;
    padding: 5px 7px !important;
}
.title_manually_textarea{
    height: 225px !important;
    line-height: 24px !important;
}
.howit_works{
	float:left;
}
.howit_works i{
	background: url(../../images/group-icon.png) no-repeat;
	float:left;
	background-position: -80px -50px;
    height: 21px;
	width:8px;
	padding-left:18px;
}
.howit_works a{
	color: #383D48;
    line-height: 23px;
    text-decoration: none;
}
.howit_works a:hover{
	color: #383D48;
	text-decoration:underline;
}
.suggested_box{
	float:left;
	width:26%;
	padding:15px;
}

.popup_details_gift{
	float:left; 
	
	border-bottom:1px solid #ECEEF4; 
	width:100%;
}
.popup_details_gift h3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom:none;
    color: #383D48;
    cursor: default;
    font-size: 13px;
    line-height: 36px;
    margin: 0 !important;
    padding: 0 24px;
    text-align: left;
}
.group_gift_total{
	  border: 1px solid #DCDCDC;
    box-shadow: 0 0 0 4px #F6F6F6;
    float: right;
    font-size: 13px;
    height: 304px;
    line-height: 18px;
    margin: 27px 27px 4px 4px;
    padding: 5px 6px 50px;
    position: relative;
    width: 206px;
    z-index: 2;
}
.group_gift_total_img img{
	 background-position: 50% 50%;
    background-size: cover;
    height: 206px;
    width: 206px;
    z-index: 1;
}
.group_gift_total_tab{
	float:left;
	width:98%;
	padding:5px;
	color: #4D525D;
    font-size: 13px;
	line-height: 28px;
	padding-top:30px;
}
.group_gift_total_tab span{
/*	border-bottom: 1px dotted #A6A8AE;*/
	color: #4D525D;
    font-size: 13px;
    left: 0;
    line-height: 25px;
}
.group_gift_total_tab strong{
	color: #373D48;
	float:right;
}
.group_gift_total_tab strong small{
	font-size: 11px;
	padding-left:5px;
}
.popup.group_gifts{ width: 865px; margin-top: 5px !important;}
.popup.group_gifts .ltxt { position: relative; border-radius: 0; padding: 18px 0px 0px 0px; background: #fff; color: #393d4d;
	   float:left; width:100%; min-height:500px;}
.popup.group_gifts .ltit{ font-size:19px !important; height:47px !important; padding:15px;}
.popup.group_gifts .ltxt p { color: #393d4d; font-weight: bold; font-size: 14px; padding-bottom: 14px; }
.popup.group_gifts .btn-area { padding: 13px 15px; background: #fff; box-shadow: none; border-top-color: #e6e8ea;     text-align:left; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box;
	    -ms-box-sizing: border-box; margin: 0; float:left;}
.popup.group_gifts .btn-done, .change_friend { margin:0 auto; cursor:pointer; font-size: 13px; border: 1px solid #396c9d; color: #fff; height: 32px; font-weight: bold; padding: 0 12px; float: right; margin-right:5px; border-radius: 2px; text-shadow: 0 -1px 0 rgba(77,123,196,.75); box-shadow: inset 0 1px 0px rgba(175,207,236,0.2),0 1px 0 rgba(0,0,0,0.11);
	background: -webkit-linear-gradient(top, #538cc4, #4781b9);
	background: -ms-linear-gradient(top, #538cc4, #4781b9);
	background: -moz-linear-gradient(top, #538cc4, #4781b9);
	background: -o-linear-gradient(top, #538cc4, #4781b9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#538cc4',endColorstr='#4781b9');	
}
.gift-group-create {  background: none repeat scroll 0 0 #FAFAFA; border: 1px solid #EAEAEA; border-radius: 2px; height: 48px;
    margin: 0px 23px; overflow: hidden;}
.gift-group-create li { color: #A1A2A6; float: left; font-size: 13px; line-height: 48px; position: relative; text-align: center;
    width: 33.3%; font-weight:normal; }
.gift-group-create li a{ color: #A1A2A6; font-weight:normal;}
.gift-group-create li a:hover{ text-decoration:none;}
.gift-group-create li span { height: 49px; position: absolute; right: 0; top: -1px; width: 19px;  
     background:url(../../images/step-arrow.png) no-repeat; }
.gift-group-create li.depth1{ padding-right: 20px; width: 258px;}
.gift-group-create li.current{
	background:#FFFFFF;
}
.gift-group-create li.current a{
	color:#57585B;
	font-weight: bold;
}
.gift-group-create li.depth1 span{
	background-position: -20px 0;
}
.gift-group-create li.depth2 {
   	padding-right: 20px;
    width: 234px;
}
.gift-group-create li.depth3 {
	width: 255px;
}
.gift-group-tab{
	border-bottom: 1px solid #EBECEF;
    height: 36px;
    padding: 0 9px
}
.gift-group-tab li{
	float: left;
    line-height: 37px;
    padding: 0 15px;
}
.gift-group-tab li a{
	color: #ADAFB2;
    display: block;
    font-weight: bold;
}
.gift-group-tab li a:hover{
	text-decoration:none;
}
.gift-group-tab li a.current{
	box-shadow: 0 -3px 0 #393D4D inset;
    color: #383D48;
}
.search-social-friends{
	  background: url(../../images/group-icon.png) no-repeat scroll -200px 10px rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    box-shadow: 0 1px 0 #F4F5F5 !important;
    margin: 15px 25px !important;
    padding: 6px 10px 6px 18px !important;
    width: 92% !important;
}
.enter_manually{
	float:left; 
	width:65%; 
	border-right:1px solid #ECEEF4;
	padding:20px;
}
.enter_manually_box, .enter_manually_box1{
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E1E1E3;
    padding: 18px 20px 20px;
	float:left;
}
.enter_manually_box ul, .enter_manually_box1 ul{
	width:70%;
	float:left;
}
.enter_manually_box ul li, .enter_manually_box1 ul li{
	float:left;
	width:100%;
	padding:5px 0px;
}
.enter_manually_box ul li label, .enter_manually_box1 ul li label{
	 display: inline-block;
    line-height: 32px;
    padding-top: 1px;
    vertical-align: top;
    width: 100px;
}
.manually_input{
	background:#FFFFFF !important;
    box-shadow: none !important;
    height: 20px !important;
    width: 244px !important;
    line-height: 19px !important;
	border:1px solid #D2D6DC !important;
	color: #393D4D !important;
    font-size: 13px !important;
    line-height: 19px !important;
    margin: 0 !important;
    padding: 5px 7px !important;
}
.manually_select{
    height: 34px !important;
    line-height: 24px !important;
    width: 259px !important;
}
.manually_city{
    margin-right: 6px !important;
    width: 148px !important;
}
.manually_zip{
    width: 73px !important;
}
.howit_works{
	float:left;
}
.howit_works i{
	background: url(../../images/group-icon.png) no-repeat;
	float:left;
	background-position: -80px -50px;
    height: 21px;
	width:8px;
	padding-left:18px;
}
.howit_works a{
	color: #383D48;
    line-height: 23px;
    text-decoration: none;
}
.howit_works a:hover{
	color: #383D48;
	text-decoration:underline;
}
.enter_manually_photos{
	float:right;
	width:23%;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
	position:relative;
}
.enter_manually_photos .hidden{
	display: block !important;
    height: 115px;
    opacity: 0;
    position: relative;
    width: 119px;
    z-index: 1;
}
.enter_manually_photos .btn-upload {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #585C63;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 118px;
    text-align: center;
    width: 118px;
	position: absolute;
	top: 0;
}

.enter_manually_photos .btn-upload .icon {
    background-position: 10px 0;
    display: block;
    height: 64px;
    margin: 0 auto 7px;
    width: 79px;
}
.enter_manually_photos .btn-upload .icon {
    background: url(../../images/upload_preview.png) no-repeat scroll 0 0 / 69px 64px rgba(0, 0, 0, 0);
}
.suggested_box{
	float:left;
	width:26%;
	padding:15px;
}
.connent_share_links{
	float: left;
    margin: 15px 0 0 25px;
}
.connent_share_links li{
	float:left;
}
.connent_share_links li a{
	padding-bottom: 15px;
	float:left;
	border-bottom:1px solid #EBECEF;
	border-right:1px solid #EBECEF;
    padding-right: 15px;
}
.connent_share_links li a:hover{
	text-decoration:none;
}
.connent_share_links li a.current{
	border-bottom:3px solid #CD5947 ;
}
.connent_share_links li .icon{
	display: inline-block;
    height: 24px;
    margin: -3px 3px 0 0;
    vertical-align: middle;
    width: 24px;
	background:url(../../images/group-icon.png) no-repeat;
}
.connent_share_links li .face_connect_links{
	border-right:none;
	padding-left: 15px;
}
.connent_share_links li .go_connect_links .icon{
	background-position: -200px -20px; 
}
.connent_share_links li .face_connect_links .icon{
	background-position: -200px -50px; 
}
.popup.group_gifts .btn-back {
	background:#FFFFFF;
    border-color: #CCCECF #CCCECF #BCBEC0;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #F2F2F2;
    color: #6E727A;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    vertical-align: middle;
	float:right;
	margin-right:5px;
}
#searchid{ width:300px; border:solid 1px #000; padding:10px; font-size:14px; }
#result { position:absolute; width:99.7%; padding:10px 0px 0px 0px; display:none; margin:109px 0px 25px 0px; border-top:0px;
          overflow:hidden; border:1px #CCC solid; background-color: white; }
.show{ padding:10px; border-bottom:1px #999 dashed; font-size:15px; height:40px;}
.show:hover { background:#4c66a4; color:#FFF; cursor:pointer;}
.friends-lists{height:200px; width:99.7%; margin-top:10px; float:left;}


.friends-lists dd {
	overflow:auto;
	white-space: nowrap;
	font-size: 0;
	width: 770px;
	margin-left:30px;
}


.friends-lists ul {
	display: block;
	padding: 0 0 20px;
	height: 70px;
	overflow: visible;
}
.friends-lists ul li {
	float: none;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	/* width: 140px; */
	margin: 0 15px 0 0;
	border: 0;
	overflow: hidden;
}
.enter_manually_photos1 img{padding-left: 25px;width: 75px;}
#suggested_friends{float: left; height: auto; margin-top: 20px; width: 100%;}
.inner_suggested_friends{float: left; height: 100px; margin-top: 20px; width: 100%; cursor:pointer;}
.inner_suggested_friends img{float: left; height: 90px; width: 90px; margin-left: 65px;}
.inner_suggested_friends span{ width:100%; margin-top: 10px; text-align: center; float: left;   
  font-size: 17px;font-weight: bold; }
.reciver_text{
	 border-bottom: 1px solid #E9EAED;
    font-size: 13px;
    line-height: 20px;
    padding: 12px 0 14px 66px;
    position: relative;
}
.edit_btn_list{
   background: url("../../images/group-icon.png") no-repeat scroll -85px 0 rgba(0, 0, 0, 0);
    float: right;
    height: 10px;
    margin-right: 7px;
    margin-top: 13px;
    width: 10px;
}
.reciver_icon img{
 border-radius: 2px;
    height: 55px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 55px;
}
.reciver_text small{
 	color: #92959C;
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: -3px;
    padding-bottom: 2px;
}
.reciver_text .username{
	 display: block;
}
.detail_sidebar_list .prize {
    border-bottom: 1px solid #E9EAED;
    padding: 19px 15px 16px;
}
.detail_sidebar_list .prize strong {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.remaining_date {
    margin-bottom: -1px;
    padding: 3px 15px 20px;
}
.remaining_date li {
 border-bottom: medium none !important;
    color: #858E99 !important;
    font-size: 12px;
    line-height: 24px !important;
}
.remaining_date li b {
    color: #37404E;
    display: block;
    font-size: 18px;
    padding-bottom: 2px;
}

.detail_sidebar_list .btn-area {
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 0 5px #F6F6F6;
    margin: 0 20px 21px;
    padding: 0;
}
.contribute_btn{
	padding: 0 12px 0 15px;
    text-shadow: 0 -1px 0 #4B8036;
	font-size: 13px;
	display: block;
    line-height: 34px;
    margin:11px 12px;
    width:188px;    
	background: #75A75C;
    border-color: #5D864A #588044 #446C35;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #7BAB63 inset, 0 1px 0 #E5E5E5;
	 color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.btn-area span{
 	border-top: 1px solid #F0F0F0;
    display: block;
    line-height: 18px;
    padding: 10px;
    text-align: center;
}
.notify1{
	border-top: 1px solid #E9EAED;
    padding: 12px 7px 11px;
	color: #787D83;
    font-size: 12px;
    line-height: 18px;
    width: auto;
}
.detail_sidebar_list .store-name{
	 color: #858E99;
    font-size: 12px;
    line-height: 19px;
    padding: 15px 15px 12px;
}
.detail_sidebar_list .product-list{
	  border-top: 1px solid #E9EAED;
    font-size: 0;
    padding: 15px 0 15px 15px;
}
.detail_sidebar_list .product-list li {
    display: inline-block;
    height: 73px;
    margin-right: 2px;
    overflow: hidden;
    width: 73px;
}
.detail_sidebar_list .product-list li img {
    background-position: 50% 50%;
    background-size: cover;
    height: 81px;
    margin: -1px;
    width: 81px;
}
.detail_sidebar_list .description {
    border-top: 1px solid #E9EAED;
    line-height: 18px;
    padding: 15px 15px 17px;
}
.detail_sidebar_list .description .less {
    max-height: 72px;
    overflow: hidden;
}
.detail_sidebar_list .description .less p {
    padding: 0;
}
.detail_sidebar_list .description a.more, .detail_sidebar_list .description a.less {
    color: #4775AC;
    font-weight: bold;
}
.contributions_share_link .link {
    color: #37404E;
    float: right;
    font-weight: bold;
    margin-right: 0;
}
.share_links{
	width:auto !important;
}
.contributions_share_link{
	float:left;
	margin-top:15px;
	width:100%;
}
.contributions_share_link a {
    border: 1px solid #CCCECF;
    border-radius: 2px;
    color: #7C818A;
   	float:left;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    line-height: 26px;
    margin-right: 1px;
    padding: 0 8px 0 6px;
    width: auto;
}
.ask_go_share .icon{
  	background: url("../../images/group-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    float: left;
    height: 18px;
    width: 18px;
	 margin-right: 5px;
    margin-top: 5px;
}
.ask_go_share .icon{
	background-position: -20px 0;
}
.share_links .icon{
  	background: url("../../images/group-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    float: left;
    height: 18px;
    width: 18px;
	 margin-right: 5px;
    margin-top: 5px;
}
.share_links .icon{
	 background-position: -40px 0;
}
.tweet_links .icon{
  	 background: url("../../images/group-icon.png") no-repeat scroll 0 0 / 250px 200px rgba(0, 0, 0, 0);
    border-radius: 2px;
    float: left;
    height: 18px;
    width: 18px;
	 margin-right: 5px;
    margin-top: 5px;
}
.gifts-summary {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.detail_leftbar4 .wrapper{
	float: left;
    padding: 0px 25px 15px 25px;
    width: 93%;
}
.detail_leftbar4 .comments-list-new .text{
	margin-left:7px;
}
.contribution_box{
	font-size: 13px;
    line-height: 18px;
    padding: 20px 20px 5px;
	float:left;
}
.contribution_box h4{
	font-weight: bold;
    padding-bottom: 7px;
}
.contribution_box p{
    padding-bottom: 20px;
}
.contribution_box p b{
	padding:0px 3px;
}
.contribution_amount{
	float:left;
	margin-right:10px;
}
.contribution_amount li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCECF #CCCECF #BCBEC0;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #F2F2F2;
    color: #545862;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    margin-right: 2px;
    padding: 8px 18px;
}
.contribution_amount li.on_select{
	background:#6AA256;
    border-color: #486F3B #598848 #61954F;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(49, 90, 33, 0.42);
}
.contribution_otheramount{
	float:left;
	line-height:38px;
}
.total_contribution{
	float:left;
    border-color: #A4A6A9 #CBCDD1 #CBCDD1;
    box-shadow: none;
    color: #6AA256;
    margin-left: 10px;
    min-width: 84px;
    position: relative;
	
}
.total_scroll{
    border: 0 none;
    color: #6AA256 !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    outline: medium none;
    padding: 0;
	width:100px !important;
	border-radius: 3px;
	height:auto !important;
}
.total_contribution small {
    color: #858E99;
    font-weight: normal;
    position: absolute;
    right: 9px;
    top: 8px;
}
.contribution_maximum{
	padding-bottom: 19px;
	 color: #858E99;
	 float:left;
	 width:100%;
}
.contribution_maximum{
	color: #37404E;
}
.contribution_msg{
	border-top: 1px solid #E9EAED;
	float:left;
	width:100%;
	padding-bottom: 15px;
}
.contribution_msg_box{
	font-size: 13px;
    line-height: 18px;
    padding: 20px 20px 5px;
}
.contribution_msg_box h5{
	font-weight: bold;
    padding-bottom: 7px;
}
.contribution_textbox{
	 display: block;
    height: 76px;
    width: 436px;
	background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #CACCCF;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    color: #393D4D;
    font-size: 13px;
    line-height: 19px;
    margin: 0;
    padding: 5px 7px;
}
.payment_detail_btn{
	border-bottom: 1px solid #E9EAED;
    padding: 24px 20px 25px;
}
.payment_detail_btn h5 {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 13px;
}
.payment_detail_btn h5 a {
    font-weight: normal;
}
.payment_detail_btn a {
    color: #4775AC;
}
.contribution_payment{
	padding: 22px 20px 20px;
	float:left; width:640px; background:#fff;
}
.contribution_payment h3 {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 13px;
}
.card_payment{
  	border: 1px solid #E9EAED;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
.new_payment_method{
	float:left;
}
.icon_card{
  background: url("../../images/group-icon.png") no-repeat scroll 0 -50px rgba(0, 0, 0, 0);
    float: left;
    height: 28px;
    margin: -8px 4px -3px 0;
    padding: 0;
    width: 46px;
}
.card_payment label{
	width:100%;
	float:left;
	line-height:38px;
}
.card_input{
	background:#FFFFFF !important;
    box-shadow: none !important;
    height: 19px !important;
    line-height: 19px !important;
	display: block !important;
    margin-top: 5px !important;
	color: #393D4D !important;
    font-size: 13px !important;
	border: 1px solid #CACCCF !important;
    border-radius: 2px !important;
	padding: 5px 7px !important;
	margin-right:10px;
}
.width160{
	width:160px !important;
}
.width140{
	width:140px !important;
}
.width70{
	width:70px !important;
}
.width55{
	width:55px !important;
}
.card_scroll{
	background:#FFFFFF !important;
    box-shadow: none !important;
    height: 30px !important;
    line-height: 19px !important;
	display: block !important;
	color: #393D4D !important;
    font-size: 13px !important;
	border: 1px solid #CACCCF !important;
    border-radius: 2px !important;
	padding: 5px 7px !important;
	float:left;
	margin-right:10px;
}
.contribution_btn_area{
	border-top: 1px solid #E9EAED;
    float: left;
    padding: 5px 20px;
    width: 94%;
	background:#fff;
}
.security{
	float: right;
    line-height: 56px;
}
.ic-security {
  	background: url("../../images/group-icon.png") no-repeat scroll -120px 0 rgba(0, 0, 0, 0);
    float: left;
    height: 11px;
    margin: 20px 8px 0 0;
    width: 9px;
}
.contribute_img{
	display: block;
    padding: 11px 10px 0;
    text-align: center;
}
.contribute_img img {
    max-width: 233px;
}
.contribute_summary{
	padding: 8px 15px 11px;
}
.contribute_summary h5 {
    padding-bottom: 7px;
	font-size: 13px;
    line-height: 18px;
	color: #383D48;
	text-align:left;
}
.contribute_summary h5 small{
	font-size: 13px;
    line-height: 18px;
    padding: 0;
	color: #656C77;
    display: block;
    font-weight: normal;
}
.contribute_message{
	color: #383D48;
    margin: 0;
    position: static;
    width: auto;
	 font-size: 13px;
    line-height: 18px;
}
.statistics {
    border-top: 1px solid #E9EAED;
    color: #858E99;
    font-size: 0;
	padding:0px !important;
}
.statistics ul{
	padding:0px !important;
}
.statistics ul li {
    display: inline-block;
    line-height: 56px;
    width: 50%;
}
.statistics ul li span {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 15px 0;
    vertical-align: middle;
}
.statistics ul li b {
    color: #37404E;
    display: block;
}
.statistics ul li.people {
    border-left: 1px solid #E9EAED;
    margin-left: -1px;
}
.contribute_prize_zone {
    border-top: 1px solid #E9EAED;
    padding: 12px 15px 13px; height:30px;
}
.contribution_payment dl.left-contribute{width:300px; padding-left:15px; float:left; position:relative;}
.contribution_payment dl.right-contribute{width:300px; padding-left:15px;float:left;position:relative;}
.contribution_payment dl.left-contribute dt{padding-top: 21px;color: #91949a; font-size: 12px; line-height: 22px;}
.contribution_payment dl.left-contribute dt b{color: #373d49; display: block; font-size: 18px;}
.contribution_payment dl.left-contribute dd{clear: both; float: left; min-height: 39px; width: 100%;
	padding-bottom: 10px;}
.contribution_payment dl.left-contribute dd label{display: block; float: none; color: #373d49;
    font-size: 12px;line-height: 22px;padding-top: 4px; width: 180px;}
.contribution_payment dl.left-contribute dd label b, .contribution_payment dl.right-contribute dd label b{color: #3077ce;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    top: 2px;}
.contribution_payment dl.left-contribute dd input {margin-bottom: 0; width: 253px; border: 1px solid #d1d3d9;
    border-radius: 4px; height: 17px; padding:5px; float:none;}

.contribution_payment dl.right-contribute dt{margin-bottom: 63px !important;color: #91949a; font-size: 12px; line-height: 22px;}
.contribution_payment dl.right-contribute dt b{color: #373d49; display: block; font-size: 18px;}
.contribution_payment dl.right-contribute dd{clear: both; float: left; min-height: 39px; width: 100%;
	padding-bottom: 10px;}
.contribution_payment dl.right-contribute dd label{display: block; float: none; color: #373d49;
    font-size: 12px;line-height: 22px;padding-top: 4px; width: 180px;}
.contribution_payment dl.right-contribute dd input {margin-bottom: 0; width: 253px; border: 1px solid #d1d3d9;
    border-radius: 4px; height: 17px; padding:5px; float:none;}
.contribution_payment dl.left-contribute dd input.error, .contribution_payment dl.right-contribute dd input.error{
    background: none repeat scroll 0 0 #fff1e5;
    border: 1px solid #ed1c24;
    margin-bottom: 0;
}
/*pk*/
.reciver_text {
	padding: 5px
}
.reciver_icon {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    overflow: hidden;
}
.reciver_icon img {
    border-radius: 2px;
    height: 100%;
    left: inherit;
    position: inherit;
    top: inherit;
    width: 100%;
}
.gifts-summary {
    padding: 5px 25px 0;
    width: 92%;
	margin: 0;
}
.detail_leftbar3 .figure-product:first-child {
	padding: 25px 25px 10px 25px;
}
.contributions_share_link .link .share_links{
	margin-left: 5px;
}
.gifts-summary .user {
    float: left;
    width: 100%;
}
.gifts-summary .user a {
    float: left;
    margin-right: 5px;
}
.gifts-summary .user span.date{
	display: block;
}
.review_comments {
    background: #F3F3F3;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #EFEBEB;
    width: 98%;
}
.review_comments section+div {
	width: 100%;
}
.review_comments textarea#comments {
	width: 98%;
}
.review_comments .comments {
	float: left;
    width: 100%;
}
.review_comments .comments ol.commentContainer {
width: 100%;
}
.review_comments input.submit.button {
	background-color: #396C9D;
    border: 1px solid #396C9D;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(175, 207, 236, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.11);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    padding: 0 12px;
    text-shadow: 0 -1px 0 rgba(77, 123, 196, 0.75);
}
.thing .comments{
	border:none;
}
.comments-list-new{
	display: inline-block;
    margin-top: 15px;
    width: 100%;
}
.thing .comments{
	margin:0px;
}