.section.apps fieldset span small{color: #92959C; display: block; font-size: 13px; line-height: 18px; padding:2px 0px 0px 0px; }
.section.apps fieldset .after-off{margin:10px 10px 0px; display:block;}
.section.apps fieldset .after-on{margin:10px 10px 0px; display:none;}
.section.apps fieldset button {margin-top:10px;}
.on .button_on
{
	    text-align: center;float:left;
		 padding: 5px 0;
box-shadow: inset 0 1px 3px 0px rgba(0,0,0,0.17), inset 0 0 3px 0 rgba(0,0,0,0.08), 0 0 10px rgba(202,234,255,0.8);
text-shadow: 0 -1px 0 #0776bc;color: #fff;background: -webkit-linear-gradient(top, #2786c8, #53a9e6);
background: -ms-linear-gradient(top, #2786c8, #53a9e6);
background: -moz-linear-gradient(top, #2786c8, #53a9e6);
background: -o-linear-gradient(top, #2786c8, #53a9e6);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2786c8',endColorstr='#53a9e6');
border: 1px solid #cfcfcf;
border-color: #1d6393 #2a71a3 #4388b9;position: relative;border-right: 0;left: 0px;  
 border-radius: 3px 0 0 3px; width: 48px;}

.on .button-off
{
	border-radius: 0 3px 3px 0;
	border: 1px solid #cfcfcf;
	border-left: 0;
	box-shadow: inset 0 1px 2px 0px rgba(0,0,0,0.15), inset 0 0 3px 0 rgba(0,0,0,0.08), inset 1px 0px 0px 0px rgba(0,0,0,0.1);color: #5e5f61;border: 1px solid #cfcfcf;
	background: -webkit-linear-gradient(top, #d4d3d3, #f0eeee);
	background: -ms-linear-gradient(top, #d4d3d3, #f0eeee);background: -moz-linear-gradient(top, #d4d3d3, #f0eeee);
	background: -o-linear-gradient(top, #d4d3d3, #f0eeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d3d3',endColorstr='#f0eeee');
	border-color: #9c9b9b #b5b4b4 #c1c0c0 #c2c2c2;
	border-radius:0 3px 3px 0 ;
	 width: 48px;
	 padding: 5px 0;
	 float:left;
	 text-align:center;
	border-left: 0;}



.off .button_on{
	border-radius: 0 3px 3px 0;
	border: 1px solid #cfcfcf;
	border-left: 0;
	box-shadow: inset 0 1px 2px 0px rgba(0,0,0,0.15), inset 0 0 3px 0 rgba(0,0,0,0.08), inset 1px 0px 0px 0px rgba(0,0,0,0.1);color: #5e5f61;border: 1px solid #cfcfcf;
	background: -webkit-linear-gradient(top, #d4d3d3, #f0eeee);
	background: -ms-linear-gradient(top, #d4d3d3, #f0eeee);background: -moz-linear-gradient(top, #d4d3d3, #f0eeee);
	background: -o-linear-gradient(top, #d4d3d3, #f0eeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d3d3',endColorstr='#f0eeee');
	border-color: #9c9b9b #b5b4b4 #c1c0c0 #c2c2c2;
	border-radius:3px 0 0 3px  ;
	 width: 48px;
	 padding: 5px 0;
	 float:left;
	 text-align:center;
	border-left: 0;}



.off .button-off{
	border-radius:  0 3px 3px 0 ;
	width: 48px;border: 1px solid #cfcfcf;
	float:left;
		 padding: 5px 0;
	float: left;width: 48px;color: #929498;font-size: 13px;font-weight: bold;text-shadow: 0 1px 0 #fff;background: -webkit-linear-gradient(top, #fefefe, #f4f4f4);background: -ms-linear-gradient(top, #fefefe, #f4f4f4);background: -moz-linear-gradient(top,  #fefefe, #f4f4f4);background: -o-linear-gradient(top,  #fefefe, #f4f4f4);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#f4f4f4');box-shadow: inset 0 1px 2px #fff;
	text-align:center;
	
}


.section.apps fieldset .after-off {
    display: block;
    float: left;
    margin: 10px 0 !important;
    width: 100%;
}

.section.apps fieldset .after-on {
    display: none;
    float: left;
    margin: 10px 0 !important;
    width: 100%;
}
 .popup.newpayment{ width: 500px; margin-top: 5px !important;}
.popup.newpayment .ltxt { position: relative; border-radius: 0; background: #fff; color: #393d4d; float:left; width:100%; padding:0px; min-height:500px;}
.popup_add_method{ width:92%; padding:20px;}
.popup.newpayment .ltit{ font-size:15px !important; height:47px !important; padding:15px;}
.popup.newpayment .btn-area { padding: 13px 20px; background: #fff; box-shadow: none; border-top-color: #e6e8ea;     text-align:left; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box;
	    -ms-box-sizing: border-box; margin: 0; float:left;}
.popup.newpayment .btn-done { margin:0 auto; cursor:pointer; font-size: 13px; border: 1px solid #396c9d; color: #fff; height: 32px; font-weight: bold; padding: 0 12px; float: right; margin-right:5px; border-radius: 2px; text-shadow: 0 -1px 0 rgba(77,123,196,.75); box-shadow: inset 0 1px 0px rgba(175,207,236,0.2),0 1px 0 rgba(0,0,0,0.11);
	background: -webkit-linear-gradient(top, #538cc4, #4781b9);
	background: -ms-linear-gradient(top, #538cc4, #4781b9);
	background: -moz-linear-gradient(top, #538cc4, #4781b9);
	background: -o-linear-gradient(top, #538cc4, #4781b9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#538cc4',endColorstr='#4781b9');	
}
.left{
	padding:10px 0px 0px 0px;
}
.left p{
	float:left;
	padding:0 0 5px;
}
.left p label{
 	color: #63696E;
    display: block;
    padding: 2px 0 3px;
    position: relative;
	width:100%;
}
.popup_add_input{
	background:#F8F8F8 !important;
    border: 1px solid #CACCCF !important;
    box-shadow: none !important;
    margin-bottom: 7px !important;
	color: #393D4D !important;
    font-size: 13px !important;
    line-height: 19px !important;
    margin: 0;
    padding: 5px 7px !important;
	border-radius: 2px !important;
	width:440px !important;
}
.width180{
	width:180px !important;
	margin-right:5px;
}
.width70{
	width:70px !important;
	margin-right:5px;
}
.width80{
	width:80px !important;
	margin-right:5px;
}
.width455{
	width:455px !important;
}
.width108{
	width:108px !important;
	margin-right:5px;
}
.left{
	float:left !important;
}
.popup.available-cities{width:950px; margin-top:10px !important;}
.popup.available-cities .ltxt {position:relative; border-radius:0; background:#fff; height:auto; width:100%;
 color:#393d4d; float:left;}
.popup.available-cities .ltxt dl{padding-bottom:25px;}
.popup.available-cities .ltxt dt{color:#21252A; font-size:16px; font-weight:bold; padding-left:25px;}
.popup.available-cities .ltxt ul:after {clear:both; content:"."; display:block; height:0;
 visibility:hidden;}
 .popup.available-cities .ltxt ul{margin:10px 0px 0px 25px;}
.popup.available-cities .ltxt li:nth-child(5n+1) {margin-left:0;}
.popup.available-cities .ltxt ul li{float:left; font-size:13px; font-weight:bold; line-height:18px;
 margin-left:10px; width:170px;}
.popup.available-cities .ltxt ul li a{color:#7F8998; display:inline-block; overflow-x:hidden; width:170px;
 overflow-y:hidden; text-overflow:ellipsis; white-space:nowrap;}
.popup.available-cities .ltit{font-size:24px; font-weight:bold; line-height:1em; padding-left:25px;
 background:#fff !important; border-bottom:none !important; padding-bottom: 25px;}
 ol.stream {
	position: relative;
}
ol.stream.use-css3 li.anim {
transition:all .25s;
-webkit-transition:all .25s;
-moz-transition:all .25s;
-ms-transition:all .25s;
	visibility:visible;
	opacity:1;
}
ol.stream.use-css3 li {
	visibility:hidden;
}
ol.stream.use-css3 li.anim.fadeout {
	opacity:0;
}
ol.stream.use-css3.fadein li {
	opacity:0;
}
ol.stream.use-css3.fadein li.anim.fadein {
	opacity:1;
}
.noproducts {
	float: left;
	width: 90%;
	padding: 5%;
	text-align: center;
	font-size: 25px;
	font-family: cursive;
}

.search_layer{ left:50%;width:520px;z-index:1;background:#fff;box-shadow:0 0 3px rgba(0,0,0,0.22), 0 2px 8px rgba(0,0,0,0.32);border-radius:5px;padding: 0;border: 0;float:left}


.search_layer h2{
color: #494C53;
    font-size: 38px;
    font-weight: normal;
    line-height: 42px;
    padding: 35px 0 0;
	
    text-align: center;
}


.search_layer p {
    color: #494C53;
    font-size: 26px;
    line-height: 42px;
    padding-bottom: 30px;

    text-align: center;
}

.comment_message a
{color: #494C53;
    text-decoration: underline;
}


.search_layer fieldset
{  float:left;
background: -moz-linear-gradient(center top , #FBFBFB, #F1F1F1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #E3E4E4;
    padding: 19px 18px 18px;
    position: relative;
}
.search_layer fieldset input
{ border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    height: 20px;
	float:left
    line-height: 20px;
    margin-bottom: 13px;
    padding: 15px 15px 15px 36px;
    width: 432px;
}

.search_layer fieldset .comment_message {
    color: #7A7D83;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 20px;
}
.container .count-product {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F6F7F8;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #DADDE1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #606A79;
    font-size: 13px;
    line-height: 38px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 2px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.popup.same-daydly{ width: 350px; margin-top: 100px !important;}
.popup.same-daydly .ltxt { position: relative; border-radius: 0; background: #fff; color: #393d4d;   float:left; width:100%; padding:0px; min-height:230px;}
.popup.same-daydly .ltit{ font-size:15px !important; height:47px !important; padding:15px;}
.popup.same-daydly .ltxt .inner{width:300px;  margin:10px 0px 20px 20px; }
.popup.same-daydly .ltxt .inner .center, .popup.same-daydly .ltxt .inner .inner-bottom, .popup.same-daydly .ltxt .inner .validate{margin-top:15px; float:left;}
.popup.same-daydly .ltxt .inner .top span, .popup.same-daydly .ltxt .inner .center span, .popup.same-daydly .ltxt .inner .inner-bottom span{font-weight:  normal; padding-bottom: 11px; float:left; width:100%;}
.popup.same-daydly .ltxt .inner .top .bottom { float:left; width:100%; -moz-border-bottom-colors: none; -moz-border-left-colors:  none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-radius:1px; border-image-outset: 0 0 0 0; border-image-repeat: stretch stretch; border-image-slice: 100% 100% 100% 100%; border-image-source: none; border-image-width: 1 1 1 1; border:1px solid #C6C9CF; } 
.popup.same-daydly .ltxt .inner .top .bottom ul{ max-height: 114px; overflow-x: hidden; overflow-y: auto;
 padding-bottom: 0; padding-left: 11px; padding-right: 11px; padding-top: 0;}
.popup.same-daydly .ltxt .inner .top .bottom ul li{  border-top-color: #F2F3F3; border-top-style: solid;
 border-top-width: 1px; clear: both; float: left; line-height: 10px; padding-bottom: 5px; padding-left: 0;
 padding-right: 0; padding-top: 6px; width: 100%;}
.popup.same-daydly .ltxt .inner .top .bottom ul li:first-child { border-top-color: -moz-use-text-color;
 border-top-style: none; border-top-width: 0;}
.popup.same-daydly .ltxt .inner .center .bottom input{ box-shadow: 1px 1px 0 #E4E4E4 inset; float: left;
 height:12px; line-height: 12px; margin-bottom: 7px; vertical-align: top; width: 128px; 
 background-color: #F7F7F7;}
.popup.same-daydly .ltxt .inner .center .bottom select{float:left; width:150px; margin-left: 10px; height:34px; min-height:34px;  margin-bottom: 7px; border-radius:5px; border:1px solid #A1A6AD; text-align:justify; padding-top:7px;}
.popup.same-daydly .ltxt .inner .center .bottom button{float:left; width:100%; border:1px solid #A1A6AD;
 height:34px; min-height:34px; border-radius:5px; box-shadow: 1px 1px 0 #E4E4E4 inset; }
 .popup.same-daydly .ltxt .inner .validate{margin-bottom:20px;}
.popup.same-daydly .ltxt .inner .top .bottom ul li .location{color: #6F7075;  float: left; font-size: 12px;
 padding-left: 14px; text-indent: -14px; width: 154px; word-break: break-all;}
.bottom ul li .location ic-location{background-position: -60px 0; display: inline-block; height: 12px;
 margin-bottom: 0; margin-left: 0;  margin-right: 3px; margin-top: -2px; vertical-align: middle;
 width: 8px;}
.bottom ul li small{ color: #6F7075; float: right; font-size: 11px; text-align: right; width: 110px;
 word-break: break-all;}


#content_top {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    float: none;
	float:left;
    padding: 0;
    width: 100%;
}

.search_layer{ left:50%;width:520px;z-index:1;background:#fff;box-shadow:0 0 3px rgba(0,0,0,0.22), 0 2px 8px rgba(0,0,0,0.32);border-radius:5px;padding: 0;border: 0;float:left}


.search_layer h2{
color: #494C53;
    font-size: 38px;
    font-weight: normal;
    line-height: 42px;
    padding: 35px 0 0;
	
    text-align: center;
}


.search_layer p {
    color: #494C53;
    font-size: 26px;
    line-height: 42px;
    padding-bottom: 30px;

    text-align: center;
}

.comment_message a
{color: #494C53;
    text-decoration: underline;
}


.search_layer fieldset
{  float:left;
background: -moz-linear-gradient(center top , #FBFBFB, #F1F1F1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #E3E4E4;
    padding: 19px 18px 18px;
    position: relative;
}
.search_layer fieldset input
{ border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    height: 20px;
	float:left
    line-height: 20px;
    margin-bottom: 13px;
    padding: 15px 15px 15px 36px;
    width: 432px;
}

.search_layer fieldset .comment_message {
    color: #7A7D83;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 20px;
}

.marg{margin: 38px 220px;}

#content_middle
{width:auto;float:none;padding:0;background:#fff;box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 1px 1px 0 rgba(0,0,0,.1);font-family: 'TeXGyreAdventor',"Helvetica Neue",Helvetica,Arial,sans-serif;}

#content_middle .information
{background-image: -webkit-linear-gradient(top,#fbfbfc,#ffffff);
background-image: -moz-linear-gradient(top,#fbfbfc,#ffffff);
background-image: -o-linear-gradient(top,#fbfbfc,#ffffff);
background-image: -ms-linear-gradient(top,#fbfbfc,#ffffff);
background-image: linear-gradient(top,#fbfbfc,#ffffff);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfbfc',endColorStr='#ffffff');
text-align:center;padding:44px 0;}

#content_middle .information dl{
    display: inline-block;
    line-height: 20px;
    padding: 0 18px;
    text-align: left;
    vertical-align: top;
    width: 250px;
}

#content_middle .information dt{
 color: #2F373F;
    font-size: 18px;
    padding-bottom: 8px;
}

.information .icon{background-image:url(images/same_day.2fabe1e996c9.png);}

#content_middle .information .find-product .icon {
    background-position: 0 -20px;
	
    display: block;
    height: 64px;
    margin: 0 auto 22px;
    width: 48px;
}


#content_middle .information .delivery-by-noon .icon{  background-position: -50px -20px;
    display: block;
    height: 60px;
    left: -32px;
    margin: 2px auto 24px;
    position: relative;
    width: 92px;
}

#content_middle .information .receive-every-thing .icon {
    background-position: 0 -90px;
    display: block;
    height: 59px;
    margin: 3px auto 25px;
    width: 58px;
}

.middle-section-image{background-image: -webkit-linear-gradient(top,#fbfbfc,#ffffff);background-image: -moz-linear-gradient(top,#fbfbfc,#ffffff);background-image: -o-linear-gradient(top,#fbfbfc,#ffffff);background-image: -ms-linear-gradient(top,#fbfbfc,#ffffff);background-image: linear-gradient(top,#fbfbfc,#ffffff);filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfbfc',endColorStr='#ffffff');}


.middle-section-image h4 {
    font-size: 26px;
    padding: 20px 0 11px;
    text-align: center;
}


.middle-section-image  li {
    box-shadow: 1px -1px 0 #EBEDF0 inset;
    float: left;
    padding: 15px;}
.middle-section-image li{box-shadow:inset 1px -1px 0 #ebedf0;}
.middle-section-image .img-1{float:left;padding:15px;box-shadow:inset 0 -1px 0 #ebedf0;}
.middle-section-image a
{
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    overflow: hidden;
    position: relative;
}

.middle-section-image .img-1 a img {
    height: 570px;
    width: 570px;
}

.middle-section-image .img-1{width: 57%;}

.middle-section-image .img-2 a img,.middle-section-image .img-3 a img{
    height: 270px;
    width: 340px;
}

.middle-section-image .img-4 a img,.middle-section-image .img-5 a img {
    height: 170px;
     width: 440px;
}


.middle-section-image a img {
background-position: 50% 50%;
    background-size: cover;
    vertical-align: top;

}

.middle-section-image li b {position:absolute;line-height:40px;bottom:0;right:0;width:100%;background:rgba(19,20,22,0.6);padding-right:10px;text-align:right;}


.available-places{ clear: both;
    padding: 45px 45px 57px;}
	
.available-places h5 {
    font-size: 22px;
}	

.available-places p,.available-places dd{
    color: #5F676F;
    font-size: 14px;
    padding-bottom: 22px;
    padding-top: 10px;
}

.available-places dt{
font-size: 14px;
    font-weight: bold;}


.available-places i{  background-size: 23px 17px;
    display: inline-block;
    height: 17px;
    margin-top: -3px;
    vertical-align: middle;
    width: 23px;
   background-image: url(images/US.5b98f6f30414.png);
}
.available-places .country-us{ background-image: url(images/US.5b98f6f30414.png);}
.available-places .country-ca {background-image: url(images/CA.7278655ab7f6.png);}
.available-places .country-gb {background-image: url(images/CA.7278655ab7f6.png);}
.available-places .country-jp {background-image: url(images/CA.7278655ab7f6.png);}
.border_bottom{    border-top: 1px solid #FFFFFF;
    float: left;
    margin: 0 0 27px;
    width: 100%;}

.show:hover { background:#F6F6F6; color:#2F373F; cursor:pointer; font-weight:bold;}
.popup.same-daydly{ width: 350px; margin-top: 100px !important;}
.popup.same-daydly .ltxt { position: relative; border-radius: 0; background: #fff; color: #393d4d;   float:left; width:100%; padding:0px; min-height:230px;}
.popup.same-daydly .ltit{ font-size:15px !important; height:47px !important; padding:15px;}
.popup.same-daydly .ltxt .inner{width:300px;  margin:10px 0px 20px 20px; }
.popup.same-daydly .ltxt .inner .center, .popup.same-daydly .ltxt .inner .inner-bottom, .popup.same-daydly .ltxt .inner .validate{margin-top:15px; float:left;}
.popup.same-daydly .ltxt .inner .top span, .popup.same-daydly .ltxt .inner .center span, .popup.same-daydly .ltxt .inner .inner-bottom span{font-weight:  normal; padding-bottom: 11px; float:left; width:100%;}
.popup.same-daydly .ltxt .inner .top .bottom { float:left; width:100%; -moz-border-bottom-colors: none; -moz-border-left-colors:  none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-radius:1px; border-image-outset: 0 0 0 0; border-image-repeat: stretch stretch; border-image-slice: 100% 100% 100% 100%; border-image-source: none; border-image-width: 1 1 1 1; border:1px solid #C6C9CF; } 
.popup.same-daydly .ltxt .inner .top .bottom ul{ max-height: 114px; overflow-x: hidden; overflow-y: auto;
 padding-bottom: 0; padding-left: 11px; padding-right: 11px; padding-top: 0;}
.popup.same-daydly .ltxt .inner .top .bottom ul li{  border-top-color: #F2F3F3; border-top-style: solid;
 border-top-width: 1px; clear: both; float: left; line-height: 10px; padding-bottom: 5px; padding-left: 0;
 padding-right: 0; padding-top: 6px; width: 100%;}
.popup.same-daydly .ltxt .inner .top .bottom ul li:first-child { border-top-color: -moz-use-text-color;
 border-top-style: none; border-top-width: 0;}
.popup.same-daydly .ltxt .inner .center .bottom input{ box-shadow: 1px 1px 0 #E4E4E4 inset; float: left;
 height:12px; line-height: 12px; margin-bottom: 7px; vertical-align: top; width: 128px; 
 background-color: #F7F7F7;}
.popup.same-daydly .ltxt .inner .center .bottom select{float:left; width:150px; margin-left: 10px; height:34px; min-height:34px;  margin-bottom: 7px; border-radius:5px; border:1px solid #A1A6AD; text-align:justify; padding-top:7px;}
.popup.same-daydly .ltxt .inner .center .bottom button{float:left; width:100%; border:1px solid #A1A6AD;
 height:34px; min-height:34px; border-radius:5px; box-shadow: 1px 1px 0 #E4E4E4 inset; }
 .popup.same-daydly .ltxt .inner .validate{margin-bottom:20px;}
.popup.same-daydly .ltxt .inner .top .bottom ul li .location{color: #6F7075;  float: left; font-size: 12px;
 padding-left: 14px; text-indent: -14px; width: 154px; word-break: break-all;}
.bottom ul li .location ic-location{background-position: -60px 0; display: inline-block; height: 12px;
 margin-bottom: 0; margin-left: 0;  margin-right: 3px; margin-top: -2px; vertical-align: middle;
 width: 8px;}
.bottom ul li small{ color: #6F7075; float: right; font-size: 11px; text-align: right; width: 110px;
 word-break: break-all;}
 .badge-list{margin:0; padding:5px 20px 20px 5px; display:block; height:302px !important;}
.badge-list li{font-size:12px; line-height:16px; padding-bottom:0; padding-left:15px; width:203px;
    padding-right:0; padding-top:15px; left: 5px; top: 51px;}
.badge-list li .deal{padding:20px 14px 15px 14px; width: 174px; border:1px solid #E9EAED;}
.badge-list li .deal a{display:block; height:120px; margin:0 auto; padding-bottom:20px; width:120px;
    text-align: center;}
.badge-list li .deal b{font-size:13px;}
.badge-list li .deal .deal-info{color:#6A7480; display:inline-block; padding-top:4px;}
.badge-list li .deal .info{color:#ADB3BC; display:inline-block; padding-top:4px; text-align:justify;}