.find_box{background:#FFFFFF;border-radius: 3px;float:left;width:100%;}
.invite_box{padding: 52px 65px 44px;border-bottom: 1px solid #EBECEF;float:left;width:86.4%;}
.invite_box h2{float:left;width:100%;font-size: 26px;line-height: 34px;}
.invite_box h2 small { color: #CACDD0; display: block;font-size: 22px; font-weight: normal;}
.friend_main_box{float:left;width:100%;}
.friend_main_box .sidebar{float: left; padding: 50px 0 50px 56px;width: 209px;}
.search_people{background:#F2F3F4; border-radius: 3px; margin-bottom: 25px; padding: 5px; position: relative;}
.icon_search{background:url(../../images/find_people.png) no-repeat;display: inline-block;  margin-top: -3px;
    vertical-align: middle;height: 13px;left: 13px; position: absolute; top: 15px; width: 12px;}
.search_scroll { border: 1px solid #D6D7D9 !important; color: #2C2F35 !important; font-size: 13px !important;
    height: 26px !important; line-height: 26px !important; margin: 0 !important;outline: medium none !important;
    padding: 0 10px 0 27px !important; width: 161px !important;}
.friend_type{ border: 1px solid #E6E7E7; border-radius: 3px;}
.friend_type li { border-bottom: 1px solid #E6E7E7; line-height: 18px;}
.friend_type a.current { background: none repeat scroll 0 0 #F5F6F7; font-weight: bold; text-decoration: none;}
.friend_type a { color: #6F727A; display: block; padding: 9px 12px;}
.friend_type a:hover {background: none repeat scroll 0 0 #F5F6F7;text-decoration: none;}
.friend_type .icon{background:url(../../images/find_people.png) no-repeat;height: 16px; margin: -3px 6px 0 0;
    vertical-align: middle; width: 17px;float:left}
.social_icon{background-position: -16px 0 !important;}
.fp_icon{background-position: -37px 0 !important;}
.fb_icon{background-position: -58px 0 !important;}
.su_icon{background-position: -77px 0 !important; margin: -3px 7px 0 -1px;}
.friend_right_box{float: right; margin: 0; padding: 47px 56px 50px 0; width: 580px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
.friend_right_box h3 { border-bottom: 1px solid #EBECEF;color: #8A8F9C;font-weight: normal; height: 63px;
    line-height: 22px;}
.friend_right_box h3 b {color: #2C2F35; display: block;font-size: 18px;}
.friend-select-type {padding-top: 8px;}
.friend-select-type li { border-bottom: 1px solid #EBECEF; line-height: 18px; min-height: 40px; padding: 14px 0;
    position: relative;}
.friend-select-type span { border-radius: 2px; color: #92959C; display: inline-block;vertical-align: middle;}
.friend-select-type b { color: #393D4D; font-size: 14px;}
.friend-select-type .btn-find { margin-top: -15px; position: absolute; right: 0; top: 50%;}
.friend-select-type .ic-fb { background:#526996;}
.friend-select-type .ic-tw { background:#4BACE2;}
.friend-select-type .ic-gg { background:#DD4B39;}
.friend-select-type .ic-gm { background:#C0CDD2;}
.friend-select-type .ic-fb, .ic-tw, .ic-gg, .ic-gm {background:#526996;display: inline-block; height: 40px;
    line-height: 40px; margin: 0 7px 0 0; text-align: center; width: 40px;}
.find_selected ul{float:left;width:100%;}
.friend-select-type .icon{background:url(../../images/invite_new.png) no-repeat;}
.friend-select-type .ic-fb .icon {display: inline-block; height: 24px; vertical-align: middle;width: 28px;
	background:url(../../images/find_people_fb.png) no-repeat;margin-top:7px;}
.friend-select-type .ic-tw .icon { background-position: -56px -34px; display: inline-block;height: 34px;
    vertical-align: middle; width: 25px;}
.friend-select-type .ic-gg .icon { background-position: -99px -33px; display: inline-block; height: 37px;
    vertical-align: middle; width: 29px;}
.friend-select-type .ic-gm .icon { background-position: -93px 9px; display: inline-block; height: 36px;
    vertical-align: middle; width: 35px;}
.find_selected h4{color: #92959C; float: left; font-size: 13px; font-weight: normal; line-height: 30px;
    padding: 19px 0 18px; width: 83%;}
.find_selected h4 b {color: #393D4D; font-size: 16px;}
.MT20{margin-top:20px;}
.find_box .find_selected ul li{border: 1px solid rgba(0, 0, 0, 0.1); color: #3B404B; font-size: 12px;
    line-height: 18px; margin-bottom: 20px; min-height: 95px; padding: 12px 250px 15px 120px; position: relative;}
.find_box .find_selected .vcard img {background-position: 50% 50%;background-repeat: no-repeat; height: 95px;
    background-size: cover; border-radius: 0; left: 15px;  max-height: 95px; max-width: 95px;  width: 95px;
    position: absolute;top: 15px;z-index: 0;}
.find_box .find_selected .vcard  .shadow {position:absolute;top: -1px;left: -1px;width: 103px; z-index:1;
    height: 103px;border:1px solid rgba(0,0,0,0.1);border-right: 0;}
.find_box .find_selected  .user{ color: #2C2F35; display: block;font-size: 14px;}
.find_box .find_selected .nick-name{ color: #91969C; display: block;}
.find_box .find_selected ul li .follow-user-link{color: #393D4D !important; display: inline-block; font-size: 12px;
    font-weight: bold !important; height: 26px; line-height: 26px; margin-top: 12px; min-width: 60px;width: auto;
	border-radius: 3px;padding: 0 10px; text-align: center; background: none repeat scroll 0 0 #528BC3;filter: none;
    border: 1px solid #426F9C; box-shadow: 0 1px 0 #EDEDED; color: #FFFFFF !important; font-weight: bold;
    text-shadow: 0 -1px 0 #406B97;}
.find_box .find_selected ul li .follow-user-link:hover {border: 1px solid #cacbcc; background: #f5f5f5;
   color: #bcbfc1!important;box-shadow: none;text-shadow: 0px 1px 0 #fefefe;}
.find_box .find_selected ul li .similar{ position: absolute; right: 15px;top: 15px;}
.similar img { background-position: 50% 50%;background-size: cover; height: 74px; margin-left: -1px;width: 74px;
    vertical-align: top;}
.find_selected .follow_users{ color: #91969C; display: block;}
.follow-button{display:inline-block;margin-top:12px;font-size: 12px;border: 1px solid #959595;border-color: #b1b1b2 #b1b1b2 #a8a8aa;height: 26px; padding:0 10px;line-height: 26px;width: auto;font-weight: bold !important;color: #393d4d !important;text-shadow: 0px 1px 0 #ffffff;box-shadow: inset 0 1px 0px rgb(252, 252, 252),0 1px 1px rgba(0,0,0,0.1);background: #f0f0f0;background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);background: -ms-linear-gradient(top, #fcfcfc, #f0f0f0);background: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);background: -o-linear-gradient(top, #fcfcfc, #f0f0f0);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f0f0f0');border-radius: 3px;min-width:60px;text-align:center;}
.find_selected ul li .follow-button:hover{text-decoration:none;}
.find_selected ul li a:hover:{text-decoration:none;}
.find_select_pinks .find_selected{ position: relative;float:left;width:100%;}
.fancy-keyword h2, .fancy-pick h2, .similar-user h2, .feature-brand h2,#find_selected_google h2{margin:30px; color:#CACDD0; font-size:25px;}