@charset "utf-8";

/* Container */
.verticalslider {overflow: hidden; width: 800px; margin-top: 25px; height: 100%; }

/* Tabs */
.verticalslider_tabs {float: left;width: 210px; margin:0 10px 0 0 !important;}
.verticalslider_tabs, .verticalslider_tabs li{margin: 0px; padding: 0px;}
.verticalslider_tabs li{list-style-type: none; float:left; width:100%;}
.verticalslider_tabs li a{float:left; width:100% !important;}
.verticalslider_tabs p{ color: #B9BABD; font-size: 10px;line-height: normal; margin: 0; padding: 0 0 9px;}
.verticalslider_tabs a:link, .verticalslider_tabs a:visited{color:#4D72A7; font-weight:bold; display: block; width: 230px; height: 29px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-decoration: none;}
.verticalslider_tabs a:hover, .verticalslider_tabs a:active{ color:#000 !important;}
.verticalslider_tabs li:first-child a:link, .verticalslider_tabs li:first-child a:visited{border-top: none; height: 30px;}
.verticalslider_tabs .activeTab a:link, .verticalslider_tabs .activeTab a:visited{color:#22324E; background:#F5F7F9;}
.activeTab{background:#F5F7F9;}
.verticalslider_tabs .activeTab a:hover, .verticalslider_tabs .activeTab a:active{background: #ffffff; border-right: 1px solid #ffffff;}
.verticalslider .arrow {background: url(../images/arrow.png); display:none; width: 27px; height: 60px; position: absolute; z-index: 1000; margin-left: 250px; margin-top: -55px; }

/* Contents */
.verticalslider_contents{float: left;width: 560px;display: inline; margin: 0px; padding: 0px;}
.verticalslider_contents li{margin: 0px; padding: 0px;width: 580px;overflow: hidden; padding: 0px;display: none;position: absolute;list-style-type: none; height:auto !important;}
.verticalslider_contents li h2{font-family:Arial, Helvetica, sans-serif; font-size: 15px; color: #333333;margin: 5px 20px; padding: 0px;}
.verticalslider_contents h4{ color: #22324E; font-size: 22px; line-height: 24px; margin:0 0 25px;}
.verticalslider_contents h4 small{    color: #6E7176; display: block; font-size: 14px; font-weight: normal; margin-top: 5px;} 
.verticalslider_contents li p{ margin: 5px 20px; padding: 0px;color: #333333;font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
.verticalslider_contents .activeContent{display: inline;}

/* Play Pause*/
.verticalslider .playPause a{display:block;width: 60px;height: 60px;position:absolute;z-index:50;}
.verticalslider .play a:link,.verticalslider .play a:visited{background: url(../images/plays.png) no-repeat 0 0;display: none;}
.verticalslider .pause a:link,.verticalslider .pause a:visited{background: url(../images/pauses.png) no-repeat 0 0;}	
.verticalslider .pause a:hover,.verticalslider .pause a:active,.verticalslider .play a:hover,.verticalslider  .play a:active{background-position:0px -60px;border-bottom: none;}

/* Float Right Styles 
.verticalslider_tabs {float: right;}
.verticalslider .arrow {margin-left: -27px; background: url(../images/arrow-right.png); }
.verticalslider_tabs a:link, .verticalslider_tabs a:visited{border-left: 1px solid #666666; border-right: none;}
.verticalslider_tabs .activeTab a:link, .verticalslider_tabs .activeTab a:visited{border-left: 1px solid #ffffff;}
.verticalslider_tabs .activeTab a:hover, .verticalslider_tabs .activeTab a:active{border-left: 1px solid #ffffff;}*/
.fancy_promotion
{
    background:#FFFFFF;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.09), 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 940px;
    color: #000000;
    font-size: 12px !important;
    font-weight: normal !important;
    line-height: 24px !important;
    margin: 0 auto;
	height:1275px;
    padding: 25px;
}
.promotion_inner
{
	float: left;
    padding: 38px 60px;
    position: relative;
    width: 820px;
}
.intro {
    border-bottom: 1px solid #EBECEF;
    padding-bottom: 40px;
}
.intro h3 {
    color: #22324E;
    font-size: 30px;
    padding-bottom: 12px; margin:0;
}
.intro p {
    color: #71767E;
    font-size: 18px;
	padding:0; margin:0;
    line-height: 26px;
}
.tab_slider_list
{
	float:left;
	width:100%; margin:0 0 30px;
}
.tab_slider_list_left{float:left; width:35%; margin:0 10px 0 0; background:#EFF4F8; height:160px; border-radius:4px; text-align:center; position:relative;}
.tab_slider_list_right{float:left; width:58%}
.target {
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    left: 8px;
    line-height: 25px;
    min-width: 22px;
    padding: 0 8px;
    position: absolute;
    top: 8px;
}
.mens .target{background:#AACDE6;}
.womens .target{background:#EA9CAB !important;}
.womens .tab_slider_list_left{background:#FCF3F5 !important}
.kids .target{background:#EDA35D !important;}
.kids .tab_slider_list_left{background:#FFEBD3 !important}
.pets .target{background:#ACA196 !important;}
.pets .tab_slider_list_left{background:#F8F7F5 !important}
.interior .target{background:#B0B57E !important;}
.interior .tab_slider_list_left{background:#EEF1E2 !important}
.tech .target{background:#90D2C5 !important;}
.tech .tab_slider_list_left{background:#E3F3EE !important}
.art .target{background:#9DBCCB !important;}
.art .tab_slider_list_left{background:#DCE7EA !important}
.food .target{background:#9EC970 !important;}
.food .tab_slider_list_left{background:#F0F7E2 !important}
.media .target{background:#DDC8A4 !important;}
.media .tab_slider_list_left{background:#FCF8E9 !important}
.market .target{background:#B9B2D9 !important;}
.market .tab_slider_list_left{background:#F0EDF6 !important}
.gift .tab_slider_list_left{background:#EDF5FD !important}
.tab_slider_list_left .icon {
    display: inline-block;
    height: 90px;
    vertical-align: middle;
    width: 90px; margin:35px 0 0;
	background:url(../../images/badge.4c3f6244128e.png) no-repeat;
}
.top {background-position: 0 0;}
.senior{background-position:-110px 0 !important;}
.junior{background-position:-220px 0 !important;}
.assist{background-position: -330px 0 !important;}
.intern{background-position: -440px 0 !important;}
.womens .top {background-position:0 -120px !important;}
.womens .senior{background-position:-110px -120px !important;}
.womens .junior{background-position:-220px -120px !important;}
.womens .assist{background-position:-330px -120px !important;}
.womens .intern{background-position:-440px -120px !important;}

.kids .top {background-position:0 -240px !important;}
.kids .senior{background-position:-110px -240px !important;}
.kids .junior{background-position:-220px -240px !important;}
.kids .assist{background-position:-330px -240px !important;}
.kids .intern{background-position:-440px -240px !important;}

.pets .top {background-position:0 -360px !important;}
.pets .senior{background-position:-110px -360px !important;}
.pets .junior{background-position:-220px -360px !important;}
.pets .assist{background-position:-330px -360px !important;}
.pets .intern{background-position:-440px -360px !important;}

.interior .top {background-position:0 -480px !important;}
.interior .senior{background-position:-110px -480px !important;}
.interior .junior{background-position:-220px -480px !important;}
.interior .assist{background-position:-330px -480px !important;}
.interior .intern{background-position:-440px -480px !important;}

.tech .top {background-position:0 -600px !important;}
.tech .senior{background-position:-110px -600px !important;}
.tech .junior{background-position:-220px -600px !important;}
.tech .assist{background-position:-330px -600px !important;}
.tech .intern{background-position:-440px -600px !important;}

.art .top {background-position:0 -1200px !important;}
.art .senior{background-position:-110px -1200px !important;}
.art .junior{background-position:-220px -1200px !important;}
.art .assist{background-position:-330px -1200px !important;}
.art .intern{background-position:-440px -1200px !important;}

.food .top {background-position:0 -840px !important;}
.food .senior{background-position:-110px -840px !important;}
.food .junior{background-position:-220px -840px !important;}
.food .assist{background-position:-330px -840px !important;}
.food .intern{background-position:-440px -840px !important;}

.media .top {background-position:0 -720px !important;}
.media .senior{background-position:-110px -720px !important;}
.media .junior{background-position:-220px -720px !important;}
.media .assist{background-position:-330px -720px !important;}
.media .intern{background-position:-440px -720px !important;}

.market .top {background-position:-110px -960px !important;}
.market .senior{background-position:-220px -960px !important;}

.gift .top{background-position:-110px -1080px !important;}

.tab_slider_list_right span{color: #22324E; font-size: 16px;font-weight: bold; line-height: 20px; padding-bottom: 4px;}
.tab_slider_list_right p{    font-size: 13px !important;
    line-height: 20px !important;
    padding-bottom: 20px !important; margin:0 !important; }
.side_head{    color: #B9BABD;
    font-size: 10px;
    padding: 0px 0 9px 0px; margin:0;}


