/*#navigation-test [class^="feed-"] {
	display: none;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -50%;
	background: white;
	border-radius: 2px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
	z-index: 12;
}
#navigation-test [class^="feed-"] h4 {
	font-size:11px;
	font-weight:bold;
	color:#373d48;
	padding:0 10px;
	line-height:30px;
	border-bottom:1px solid #e5e5e5;
}
#navigation-test [class^="feed-"] .arrow {
	position: absolute;
	left: 50%;
	margin-left: -7px;
	top: -7px;
	display: block;
	width: 14px;
	height: 7px;
	background-position: 0 -49px;
}
#navigation-test [class^="feed-"] .more {
	clear:both;
	display:block;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	color:#435d89;
	line-height:33px;
	padding:0 10px;
	white-space:nowrap;
}
#navigation-test [class^="feed-"] .loading {
	display:none;
	text-align:center;
	padding:10px;
	border-bottom:1px solid #e5e5e5;
	line-height:1em;
}
#navigation-test [class^="feed-"] .loading i {
	display:inline-block;
	width:16px;
	height:11px;
	background:url('../../images/site/loading.gif') no-repeat 0 0;
	background-size:cover;
}
#navigation-test .feed-back {
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	margin: 0;
	box-shadow: none;
	cursor: pointer;
}
#navigation-test .feed-notification {
	width:280px;
	margin-left:-140px;
}
#navigation-test .feed-notification li {
	position:relative;
	line-height:16px;
	float:left;
	clear:both;
	padding:10px 10px 10px 52px;
	width:218px;
	color:#373d48;
	font-size:12px;
	border-bottom:1px solid #e5e5e5;
	min-height:32px;
}
#navigation-test .feed-notification li:hover {
	background:#f4f4f4;
}
#navigation-test .feed-notification li .photo {
	position:absolute;
	top:13px;
	left:10px;
	width:32px;
	height:32px;
	border-radius:2px;
}
#navigation-test .feed-notification li .follow,
#navigation-test .feed-notification li .follow:hover,
#navigation-test .feed-notification li .following,
#navigation-test .feed-notification li .following:hover {
	color:#85888e;
	font-size:12px;
}
#navigation-test .feed-notification li .follow i {
	display:inline-block;
	width:14px;
	height:14px;
	vertical-align:middle;
	background-color:#e4e6e9;
	background-position:-42px -46px;
	border-radius:2px;
	margin-top:-3px;
}
#navigation-test .feed-notification li .following i {
	display:inline-block;
	width:14px;
	height:14px;
	vertical-align:middle;
	background-color:#438cd0;
	background-position:-27px -46px;
	border-radius:2px;
	margin-top:-3px;
}
#navigation-test .feed-search {
	width: 260px;
	margin-left: -155px;
}
#navigation-test .feed-search a {
	text-decoration:none;
}
#navigation-test .feed-search a.hover {
	background:#f4f4f4;
	color:#373d48;
}
#navigation-test .feed-search li a {
	display:block;
	font-size:12px;
	color:#373d48;
	padding:0 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#navigation-test .feed-search li a.hover {
	background:#f4f4f4;
	color:#373d48;
}
#navigation-test .feed-search ul {
	padding:3px 0;
	border-bottom:1px solid #e5e5e5;
}
#navigation-test .feed-search .thing li {
	line-height:24px;
}
#navigation-test .feed-search .user li {
	line-height:26px;
}
#navigation-test .feed-search .user li img {
	width:20px;
	height:20px;
	border-radius:3px;
	vertical-align:middle;
	margin:-2px 2px 0 0;
}
#navigation-test .menu-contain-cart {
	width:330px;
	padding:16px 0 0;
}
#navigation-test .menu-contain-cart a:hover {
	background:#373c45;
}
#navigation-test .menu-contain-cart table {
	position:relative;
	left:16px;
	width:298px;
}
#navigation-test .menu-contain-cart thead {
	color:#d4d8de;
	font-size:9px;
	font-weight:normal;
}
#navigation-test .menu-contain-cart thead td {
	text-align:center;
	padding-bottom:9px;
}
#navigation-test .menu-contain-cart thead td.price {
	text-align:right;
}
#navigation-test .menu-contain-cart thead th {
	padding-bottom:9px;
}
#navigation-test .menu-contain-cart thead .qty {
	width:30px;
}
#navigation-test .menu-contain-cart thead .price {
	width:65px;
}
#navigation-test .menu-contain-cart tbody td,
#navigation-test .menu-contain-cart tbody th {
	border-top: 1px solid #535963;
	padding: 10px 0 12px;
}
#navigation-test .menu-contain-cart tbody td,
#navigation-test .menu-contain-cart tbody th strong {
	color:#fff;
	font-size:12px;
	font-weight:normal;
	text-align:center;
}
#navigation-test .menu-contain-cart tbody a {
	position:relative;
	width:auto;
	white-space:normal;
	padding:0 5px 0 61px;
	min-height:48px;
	line-height:16px;
	font-size:11px;
	color:#a7adb7;
}
#navigation-test .menu-contain-cart tbody a:hover,
#navigation-test .menu-contain-cart tbody a:active {
	background:none !important;
}
#navigation-test .menu-contain-cart tbody a img {
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
	background-size:cover;
}
#navigation-test .menu-contain-cart tbody td.price {
	text-align:right;
	padding-left:5px;
}
#navigation-test .menu-contain-cart tbody tr:first-child td,
#navigation-test .menu-contain-cart tbody tr:first-child th {
	padding-top:16px;
}
#navigation-test .menu-contain-cart tbody tr:last-child td,
#navigation-test .menu-contain-cart tbody tr:last-child th {
	padding-bottom:16px;
}
#navigation-test .menu-contain-cart tbody tr:hover strong {
	color: #c4c8d0}
#navigation-test .menu-contain-cart tbody tr:hover img {
	opacity:0.8;
	filter: alpha(opacity=80);
}
#navigation-test .menu-contain-cart .summary {
	float:left;
	width:306px;
	font-size:12px;
	padding:0 12px;
	line-height:36px;
	background:#535a65;
	color:#fff;
}
#navigation-test .menu-contain-cart .summary strong {
	float:left;
}
#navigation-test .menu-contain-cart .summary span {
	float:right;
	font-weight:bold;
}
#navigation-test .menu-contain-cart .more {
	clear:both;
	display:block;
	line-height:38px;
	text-align:center;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
#navigation-test .search {
	position: relative;
	float: left;
	border-left: 1px solid #363B45;
	line-height: 42px;
	padding-left: 9px;
	height: 41px;
}
#navigation-test .search fieldset {
	margin: 9px 0;
	background: #fff;
	border-radius: 2px;
	height: auto;
	box-shadow: inset 0 1px 0 #D9D9D9;
	line-height: 23px;
}
#navigation-test .search input[type="text"] {
	margin: 0 20px 0 0;
	vertical-align: top;
	box-shadow: none;
	height: 13px;
	padding: 5px 0 5px 7px;
	width: 173px;
	border: 0;
	background: transparent;
}
#navigation-test .search .btn-submit {
	position: absolute;
	right: 6px;
	top: 13px;
	width: 18px;
	height: 15px;
	background-position: -114px -24px;
	text-indent: -1000em;
	overflow: hidden;
	background-color: white;
	line-height: 13px;
	border-left: 1px solid #DDDFE1;
}
#navigation-test .search .btn-submit.focus,
#navigation-test .search .btn-submit:hover {
	background-position: -133px -24px;
}
#navigation-test .search input[type="text"]::-webkit-input-placeholder {
	color:#b0b4bc;
}
#navigation-test .search input[type="text"]:-moz-placeholder {
	color:#b0b4bc;
}
#navigation-test .search input[type="text"]:-ms-input-placeholder,
.search input[type="text"]:-o-placeholder {
	color:#b0b4bc;
}
#navigation-test .search input[type="text"].sffocus::-webkit-input-placeholder {
	color:#a9a9a9;
}
#navigation-test .search input[type="text"].sffocus:-moz-placeholder {
	color:#a9a9a9;
}
#navigation-test .search input[type="text"].sffocus:-ms-input-placeholder,
.search input[type="text"].sffocus:-o-placeholder {
	color:#a9a9a9;
}

*/




#global {
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#container {
    background: none repeat scroll 0 0 #DEE0E3;
    float: left;
    min-height: 100%;
    min-width: 25em;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#content {
    padding: 0.75em;
}
.findfriends .setting-page a {
    padding: 0.5em 1.55em 0.5em 0.78em;
}
.setting-page a {
    border-bottom: 0.1em solid #E2E5E7;
    color: #383D48;
    display: block;
    padding: 0 1.55em 0 0.78em;
    position: relative;
}
.not_found{
margin:0px 0px;
padding:0px;

}






