@charset "utf-8";
@font-face { font-family: 'MyriadPro-Regular'; src: url('../../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/MyriadPro-Regular.otf') format('opentype'), url('../../fonts/MyriadPro-Regular.woff') format('woff'), url('../../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MyriadPro-Bold'; src: url('../../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/MyriadPro-Bold.otf') format('opentype'), url('../../fonts/MyriadPro-Bold.woff') format('woff'), url('../../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'); font-weight: normal; font-style: normal; }
a:hover { text-decoration:none; } 
	*{box-sizing:border-box;}
div.header {
  float: left;
  width: 100%;
}
div.header img{
  float: left;
  width: 100%;
}
h1.headingollproduct {
    color: #b4b4b4;
    font-size: 30px;
    text-transform: capitalize;
    border: 0px;
    padding: 0px;
}
.add_producttt {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    padding: 0px !important;
}
.sell_add_product ul#myTab li a.active_tab {
    background: transparent;
    border-color: transparent;
}
.sell_add_product ul#myTab li a {
    background: transparent;
    display: block;
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
}
.sell_add_product .page-header.stepcontents {
  border: 0 none;
  float: left;
  margin: 0 !important;
  padding: 25px 0 0 !important;
  width: 100%;
}
.wizard #widget_tab {
    height: auto;
}
div.wizard-inner {
    position: relative;
    float: left;
    width: 100%;
}
.connecting-line {
  background: #F1F1F1;
  height: 6px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 45%;
  width: 80%;
  z-index: 0;
}
.wizard-inner .nav-tabs {
  border-bottom: 0 none;
  margin: 40px auto 0;
  position: relative;
  border:0px !important;
}
.wizard-inner li a.active_tab::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f5f6f1;
  border-image: none;
  border-style: solid;
  border-width: 18px;
  bottom: -1px;
  content: " ";
  left: 40%;
  margin: 0 auto;
  opacity: 1;
  position: absolute;
}
.wizard-inner .nav-tabs > li {
  padding-bottom: 15px;
  width: 19%;
}
.wizard .tab-content {
    float: left;
    padding: 0;
    width: 100%;
}
.wizard-inner .nav-tabs > li a {
  border-radius: 100%;
  height: auto;
  margin: 20px auto;
  padding: 0;
  text-align: center;
  width: auto;
}
span.round-tab {
  background:#F5F6F1 none repeat scroll 0 0;
  border: 3px solid #e9e9e9;
  border-radius: 100px;
  color: #b2b2b2;
  display: inline-block;
  font-size: 30px;
  height: 70px;
  left: 0;
  line-height: 62px;
  position: static;
  text-align: center;
  width: 70px;
  z-index: 2;
  display:inline-table;
}
.setimgs {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}
.tab_heading {
  color: #969696;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
  font-family: 'MyriadPro-Bold';
}

.wizard-inner .nav > li > a.active_tab .tab_heading{color:#000080;}
.wizard-inner .nav > li > a:hover .tab_heading{color:#000080;}
.wizard-inner .nav-tabs > li a:hover{background:transparent;border-color:transparent;}
.wizard-inner .nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  outline: medium none;
  text-decoration: none;
}
.wizard-inner .nav-tabs > li.active > a, .wizard-inner .nav-tabs > li.active > a:hover, .wizard-inner .nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0);
  border-image: none;
  border-style: none;
  border-width: 0;
  color: #555555;
  cursor: default;
}
.wizard-inner li  a.active_tab span.round-tab {
  background: #8382ff none repeat scroll 0 0;
  border: 3px solid #c5c4ff;
  color: #ffffff;
  font-size: 30px;
}
.wizard-inner li  a.active_tab span.round-tab .imgbrown{display:none;}
.wizard-inner li  a.active_tab span.round-tab .imgwhites{display:inline-block;}
span.round-tab .imgwhites{display:none;}
span.round-tab:hover {
  background: #c5c4ff none repeat scroll 0 0;
  border: 3px solid #c5c4ff;
  color: #ffffff;
}
.wizard-inner .nav > li > a:hover .imgwhites{display:inline-block;}
.wizard-inner .nav > li > a:hover .imgbrown{display:none;}
.wizard-inner .nav > li > a:hover span.round-tab{    background: #c5c4ff none repeat scroll 0 0;    border: 3px solid #c5c4ff;}

.secontinnercontents {
  background: #f5f6f1 none repeat scroll 0 0;
  float: left;
  padding: 45px 0;
  width: 100%;
}
.secontinnercontents label {
    color: #555555;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
}
.sell_add_product div#tab1 ul {
    width: 100%;
    float: left !important;
    border: 0px solid #000080 !important;
    padding: 0;
    margin-top: 0;
    border-radius: 0;
}
.auction_hover {
    background: #fbfcf7 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 2px #e2e2e2;
    color: #333333;
    display: none;
    font-size: 14px;
    font-weight: 300;
    left: 20%;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 310px;
    z-index: 999;
    text-align: left;
    left: 28px;
}
.auction_hover:after {
    bottom: 71%;
    left: -8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #abada5;
    border-width: 8px;
    margin-left: -8px;
}
.auction_hover p {
    margin: 0px;
    font-family: 'MyriadPro-Regular';
    color: #757575;
    padding: 0;
    font-size: 14px;
}
.ihoves {
  color: #8382ff ;
  cursor: pointer;
  float: right;
  margin-left: 8px;
  position: relative;
}
.ihoves:hover .auction_hover{display: block;}
.secontinnercontents .form-group .form-control,.secontinnercontents .shiip_table .form-control {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
  color: #bbbbba;
  font-size: 16px;
  height: 47px;
  padding: 0 20px;
  width:100% !important;
  box-sizing: border-box;
  font-family: 'MyriadPro-Regular';
  margin-bottom:0px;
}
.secontinnercontents .tab-content .shiip_table  p {
    margin: 0px;
    padding: 0;
}
.secontinnercontents .tab-content textarea.form-control {
    resize: vertical;
	height:auto;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
	font-family: 'MyriadPro-Regular';
	padding: 10px 20px;
}
.form-control::-moz-placeholder {
  color: #bbbbba;
  opacity: 1;
}
.secontinnercontents label span.strred {
  color: #f00111;
}
.secontinnercontents .tab-content .form-group select,.secontinnercontents .tab-content .shiip_table select {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
  color: #bbbbba;
  font-size: 16px;
  height: 47px;
  padding: 5px 20px;
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance:none;
    background-image: url("../../images/down_arrow.png");
    background-position: 94% center;
    background-repeat: no-repeat;
	font-family: 'MyriadPro-Regular';
}
.secontinnercontents .tab-content  .col-sm-12.no_padd select{
  width: 100%;
  border: 1px solid #e1e1e1; 
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
  color: #bbbbba;
  font-size: 16px;
  height: 47px;
  padding: 5px 20px;
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance:none;
    background-image: url("../../images/down_arrow.png");
    background-position: 94% center;
    background-repeat: no-repeat;
	font-family: 'MyriadPro-Regular';
}
.secontinnercontents .tab-content  div#sub_category {
    padding-left: 0;
}
.secontinnercontents .tab-content .inputss {
    border: 0px dashed #000080 !important;
    margin-bottom: 0;
}
.rowrrAttribute {
    position: relative;
}
.close_div_rel {
    position: absolute;
    right: -6px;
    top: 43px;
    font-size: 16px;
}
button.add_new , input.add_another.add_new, a.add_new {
    border: 1px solid #8382ff;
    border-radius: 3px;
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 11px 6px;
    cursor: pointer;
    background: #fff;
    font-family: 'MyriadPro-Bold';
    color: #8382ff;
}
#buttonbrand {
    margin-right: 0;
    margin-top: 0;
}
a.add_new:hover {
    border: 1px solid #8382ff ;
	background:#8382ff ;
    color: #fff;
}

table.table.shiip_table thead th {
    background: #f5f6f1;
    font-weight: normal;
    font-size: 15px;
    border: 0px;
}
table.table.shiip_table {
    border: 1px solid #e0e0e0;
    margin-top: 25px;
}
table.table.shiip_table a.remove_locc {
    color: #9c9c99;
    font-size: 18px;
    border: 0px;
    padding: 0px;
}
table.table.shiip_table a.remove_locc:hover {
	background:transparent;
	color:#8382ff ;
}
.table.shiip_table tbody tr td {
    vertical-align: middle;
}
.table.shiip_table .form-group {
    margin-bottom:0px;
}

.secontinnercontents input[type="radio"] {
    display:none;
}
.secontinnercontents .radio {
  display: inline-block;
  margin-bottom: 0;
}
.secontinnercontents .radio label {
  padding-left:0px;
  padding-right:20px;	
}
.secontinnercontents input[type="radio"] + label span {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  margin: 0px 15px 0 0;
  vertical-align: middle;
  width: 22px;
}

.secontinnercontents .btn-default {
    color: #fff;
    background-color: #8382ff !important;
    border-color: #8382ff !important;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 25px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.18) !important;
    font-family: 'MyriadPro-Bold';
    height: auto;
    width: auto;
}
.secontinnercontents ul.list-inline li {
    padding: 0px !important;
    margin-left: 10px;
}
.sell_add_product div#tab1 ul.list-inline {
    width: auto !important;
    float: right !important;
}
.secontinnercontents .form_container ul.list-inline  {
    border-top: #e8e8e8 0px solid;
    background: none;
}
.secontinnercontents .btn-default img{ margin: 0px 10px; vertical-align:middle;}
.secontinnercontents input[type="radio"] + label span {
     background-color: #fff;
	 border: 1px solid #c9cbc7;
}

.secontinnercontents input[type="radio"]:checked + label span {
  background-color: #2c3558;
  border: 4px solid #fff;
  box-shadow: 0 0 1px #393939;
}

.secontinnercontents input[type="radio"] + label span,
.secontinnercontents input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
.secontinnercontents .upload_doc_img span.box_image {
    display: table;
    width: 100%;
    height: 165px;
}
.secontinnercontents .upload_doc_img .img_wrap {
	background: rgba(55, 187, 85, 0.05) none repeat scroll 0 0;
    border: 1px solid #e3e4de;
    border-radius: 3px;
}
.secontinnercontents .upload_doc_img .img_wrap.no_img_wrap {
    background: #f5f6f1;
    margin-bottom: 25px;
}
.secontinnercontents .bottom_upload i {
    float: right;
    color: #696969;
    font-size: 21px;
    vertical-align: middle;
    margin: 9px 15px;
    cursor: pointer;
}
.secontinnercontents .upload_doc_img .img_wrap .bottom_upload {
    background: #fff;
    border-top: 1px solid #cce9f0;
    height: 40px;
}
.secontinnercontents .upload_doc_img .img_wrap.no_img_wrap .bottom_upload {
    border-top: 1px solid #e1e3df;
}
.secontinnercontents .upload_doc_img span.box_image a {

    color: #8382ff ;
    display: inline-block;
    font-size: 17px;
    padding: 9px 30px;
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
	font-family: 'MyriadPro-Bold';
}
.secontinnercontents .upload_doc_img span.box_image input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  bottom: 0;
  display: table;
  font-size: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.upload_doc_img.detail_main {
    margin-bottom: 15px;
}
.tab_backgrundd , #AttributeView{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e1e3df !important;
    border-radius: 3px !important;
    padding: 30px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.headingollproduct.head_sub_prodct {
    color: #575757;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 20px;
}
.auct_detail i {
    background: transparent;
}
.secontinnercontents {
    background: #f5f6f1 none repeat scroll 0 0;
    float: left;
    padding: 45px 0;
    width: 100%;
}
footer {
  background:#252525;
  color: #ffffff;
  float: left;
  padding: 30px 0 20px;
  width: 100%;
}
.footercontent h6 {
  color: #ffffff;
  font-size: 17px;
  text-transform: capitalize;
}
.footercontent h6 hr {
  background: #37BB55 none repeat scroll 0 0;
  border: medium none;
  height: 1px;
  margin: 10px 0 15px;
  width: 100%;
}
.footercontent ul {
  padding-left: 0;
}
.footercontent ul li {
  background-image: url("../../images/arrow_li.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
  list-style: outside none none;
  margin-bottom: 10px;
  padding-left: 20px;
}
.footercontent ul li a {
  color: #adacac;
  font-size: 16px;
}
.footercontent.lfootres li {
  background-image: none;
  display: inline;
  margin: 0 10px 0 0;
  padding-left: 0;
}
.footercontent ul li a:hover {
  color: #37BB55;
}
.footercontent ul li a {
  color: #adacac;
  font-size: 16px;
}
.footercontent.lfootres ul li a i {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ffffff;
  height: 35px;
  line-height: 36px;
  text-align: center;
  width: 35px;
}
.footercontent .fa.fa-facebook {
  background: #3b5999 none repeat scroll 0 0;
  box-shadow: 1px 1px 3px #233355 inset;
}
.footercontent .fa.fa-twitter {
  background: #28a9e2 none repeat scroll 0 0;
  box-shadow: 1px 1px 3px #233355 inset;
}
.footercontent .fa.fa-google-plus {
  background: #d95435 none repeat scroll 0 0;
  box-shadow: 1px 1px 3px #233355 inset;
}
.footercontent .fa.fa-instagram {
  background: #aba6a0 none repeat scroll 0 0;
  box-shadow: 1px 1px 3px #233355 inset;
}
.Copyright {
  border-top: 1px solid #2e2e2e;
  float: left;
  margin-top: 20px;
  padding: 16px 0 0;
  width: 100%;
}
.Copyright p {
  color: #818181;
  font-size: 14px;
  margin-bottom: 0;
}
a.removeAttributebox .fa.fa-times-circle {
  color: #9c9c99;
  font-size: 28px;
  margin-top: 40px;
}
span.click_add button#buttonbrand {
    background: #fff;
    padding: 15px 15px;
    color: #8382ff;
    font-weight: bold;
}
a.removeAttributebox .fa.fa-times-circle:hover {
  color: #D95435;
}
.pull-right {
    float: right !important;
}
.tab_backgrundd .select2-container .select2-choice {
  background-color: transparent;
  background-image: none;
  border: 0 solid #aaaaaa;
  border-radius: 0;
  color: #a3a3a3;
  height: auto;
  line-height: 26px;
  padding: 9px 0 10px;
  box-shadow: none;
}
.tab_backgrundd .select2-container .select2-choice .select2-arrow {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../images/down_arrow.png");
  background-position: 94% center;
  background-repeat: no-repeat;
  border-left: 0 solid #aaaaaa;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
 @media screen and (min-width:320px) and (max-width:767px) {
}
@media screen and (min-width:768px) and (max-width:1023px) {
}
